@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {margin: 0;padding: 0;}
h1,h2,h3,h4,h5,h6 {font-weight: 400;color: #333;line-height: 1.4 !important;padding: 10px 0;margin-top: 10px;}
button,input,select,textarea {font-family: 'Fira Mono', "Noto Serif SC"}
ul,ol,li {list-style: none;}
a {text-decoration: none;color: #333;}
a:hover {text-decoration: underline;}
fieldset,img {border: 0;vertical-align: top;max-width: 100%;}
button,input,select,textarea {font-size: 100%;}
table {border-collapse: collapse;border-spacing: 0;}
html {font-size: 1em;}
input[type="button"],input[type="submit"],input[type="reset"] {-webkit-appearance: none;}
input,img {outline: 0}
img,svg {border: 0;vertical-align: middle}
:focus {outline: 0}
::selection {background: rgba(0, 0, 0, .1);color: #000;}
::-webkit-scrollbar {width: 6px;height: 6px;}
div::-webkit-scrollbar {width: 6px;height: 6px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {border-radius: 6px;background: #bcbcbc;}
::-webkit-scrollbar-thumb:window-inactive {background: #a8a8a8;}
::-webkit-scrollbar-thumb:vertical:hover {background-color: #a8a8a8;}
::-webkit-scrollbar-thumb:vertical:active {background-color: #a8a8a8;}
* {box-sizing: border-box;-moz-box-sizing: border-box;-o-box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;-webkit-tap-highlight-color: transparent;}
a strong {cursor: pointer;outline: 0;}
.wrap {max-width: 700px;margin: 0 auto;padding: 20px 30px 50px;position: relative;min-width: 319px;background-color: #fff;transition: background-color .3s ease;z-index: 5;border-bottom: 1px solid #eee;padding-top: 60px;}
.dark .wrap{border-color: #333;background-color: #121212;}
body{padding-bottom:180px;}
.head {position: relative;}
.head .logo {display: flex;text-align: center;height: 48px;position: relative;text-align: left;justify-content: left;align-items: center;color: #333;font-size: 24px;}
.head .logo svg {height: 30px;transition: fill .3s ease;fill: #333;animation-duration: 1000ms;animation-timing-function: ease-in-out;margin-right: 10px;}
.dark .head .logo svg {fill: #fff !important;}
.dark .head .logo {color: #fff;}
.nav_box_bottom{position: fixed;top:auto;right:-60px;bottom:20px;background: #fff;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);z-index: 999;display: flex;justify-content: center;align-items: center;width: 48px;height: 48px;border-radius: 100%;cursor: pointer;transition: right .3s ease, opacity .3s ease;opacity: 0;}
.switch_light_bottom{position: fixed;top:auto;right:20px;bottom:20px;background: #fff;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);z-index: 999;display: flex;justify-content: center;align-items: center;width: 48px;height: 48px;border-radius: 100%;cursor: pointer;transition:bottom .3s ease;}
.nav_view .nav_box_bottom{z-index: 0;}
.nav_view .switch_light_bottom{z-index: 0;}
.nav_box_bottom:hover{background: #fff;}
.switch_light_bottom:hover{background: #fff;}
.show_bottom_nav .nav_box_bottom{right:20px;opacity: 1;}
.show_bottom_nav .switch_light_bottom{bottom:78px;}
.dark .nav_box_bottom{background: #333;}
.dark .nav_box_bottom svg{fill: #ddd;}
.dark .switch_light_bottom{background: #333;}
.dark .switch_light_bottom svg{fill: #ddd;}
.nav_box {position: absolute;right: 0;top: 0;display: flex;justify-content: center;align-items: center;width: 48px;height: 48px;border-radius: 100%;cursor: pointer;}
.nav_box:hover {background: rgba(0, 0, 0, .1);}
.dark .nav_box:hover {background: rgba(255, 255, 255, .1);}
.nav_box svg {fill: #333;}
.dark .nav_box svg {fill: #ddd;}
body.nav_view .nav_list_wrap {opacity: 1;pointer-events: auto;}
.nav_list_wrap {background: rgba(255, 255, 255, .5);transition: opacity .3s ease;position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 378197479;opacity: 0;pointer-events: none;}
.dark .nav_list_wrap {background: rgba(0, 0, 0, .5);}
.nav_list {background: #fff;width: 260px;height: 100%;box-shadow: 0 0 15px rgba(0, 0, 0, .1);position: absolute;right: 0;top: 0;padding: 30px 30px 100px;overflow-y: auto;transition: transform .3s ease;transform: translateX(100px);}
body.nav_view .nav_list {transform: translateX(0);}
body.nav_view .special_enevts{opacity: 0;}
.dark .nav_list {background: #121212;}
.nav_list li {border-radius: 5px;}
.nav_list li:hover {background: rgba(0, 0, 0, .06);}
.nav_list li.claim {color: #999;font-size: 12px;text-align: center;padding: 20px 0;width: 100%;}
.dark .nav_list li:hover {background: rgba(255, 255, 255, .1);}
.nav_list li.claim:hover {background: transparent;}
.dark .nav_list li.claim:hover {background: transparent;}
.nav_list li a {font-size: 16px;display: block;padding: 10px;line-height: 1.5;color: #333;}
.dark .nav_list li a {color: #ddd;}
.nav_list li a svg {fill: #333;width:24px;margin-right:5px;position: relative;top:-1px}
.dark .nav_list li a svg {fill: #ddd;}
.nav_list li.sep {padding: 0;margin: 10px 0;height: 1px;background: #eee;}
.dark .nav_list li.sep {background: #333;}
.nav_list li.sep:hover {background: transparent;}
.head a {font-size: 13px;}
.article li {font-size: 18px;margin-bottom: 30px;transition: transform .3s ease;position: relative;padding-left: 120px;}
.article li a{transition: color .3s ease;}
.article li:hover a{color:#333;}
.dark .article li:hover a{color:#ddd;}
.article li a{display: block;text-decoration: none;}
.article li:hover a .title{text-decoration: underline;}
.article li .sum{font-size:15px;line-height: 1.7;color:#333;}
.dark .article li .sum{color:#ddd;}
.article li .sum a{margin-top: 5px;display: inline-block;}
.article li .tags{padding:3px 0 5px;margin-top:5px;}
.article li .tags span{font-size: 12px;padding:5px 10px;border-radius: 20px;margin-right: 5px;background: #f6f6f6;color:#000;display: inline-block;margin-top:5px;}
.dark .article li .tags span{background: #333;color:#ddd;}
.article li .title {display: block;padding: 15px 0 5px;line-height: 1.4;font-size: 22px;}
.article li .title:hover {text-decoration: underline;}
.article li .date {font-size: 12px;color: #777;flex-shrink: 0;display: block;margin-bottom: 14px;position: absolute;left:0;top:18px;font-style: italic;font-family: "Noto Serif SC";}
.article li .date .y{font-weight: bold;font-style: normal;font-size: 16px;color:#333;}
.dark .article li .date .y{color:#ccc;}
.article li .en_sub {float: left;width: 100%;white-space: nowrap;text-overflow: ellipsis;color: #999;}
.article li .en_sub:hover {text-decoration: underline;}
.footer {font-size: 12px;line-height: 30px;text-align: center;width:100%;position: fixed;bottom:70px;z-index: 1;left:0;}
span.f12 {font-size: 12px;font-weight: 500;}
span.italic {font-style: italic;}
span.white {color: #fff;background-color: #333;}
.demo {padding: 10px;width: 100%;overflow: auto;-webkit-overflow-scrolling: touch;}
.album {box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);margin-bottom: 30px !important;border-radius: 5px;}
h1 {font-size: 42px;line-height: 56px;font-family:"Noto Serif SC";}
h1 code {font-size: 24px !important;}
h2 {font-size: 28px;line-height: 52px;font-family:"Noto Serif SC";}
h3 {font-size: 26px;line-height: 48px;font-family:"Noto Serif SC";}
h4 {font-size: 24px;line-height: 44px;font-family:"Noto Serif SC";}
h5 {font-size: 22px;line-height: 40px;font-family:"Noto Serif SC";}
h6 {font-size: 20px;line-height: 36px;font-family:"Noto Serif SC";}
/**/.gt-container .gt-comment-admin .gt-comment-content {background-color: rgba(0, 0, 0, .05) !important;}
/**/html {min-height: 100%;}
body {min-height: 100%;font-size: 1em;}
a.goback {position: fixed;bottom: 20px;top: auto !important;background-color: rgba(0, 0, 0, .5);backdrop-filter: blur(20px) saturate(180%);-webkit-backdrop-filter: blur(20px) saturate(180%);border-radius: 40px;height: 40px;width: 100px;display: flex;justify-content: center;align-items: center;color: #fff;font-size: 14px;z-index: 998;opacity: 1;left: 20px;transition: bottom .3s ease;}
a.goback svg {fill: #fff;}
body.submiting .howisit .hand {opacity: 0.5;pointer-events: none;}
body.submiting .howisit .wait {display: block;}
.howisit .wait {animation: spin 1s linear infinite;border: 2px solid #999;width: 10px;height: 10px;border-radius: 10px;border-top-color: transparent;display: none;}
.howisit .error {color: red;font-size: 12px;}
@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}
.howisit .hand {border: 1px solid #ddd;border-radius: 5px;padding: 10px;cursor: pointer;}
.howisit .hand:hover {box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16)}
.howisit .bad {margin-left: 10px;margin-right: 10px;}
.howisit .hand svg {fill: #666;}
.howisit .hand svg:active {fill: #333;}
.tip {max-width: 280px;border-radius: 5px;color: #fff;padding: 20px;font-size: 14px;line-height: 1.5;position: fixed;bottom: 20px;right: -300px;z-index: 999;box-shadow: 0 0 15px rgba(0, 0, 0, .16);background-image: linear-gradient(135deg, #555 10%, #000 100%);}
.tip.show {animation: fadein .5s ease forwards;}
.tip.off {animation: fadeout .5s ease forwards;}
@keyframes fadein {
    0% {right: -300px;}
    100% {right: 20px;}
}
@keyframes fadeout {
    0% {right: 20px;}
    100% {right: -300px;}
}
.tip .close {width: 40px;height: 40px;margin-top: 17px;line-height: 36px;color: #333;text-align: center;border-radius: 40px;border: 2px solid #fff;margin: 0 auto;cursor: pointer;font-size: 14px;}
.tip .close svg {fill: #fff;}
.tip .close:hover {background: #fff;}
.tip .close:hover svg {fill: #000;}
.article_out {position: relative;z-index: 3;}
.loading {position: fixed;animation: spin .5s linear infinite;border: 2px solid #333;width: 50px;height: 50px;top: 50%;left: 50%;margin-top: -25px;margin-left: -25px;border-radius: 100%;border-top-color: transparent;pointer-events: none;}
body.dark .loading {border-color: #eee;border-top-color: transparent;}
@keyframes spin {
    0% {transform: rotate(0)}
    100% {transform: rotate(360deg)}
}
.prog {width: 0;height: 3px;background: rgba(0, 0, 0, .5);position: fixed;top: 0;left: 0;z-index: 999;display: none;backdrop-filter: blur(20px) saturate(180%);-webkit-backdrop-filter: blur(20px) saturate(180%);transition: border-radius .3s ease;border-radius: 0 3px 3px 0;}
.prog.end {border-radius: 0;}
.links li {font-size: 18px;margin-bottom: 12px;}
.comment {width: 100%;}
.in_article .comment {display: block;margin-top:30px;}
.no_comment {text-align: center;line-height: 1.1;font-size: 12px;color: #666;margin-bottom: 20px;display: none;}
.github_logo {width: 24px;height: 24px;margin-top: -5px;margin-left: 3px;margin-right: 3px;}
.login_with_github {width: 280px;margin: 0 auto;border-radius: 8px;line-height: 50px;height: 50px;background: #fff;cursor: pointer;font-size: 16px;text-align: center;margin-bottom: 20px;display: none;margin-top:30px;}
body.dark .login_with_github {background: #555;color: #ddd;}
.login_with_github svg {width: 24px;height: 24px;position: relative;top: -2px;}
body.dark .login_with_github svg {fill: #fff;}
.login_with_github:hover svg {fill: #fff;}
body.dark .login_with_github:hover svg {fill: #fff;}
body.dark .login_with_github:hover {color: #fff;background-image: linear-gradient(135deg, #999 10%, #555 100%);}
.github_logo_light {display: none;width: 24px;height: 24px;margin-top: -5px;margin-left: 3px;margin-right: 3px;}
.login_with_github:hover {background-image: linear-gradient(135deg, #777 10%, #333 100%);color: #fff;text-decoration: underline;}
.login_with_github:hover .github_logo_light {display: inline-block;}
.login_with_github:hover .github_logo {display: none;}
.login_with_github:active {background: #fff;}
.loading_comment {display: flex;justify-content: center;font-size: 14px;color: #888;align-items: center;margin-bottom: 20px;}
.loading_settings {display: flex;justify-content: center;font-size: 14px;color: #888;align-items: center;margin-bottom: 20px;}
.loading_comment_ani {animation: spin .5s linear infinite;border-radius: 100%;border: 2px solid #888;width: 14px;height: 14px;border-top-color: transparent;margin-left: 10px;}
.comment_wrap {width: 100%;margin-bottom: 20px;}
.comment_wrap .comment_user {margin-bottom: 10px;}
.comment_li {border-bottom: 1px solid #eee;margin-bottom: 20px;}
.comment_li .comment_user .username {margin-top: 0;line-height: 32px;}
.deletePending {pointer-events: none;opacity: 0.5;}
body.dark .comment_li {border-bottom: 1px solid #333;}
.comment_li:last-child {border-bottom: 1px solid transparent !important;}
.comment_li:after {clear: both;display: block;content: '';}
.comment_user:after {clear: both;display: block;content: '';}
.comment_user a:after {clear: both;display: block;content: '';}
.comment_user a {float: left;line-height: 32px;height: 32px;}
.comment_user .comment_time {font-size: 12px;float: right;color: #999;margin-top: 3px;width: 100%;line-height: 18px;}
.comment_to {float: left;font-size: 12px;color: #999;margin: 0 10px;line-height: 32px;}
.username {float: right;height: 20px;margin-top: 17px;line-height: 20px;display: none;font-size: 14px;}
body.dark .username {color: #eee;}
body.dark .username span.user {color: #3d94eb}
body.dark .comment_user .username {color: #3d94eb}
.comment_wrap .username {display: block;}
.comment_widget:after {clear: both;display: block;content: '';}
.comment_widget {display: flex;margin-bottom: 10px;margin-top: 10px;}
.js_do {margin-right: 10px;float: left;cursor: pointer;font-size: 14px;color: #888;width: 80px;height: 36px;border-radius: 36px;text-align: center;line-height: 36px;}
.dark .js_do {color: #aaa;}
.js_do:hover {background: rgba(0, 0, 0, .1);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);color:#333;}
body.dark .js_do:hover {background: rgba(255, 255, 255, .1);}
.js_do svg {fill: #888;width: 24px;height: 24px;}
body.dark .js_do svg {fill: #999;}
.js_do svg {position: relative;top: -2px;}
.js_do._delete svg {top: 0;}
.js_do._abs {margin-right: 0;float: right;}
.js_do:hover svg {fill: #000;}
body.dark .js_do:hover svg {fill: #eee;}
.dark .js_do:hover {color: #ddd;}
blockquote .comment_li {border-bottom: none;}
blockquote .comment_content {padding-bottom: 0;}
.quit_login {float: right;font-size: 14px;}
.text_count {color: #999;font-size: 12px;line-height: 30px;float: right;}
.text_count:after {clear: both;display: block;content: '';}
.text_count span {color: #777;}
.js_send_wrap {margin-top: 10px;}
.js_send_wrap:after {clear: both;display: block;content: '';}
.js_send {border-radius: 5px;background: #333;color: #fff;padding: 8px 30px;float: left;}
.js_send svg {width: 18px;height: 18px;vertical-align: middle;}
.tips {position: fixed;width: 250px;z-index: -21474;height: 100%;right: 0;pointer-events: none;opacity: 0;padding-top: 20px;top: 0;z-index: 2147483348;opacity: 1;}
.tips .tp {margin-bottom: 10px;transform: translateX(100%);width: 100%;padding: 10px;color: #fff;background-color: #000;border-radius: 5px 0 0 5px;animation: tp .5s ease-in-out;animation-fill-mode: forwards;opacity: 0;font-size: 14px;position: relative;overflow: hidden;}
body.dark .tips .tp {background-color: #555;}
.tips .tp.error {background-color: #FF0033;}
.tips .tp.success {background-color: #3399FF;}
body.dark .tips .tp.error {background-color: #e0002d;}
body.dark .tips .tp.success {background-color: #2d8ae6;}
.tips .tp .pss {height: 2px;position: absolute;bottom: 0;left: 0;background-color: #fff;animation: pss linear forwards;}
.tips .tp.standby .pss {animation: pssr linear infinite;}
.tips .tp.r {animation: tpr .8s ease-in-out;animation-fill-mode: forwards;}
@keyframes pss {
    0% {width: 0}
    100% {width: 100%}
}
@keyframes pssr {
    0% {width: 30px;transform: translateX(-30px);}
    100% {width: 30px;transform: translateX(250px);}
}
@keyframes tp {
    0% {transform: translateX(100%);opacity: 0}
    100% {transform: translateX(0);opacity: 1}
}
@keyframes tpr {
    0% {transform: translateX(0);opacity: 1;max-height: 100px;padding: 10px 10px;}
    62.5% {transform: translateX(100%);opacity: 0;max-height: 100px;padding: 10px 10px;}
    100% {transform: translateX(100%);opacity: 0;max-height: 0px;padding: 0px 10px;}
}
.md_tip {font-size: 12px;line-height: 24px;color: #999;}
.md_tip svg {fill: #999;width: 18px;height: 18px;margin-top: -3px;}
.comment_building {text-align: center;margin-bottom: 20px;}
.comment_building svg {fill: #333;}
.text_tools {display: flex;justify-content: flex-start;align-items: center;}
.text_tools .action {width: 36px;height: 36px;border-radius: 36px;}
.text_tools .action:hover {background: rgba(0, 0, 0, .1);}
.settings_input {display: flex;align-items: center;cursor: pointer;user-select: none;flex-wrap: wrap;padding: 10px 0;}
.no_flex {display: block;}
.settings_input:hover svg {fill: #333;}
body.dark .settings_input:hover svg {fill: #ddd;}
.settings_input svg {fill: #555;display: none;margin-right: 3px;}
body.dark .settings_input svg {fill: #999;}
.settings_input[data-checked="0"] svg.check {display: block;}
.settings_input[data-checked="1"] svg.checked {display: block;}
.settings_btn {padding: 6px 10px;font-size: 14px;border-radius: 5px;box-shadow: 1px 1px 3px rgba(0, 0, 0, .08);margin-right: 5px;}
body.dark .settings_btn {background: #333;}
body.dark .settings_btn.disabled {background: #222;color: #555;}
.settings_btn.delete {color: #FF0033;}
.settings_btn.delete:hover {background: #FF0033;}
.settings_btn:hover {background: #333;color: #fff;}
.settings_btn:active {transform: scale(0.95);box-shadow: none;}
.settings_btn.disabled {background: #ccc;color: #fff;cursor: not-allowed;box-shadow: none;}
.settings_btn.disabled:active {transform: scale(1);}
.no_user {height: 300px;display: flex;justify-content: center;align-items: center;display: none;}
.settings_input .gray {color: #888;font-size: 14px;}
.settings_input .note {color: #999;font-size: 12px;line-height: 26px;}
.dark_wrap {background: rgba(0, 0, 0, .5);height: 40px;border-radius: 40px;display: flex;justify-content: center;align-items: center;cursor: pointer;position: fixed;z-index: 2037483630;padding: 0 15px;color: #fff;font-size: 12px;right: 20px;bottom: 20px;backdrop-filter: saturate(180%) blur(20px);-webkit-backdrop-filter: saturate(180%) blur(20px);transition: bottom .3s ease;user-select: none;min-width: 100px;}
.dark_wrap span {line-height: 1.1;}
.dark_wrap svg {fill: #fff;}
html {height: 100%;}
body {min-height: 100%;}
body.dark {background-color: #121212;}
body.dark h1,body.dark h2,body.dark h3,body.dark h4,body.dark h5,body.dark h6 {color: #ddd;}
body.dark blockquote {background: transparent;}
body.dark .dark_wrap {background: rgba(255, 255, 255, .5);color: #fff;}
body.dark .dark_wrap svg {fill: #fff;}
body.dark .footer {color: #ddd;}
body.dark .article li .date {color: #ccc;}
body.dark a {color: #5a91f7;}
body.dark .comment_content {color: #ddd;}
body.dark ol,body.dark ul {color: #ddd;}
body.dark .demo {background: #1a1a1a;border-radius: 5px;}
body.dark .goback {background: rgba(255, 255, 255, .5);}
body.dark .goback svg {fill: #fff;}
body.dark .settings_input {color: #ddd;}
body.dark .last_update {color: #bbb;}
.last_update {color: #555;margin-left: 15px;font-size: 14px;font-style: italic;}
.comment_box_wrap {background: rgba(0, 0, 0, .8);position: fixed;z-index: 2047483632;width: 100%;height: 100%;top: -99999px;left: 0;display: flex;justify-content: center;align-items: center;transition: opacity .3s ease;opacity: 0;overflow: hidden;}
.dark .comment_box_wrap {background: rgba(0, 0, 0, 1);}
.comment_box_wrap.disabled .comment_box {pointer-events: none;}
.comment_box_wrap.on {opacity: 1;}
.comment_box {background: #fff;max-width: 840px;width: 100%;overflow-y: auto;padding: 50px 20px 0;margin: 0 auto;height: 100%;position: relative;overflow-x: hidden;}
body.dark .comment_box {background: #000;}
body.dark .comment_box {color: #ddd;}
.comment_title {font-size: 24px;color: #333;line-height: 1.4;padding-bottom: 20px;height: 54px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.dark .comment_title {color: #ddd;}
.comment_text {height: calc(100% - 233px);}
.comment_text textarea {width: 100%;height: 100%;border: 1px solid #eee;border-radius: 5px;padding: 10px;resize: none;font-size: 14px;background: transparent;}
.dark .comment_text textarea {color: #ddd;}
.comment_text .claim {display: block;height: 24px;line-height: 24px;font-size: 14px;color: #999;}
.comment_box .comment_widget {display: flex;align-items: center;height: 50px;margin-top: 10px;}
.comment_widget .comp {padding: 0 20px;border-radius: 5px;font-size: 14px;height: 40px;display: flex;align-items: center;margin-right: 10px;border: 1px solid #333;cursor: pointer;}
.comment_widget .comp svg {fill: #333;margin-left: 5px;}
.publish.comp {background: #333;color: #fff;}
.publish.comp svg.wait {display: none;}
.disabled .publish.comp svg.pub {display: none;}
.disabled .publish.comp {opacity: .6;}
.disabled .publish.comp svg.wait {display: inline;animation: spin .6s linear infinite;}
.publish.comp:hover {background: #000;}
.preview.comp:hover {background: #ededed;}
.dark .preview.comp:hover {background: #666;border-color: #666;}
.dark .preview {border-color: #ddd;}
.dark .preview svg {fill: #ddd;}
.publish.comp svg {fill: #fff;}
.comment_close {color: #FF0033;border-radius: 5px;font-size: 14px;height: 40px;display: flex;align-items: center;justify-content: center;border: 1px solid #FF0033;cursor: pointer;width: 150px;margin-bottom: 50px;}
.dark .comment_close {color: #ff5b7c;border-color: #ff5b7c;}
.comment_close svg {fill: #FF0033;}
.dark .comment_close svg {fill: #ff5b7c;}
.comment_close:hover {background: #FF0033;color: #fff;}
.comment_close:hover svg {fill: #fff;}
.dark .comment_close:hover {background: #ff5b7c;color: #fff;}
.preview_box {position: absolute;top: 0;left: 0;background: #fff;height: 100%;width: 100%;padding: 20px;transition: transform .3s ease, opacity .2s ease;transform: translateX(50px);box-shadow: 0 0 15px rgba(0, 0, 0, 0);overflow-y: auto;padding-top: 94px;opacity: 0;pointer-events: none;}
.dark .preview_box {background: #000;}
.preview_box.on {transform: translateX(0);box-shadow: 0 0 15px rgba(0, 0, 0, .1);opacity: 1;pointer-events: auto;}
.preview_title {font-size: 24px;margin-bottom: 20px;position: absolute;top: 10px;left: 0;width: 100%;padding: 0 20px 10px;border-bottom: 1px solid #ddd;background: #fff;line-height: 44px;}
.dark .preview_title {background-color: #000;}
.preview_title:after {clear: both;content: '';display: block;}
.preview_title .close {float: right;width: 44px;height: 44px;border-radius: 44px;display: flex;justify-content: center;align-items: center;cursor: pointer;}
.dark .preview_title .close svg {fill: #fff;}
.preview_title .close:hover {background: rgba(0, 0, 0, .1);}
.dark .preview_title .close:hover {background: rgba(255, 255, 255, .1);}
body.dark *::selection {background: rgba(255, 255, 255, .3) !important;color:#fff;}
body.dark code::selection {background: rgba(255, 255, 255, .3) !important;color:#fff;}
body.inwidget {overflow: hidden;}
.comment_after .comment_widget {margin-bottom: 10px;}
@keyframes slideOut {
    0% {opacity: 0.5;}
    100% {opacity: 0;}
}
.article_time {color: #666;line-height: 24px;font-size: 14px;font-style: italic;display: inline-block;}
.dark .article_time{color:#ccc}
.confirm_box_wrap {background: rgba(0, 0, 0, .8);position: fixed;left: 0;display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;padding: 20px;transition: opacity .3s ease;opacity: 0;top: -99999px;z-index: 2037483631;}
.dark .confirm_box_wrap {background: rgba(0, 0, 0, .8);}
.confirm_box_wrap.on {opacity: 1;}
.confirm_box_wrap.up {top: 0;}
.confirm_box {width: 400px;padding: 20px;background: #fff;border-radius: 5px;max-width: 100%;}
.dark .confirm_box {background: #222;}
.confirm_box_title {font-size: 18px;line-height: 1.4;margin-bottom: 20px;color: #333;}
.dark .confirm_box_title {color: #ddd}
.confirm_box_btn {display: flex;justify-content: space-around;align-items: center;}
.confirm_box_btn ._btn {padding: 10px 20px;color: #666;border-radius: 5px;text-decoration: none;font-size: 18px;}
.dark .confirm_box_btn ._btn {color: #ddd;}
.confirm_box_btn ._btn._accecpt {color: #000;font-weight: bold;}
.dark .confirm_box_btn ._btn._accecpt {color: #fff;font-weight: bold;}
.confirm_box_btn ._btn:hover {background: rgba(0, 0, 0, .1);}
.dark .confirm_box_btn ._btn:hover {background: rgba(255, 255, 255, .1);}
svg {outline: none;-webkit-appearance: none}
.dark img {filter: brightness(.92) !important;}
.confirm_icon {height: 50px;text-align: center;}
.confirm_icon svg {width: 30px;height: 30px;fill: #333;}
.dark .confirm_icon svg {fill: #ddd;}
code {color: #000;}
mark {background: bisque;}
.dark em {color: #aaa;}
a {color: #0366d6;}
.article_out img {cursor: pointer;}
.img_wrap_box {position: fixed;top: -99999px;left: 0;width: 100%;height: 100%;background: rgba(255, 255, 255, .8);opacity: 0;transition: opacity .3s ease;display: flex;align-items: center;justify-content: center;flex-wrap: wrap;z-index: 2037483631;}
.dark .img_wrap_box {background: rgba(0, 0, 0, .8);}
.img_wrap_box.on {opacity: 1;}
.img_wrap_box.up {top: 0;}
.img_wrap_box .detailed_img {position: relative;opacity: 0;margin: 0;cursor: pointer;max-height: 100%;max-width: 100%;}
.img_wrap_box .detailed_img.t {transition: opacity .3s ease;opacity: 1;}
.isAuthor {padding: 2px 3px;border-radius: 3px;background: #eee;color: #666;font-size: 12px;position: relative;top: 0;margin-left: 5px;}
.dark .isAuthor {padding: 2px 3px;border-radius: 3px;background: #666;color: #ddd;font-size: 12px;position: relative;top: 0;margin-left: 5px;}
.img_wrap_box .img_loading {border: 2px solid #333;border-radius: 100%;width: 40px;height: 40px;position: absolute;top: 50%;left: 50%;margin-top: -40px;margin-left: -20px;border-top-color: transparent;animation: spin .5s linear infinite;opacity: 1;transition: opacity .3s ease;}
.img_wrap_box .img_loading.done {opacity: 0;}
.article_out {line-height: 1.9;color: #333;font-size:18px;}
.dark .article_out {color: #ddd;}
.article_out p {margin-top: 10px;margin-bottom: 10px;}
.article_out code {font-family: 'Fira Mono', 'Noto Serif SC';color: #c74545;border-radius: 3px;padding: 3px 5px;margin: 0 3px;font-size: 14px;border: 1px solid #eee;font-weight: bold;}
code.hljs {border: none;}
.dark .article_out code {color: #ff6c6c;border-color: #ddd;}
.article_out code.hljs {margin: 0 0;padding: 10px;color: #333;}
.dark .article_out code.hljs {color: #ddd;}
blockquote {margin: 0;margin-bottom: 10px;padding: 0 10px;border-left: 4px solid #999;}
.dark blockquote {background-color: rgba(255, 255, 255, .05);}
.article_out code.text {border: none;display: block;overflow-x: auto;color: #383a42;font-family: 'Fira Mono', 'Noto Serif SC';font-size: 14px;margin: 0 0 5px;padding: 10px;}
.dark .article_out code.text {color: #ddd;}
.comment_content {font-size: 16px;}
.comment_text textarea {font-family: 'Fira Mono', 'Noto Serif SC';}
.preview_content {height: 100%;overflow-y: auto;}
.article_out img {display: block;margin: 20px auto;border-radius: 5px;}
/* highlight css */.hljs {display: block;overflow-x: auto;color: #383a42;background: #fafafa;font-family: 'Fira Mono', 'Noto Serif SC';font-size: 14px;background: transparent;}
.hljs-comment,.hljs-quote {color: #a0a1a7;font-style: italic}
.hljs-doctag,.hljs-keyword,.hljs-formula {color: #a626a4}
.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst {color: #a4433a}
.hljs-literal {color: #0184bb}
.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string {color: #407f3f}
.hljs-built_in,.hljs-class .hljs-title {color: #845a00}
.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number {color: #986801}
.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title {color: #4078f2}
.hljs-emphasis {font-style: italic}
.hljs-strong {font-weight: bold}
.hljs-link {text-decoration: underline}
.dark .hljs {color: #abb2bf;}
.dark .hljs-comment,.dark .hljs-quote {color: #5c6370;}
.dark .hljs-doctag,.dark .hljs-keyword,.dark .hljs-formula {color: #c678dd}
.dark .hljs-section,.dark .hljs-name,.dark .hljs-selector-tag,.dark .hljs-deletion,.dark .hljs-subst {color: #e06c75}
.dark .hljs-literal {color: #56b6c2}
.dark .hljs-string,.dark .hljs-regexp,.dark .hljs-addition,.dark .hljs-attribute,.dark .hljs-meta-string {color: #98c379}
.dark .hljs-built_in,.dark .hljs-class .dark .hljs-title {color: #e6c07b}
.dark .hljs-attr,.dark .hljs-variable,.dark .hljs-template-variable,.dark .hljs-type,.dark .hljs-selector-class,.dark .hljs-selector-attr,.dark .hljs-selector-pseudo,.dark .hljs-number {color: #d19a66}
.dark .hljs-symbol,.dark .hljs-bullet,.dark .hljs-link,.dark .hljs-meta,.dark .hljs-selector-id,.dark .hljs-title {color: #61aeee}
.article_out ul {padding-left: 35px;list-style: disc;}
.article_out ul li {list-style: inherit;}
.article_out ol {padding-left: 35px;list-style: decimal !important;}
.article_out ol li {list-style: inherit !important;}
.article_out {word-break: break-word;}
.article_out pre {margin-bottom: 10px;}
.article_out pre code {word-break: normal;}
.article_out table {border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;max-width: 100%;}
.article_out table td {padding: 10px;border-top: 1px solid #ddd;border-right: 1px solid #ddd;}
.article_out table th {padding: 10px;border-top: 1px solid #ddd;border-right: 1px solid #ddd;}
.license_wrap {text-align: left;font-size: 12px;margin: 20px 0;line-height: 1;padding: 40px 0;}
.dark .license_wrap {}
.license_wrap a {margin: 0;padding: 0;display: inline;line-height: 1.5;}
.license_wrap a.license {line-height: 1;}
.license_wrap a img {margin-bottom: 10px;margin-left: 0;padding: 0;margin: 0;display: block;height: 31px;}
.mt {box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);}
hr {height: 3px;border-radius: 3px;border: none;box-shadow: none;background: #ddd;}
.dark hr {background: #555;}
pre {border-radius: 5px;}
ul.links {margin-top: 20px;}
.deleted_tag {background: #999;color: #fff;font-size: 12px;border-radius: 3px;padding: 3px 5px;display: inline-block;font-style: italic;margin-bottom: 5px;}
.dark .deleted_tag {background: #333;color: #ccc;}
.footer svg {fill: #333;}
.dark .footer svg {fill: #ddd;}
body {font-family: 'Fira Mono', 'Noto Serif SC', 'Microsoft Yahei';}
.dark h4 svg {fill: #ddd;}
.page_count {margin: 20px auto;text-align: center;}
.page_count a{padding: 10px 20px;border-radius: 5px;color:#333;background: rgba(0, 0, 0, .05);}
.dark .page_count a {color: #ddd;background: rgba(255, 255, 255, .05);}
.page_count a:hover{background: rgba(0, 0, 0, .08);}
.dark .page_count a:hover {background: rgba(255, 255, 255, .08);}
.which_page{font-size: 12px;}
.page_guide{text-align: center;font-size: 14px;}
.dark .page_guide{color:#ddd;}
.special_enevts{font-size: 12px;height: 40px;position: absolute;transform-style: preserve-3d;transition: transform .5s ease;transform: rotateX(0deg);pointer-events: none;top:4px;width:calc(100% - 96px);left:48px;transform: rotateX(0deg);z-index: 1;}
.special_enevts ._block{position: absolute;width:100%;top:0;left:0;height: 40px;line-height: 40px;backface-visibility:hidden;text-align: center;background: #fff;}
.dark .special_enevts ._block{background: #000;color:#ddd;}
.special_enevts ._block.front{transform: translateZ(20px) rotateX(0deg);}
.special_enevts ._block.back{transform: translateZ(-20px) rotateX(180deg);}
.special_enevts ._block.top{transform: translateZ(0px) translateY(-20px) rotateX(90deg);}
.special_enevts ._block.bottom{transform: translateZ(0px) translateY(20px) rotateX(270deg);}
@keyframes xpin{
    0%{transform: perspective(1200px) rotateX(0deg)}
    100%{transform: perspective(1200px) rotateX(360deg)}
}
body.t{transition: background-color .3s ease;}
.share_zone{margin-top:20px;}
.share_zone a{display: flex;align-items: center;height: 48px;color:#333;}
.share_zone span{display: flex;align-items: center;height: 48px;color:#333;}
.dark .share_zone span{color:#ddd;}
.dark .share_zone a{color:#ddd;}
.share_zone svg{width:22px;margin-right:10px;fill:#333;}
.dark .share_zone svg{fill:#ddd;}
.banner{position: relative;width:100%;overflow:hidden;transform: translateY(0);transition: background-color .3s ease;padding-bottom: 10px;}
.banner canvas{position: absolute;z-index: 1;height: 320px;filter: brightness(.8);width:100%;opacity: 0;}
.banner.on canvas{animation: fadeIn 1s ease;animation-fill-mode: forwards}
.dark .banner canvas{filter: brightness(.6);}
body.dark h1{color:#fff}
.banner_wrap{padding:30px 30px 0;margin:0 auto;position: relative;z-index: 3;padding-left: 50px;}
.article_out video{width:100%;background-color: #333;border-radius: 5px;}
.post_title span{font-size:14px;line-height: 1.7;}
.nav_list .home{height:60px !important;}
.nav_list .home a{font-size:24px;height:60px !important;line-height:40px !important;}
.nav_list .home a svg{height: 24px;position: relative;top:-2px}
.nav_list .home a:hover{text-decoration: none}
.post_title_wrap{position: relative; z-index: 2;padding-left: 30px;margin-top: 80px;}
.post_title{font-size: 42px;line-height: 48px !important;padding:0 20px !important;margin: 0 auto !important;font-family: "Noto Serif SC";}
.post_title.center{text-align: center;}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.deprecated{background:#d84646;border-radius: 5px;padding:5px 10px;color:#fff;font-size:14px;display: inline;line-height: 1;text-decoration: none !important;}
.article li:hover .title .deprecated{text-decoration: none !important;}
.deprecated.index{margin-left:5px;position: relative;top:-2px;}
.dark .deprecated{background: #c73f3f;}

#disqus_thread{border-radius: 8px;padding: 15px 0;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);width:300px;margin:20px auto 0;text-align: center;cursor: pointer;color:#333;}
.dark #disqus_thread{color:#ddd;background-color: #555;}
#disqus_thread.on{border-radius: 0;padding: 0;box-shadow: none;width:100%;margin:20px auto 0;text-align: left;cursor: default;background-color: transparent;}
.article_out .sample{margin: 20px 0;width:260px;border: 1px solid #eee;border-radius: 5px;text-align: center;padding:10px;}

.ui-photos{min-height: 800px;}
.ui-photos ul,.ui-photos li{list-style: none;margin:0;padding:0;}
.ui-photos:after{clear:both;content: '';display: block;}
.ui-photos{padding-top: 10px;}
.ui-photos ul{float: left;width: 50%;}
.ui-photos ul.left{padding-right: 10px;}
.ui-photos ul.right{padding-left: 10px;}
.ui-photos ul li{background-color: #fff;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);border-radius: 5px;cursor: pointer;overflow: hidden;margin-bottom: 24px;animation: show_photo .3s ease;animation-fill-mode: forwards;opacity: 0;transform: translateY(-10px);}
@keyframes show_photo{
    0%{opacity: 0;transform: translateY(-10px);}
    100%{opacity: 1;transform: translateY(0px);}
}
.ui-photos ul li a:hover{text-decoration: none;}
.dark .ui-photos ul li{background-color: #121212;}
.ui-photos ul li img{max-width: 100%;height: auto;}
.ui-photos ul li svg{width: 16px;vertical-align: middle;height: 16px;fill: #333;}
.dark .ui-photos ul li svg{fill: #aaa;}
.ui-photos ul li .photo_info{padding:20px}
.ui-photos ul li .photo_date{color:#999;font-size: 12px;margin-bottom: 8px;}
.ui-photos ul li .photo_des{font-size: 18px;font-weight: bold;color:#333;font-style: italic;margin-bottom: 8px;}
.dark .ui-photos ul li .photo_des{color:#ddd;}
.ui-photos ul li .camera_info{font-size: 12px;color:#666;}
.ui-photos ul li .lens_info{font-size: 12px;margin-bottom: 12px;}
.ui-photos ul li .photo_sum{line-height: 1.5;font-size: 12px;margin-bottom: 8px;color:#888}
.dark .ui-photos ul li .photo_sum{color:#aaa}
.ui-photos ul li .lens_info .make{color:#666;display: inline-block;font-weight: bold;}
.ui-photos ul li .lens_info .spec{color:#888;font-style: italic;display: inline-block;}
.ui-photos ul li .tags span{display: inline-block;padding:3px 10px;background-color: rgba(0, 0, 0, .1);border-radius: 40px;margin-right: 10px;font-size: 12px;margin-top:10px;color:#333;}
.dark .ui-photos ul li .tags span{background-color: rgba(255, 255, 255, .2);color:#ddd;}
.ui-photos ul li .tags span:last-child{margin-right: 0;}
.ui-photos-pool{position: fixed;top:-9999px;left:-9999999px;width: 100px;height: 100px;overflow: hidden;}
.photo_claim{padding-bottom: 20px;font-size: 12px;color:#999;}
.photo_loading{line-height: 500px;text-align: center;font-size: 16px;color:#999;}

.photo_load{width: 180px;font-size: 14px;padding: 12px 30px;border-radius: 5px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);margin: 0 auto;text-align: center;cursor: pointer;display: none;}
.dark .photo_load{background-color: #333;color:#ddd;}
.photo_end{text-align: center;line-height: 32px;font-size: 12px;color:#999;display: none;}

.query-photo-wrap{position: fixed;background-color: rgba(0, 0, 0, .7);width: 100%;height: 100%;top:0;left:0;z-index: 99999999;backdrop-filter: blur(10px);display: none;}
.query-photo-box{width: 100%;max-width:800px;margin:0 auto;position: relative;height: 100%;text-align: center;}
.query-photo-box .img{text-align: center;cursor: zoom-in;}
.query-photo-box .img img{max-width: 100%;max-height: 100%;width: auto;}
.query-photo-box .info{position: absolute;bottom:0;left:0;background-color: rgba(0, 0, 0, .6);backdrop-filter: blur(4px);padding:20px;width: 100%;border-radius: 20px 20px 0 0;color:#fff;font-size: 12px;}
.query-photo-box .info svg{fill: #ddd;height: 18px;}
.query-photo-box .info .photo_des{padding: 10px 0;font-size: 16px;}
.query-photo-box .info .tags{padding-top: 10px;}
.query-photo-box .info .photo_sum{padding-bottom: 10px;}
.query-photo-box .lens_info .make{display: inline-block;}
.query-photo-box .lens_info .spec{display: inline-block;}
.query-photo-box .info .tags span{padding:4px 10px;border-radius: 30px;background-color: rgba(255,255,255,.2);margin-right: 10px;}
.query-photo-box .close{position: absolute;top:20px;right:20px;cursor: pointer;opacity: 1;transition: opacity .3s ease;}
.query-photo-box .close:hover{opacity: .6;}
.query-photo-box .close svg{width: 48px;height: 48px;fill: #fff;}
.index-title{margin-top: 50px;}

@media only screen and (max-width: 800px) {
    .post_title{font-size: 32px;line-height: 40px !important;}
    .ui-photos ul{width: 100%;}
    .ui-photos ul.left{padding-right: 0;}
    .ui-photos ul.right{padding-left: 0;}
    .article li{padding-left: 0;}
    .article li .date{position: static;}
    .post_title_wrap{padding-left: 0;}
    .banner_wrap{padding-left: 30px;}
}

.search-wrap{
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 100%;
    z-index: 999;
    top:0;
    left:0;
    background-color: rgba(255,255,255,.5);
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

.dark .search-wrap{
    background-color: rgba(0,0,0,.5);
}

.search-wrap.on{
    pointer-events: auto;
    opacity: 1;
}

.search-wrap *{
    box-sizing: border-box;
}
.search-box{
    position: absolute;
    height: 100%;
    width: 260px;
    right:0;
    top:0;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    padding: 30px;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 3;
}

.dark .search-box{
    background-color: #121212;
}

.search-head{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    display: flex;
    box-sizing: border-box;
}

.search-head input{
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 1.6;
    font-size: 14px;
    text-indent: 5px;
    width: 100%
}

.search-head a{
    width: 100px;
    flex-shrink: 0;
    margin-left: 10px;
}

.search-body{
    padding: 10px 0;
}

.search-body ul li{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.dark .search-body .tit{
    color:#ddd
}

.close_area{
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    width: 100%;
    height: 100%;
}