html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 100px;
}
footer svg {
  fill: #121212;
  width: 14px;
  margin: 0 3px;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
html,
html * {
  box-sizing: border-box;
}
header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
header .logo {
  font-size: 24px;
  line-height: 45px;
}
header .slogan {
  font-size: 12px;
  font-style: italic;
}
.page-small-menu {
  display: none;
}
.page-small-menu ul {
  display: flex;
  justify-content: center;
}
.page-small-menu ul li {
  display: flex;
  border-right: 1px solid #333;
  height: 20px;
  width: 80px;
  flex-shrink: 0;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  font-size: 14px;
}
.page-small-menu ul li:last-child {
  border: none;
}
.page-small-menu ul li a {
  display: flex;
  justify-content: center;
  align-self: center;
}
.app-wrap {
  opacity: 0;
  padding: 30px 20px 0;
}
.clear:after {
  clear: both;
  content: '';
  display: block;
}
.page-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.page-wrap:after {
  clear: both;
  content: '';
  display: block;
}
.page-wrap .pages {
  width: 600px;
  float: left;
}
.page-wrap .pages .page {
  margin-bottom: 30px;
}
.page-wrap section.aside {
  max-width: 200px;
  float: right;
}
.page-wrap section.aside ul li a {
  display: flex;
  align-items: center;
  height: 45px;
  color: #333;
  font-size: 14px;
}
.page-wrap section.aside ul li a svg {
  fill: #333;
  margin-right: 5px;
}
.wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.wrap:after {
  clear: both;
  content: '';
  display: block;
}
.wrap section.list {
  max-width: 600px;
  width: 100%;
  float: left;
}
.wrap section.list .index_post_list {
  padding: 30px 0;
  min-height: 600px;
}
.wrap section.list .index_post_list ul li {
  margin-bottom: 40px;
}
.wrap section.list .index_post_list ul li :last-child {
  margin-bottom: 0;
}
.wrap section.list .index_post_list ul li a {
  display: block;
  text-decoration: none;
}
.wrap section.list .index_post_list ul li a:hover {
  text-decoration: none;
}
.wrap section.list .index_post_list ul li a:hover .title {
  text-decoration: underline;
}
.wrap section.list .index_post_list ul li a .title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  height: 24px;
}
.wrap section.list .index_post_list ul li a .date {
  color: #888;
  font-size: 12px;
  margin-bottom: 8px;
}
.wrap section.list .index_post_list ul li a .sum {
  font-size: 12px;
  line-height: 1.4;
  color: #555;
  margin-bottom: 10px;
}
.wrap section.list .index_post_list ul li a .tag {
  text-align: left;
}
.wrap section.list .index_post_list ul li a .tag span {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  white-space: nowrap;
  line-height: 1.5;
  font-size: 12px;
  color: #555;
  padding: 4px 10px;
  margin-right: 5px;
}
.wrap section.friends {
  width: 100%;
  float: left;
}
.wrap section.friends .index_friends_list {
  padding: 20px 0 0;
}
.wrap section.friends .index_friends_list ul li a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
.wrap section.friends .index_friends_list ul li a span {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  font-style: italic;
  display: block;
}
#disqus_thread .init_button {
  background-color: rgba(0, 0, 0, 0.03);
  height: 45px;
  width: 200px;
  color: #555;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  cursor: pointer;
}
#disqus_thread .init_button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.section_title {
  font-style: italic;
  font-size: 18px;
  color: #999;
}
.page-header {
  line-height: 1.4;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
.page-content {
  color: #444;
  font-size: 16px;
  line-height: 1.7;
}
.page-content video {
  width: 100%;
  margin: 10px 0;
}
.page-content a {
  text-decoration: underline;
  color: #333;
  word-break: break-all;
  display: inline;
}
.page-content ol {
  list-style: decimal;
  margin-bottom: 10px;
  padding-left: 25px;
}
.page-content ol li {
  list-style: decimal;
}
.page-content ul {
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 10px;
}
.page-content li {
  list-style: disc;
}
.page-content img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.page-content p {
  line-height: 1.7;
  margin-bottom: 10px;
}
.page-content blockquote {
  border-left: 4px solid #ddd;
  padding-left: 20px;
  margin-bottom: 10px;
}
.page-content h1 {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-content h2 {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-content h3 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content h4 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content h5 {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content pre {
  padding: 10px;
  font-family: 'Fira Mono', 'Microsoft Yahei UI';
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  overflow-x: auto;
}
.page-content pre code {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
}
.page-content code {
  padding: 4px 7px;
  background-color: #ddd;
  color: #000;
  font-size: 14px;
  font-family: 'Fira Mono', 'Microsoft Yahei UI';
  margin: 0 3px;
}
.page-date {
  margin-bottom: 15px;
}
.page-date span {
  color: #666;
  font-style: italic;
  font-size: 12px;
}
.page-original {
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 12px;
  color: #555;
  padding: 20px;
  line-height: 1.4;
}
.page-original img {
  margin-bottom: 10px;
}
.page-original a {
  color: #333;
  text-decoration: underline;
}
.hljs {
  display: block;
  overflow-x: auto;
  color: #383a42;
  background: #fafafa;
  font-family: fira mono, microsoft yahei ui;
  font-size: 14px;
  background: 0 0;
}
.hljs-comment {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-doctag {
  color: #a626a4;
}
.hljs-keyword {
  color: #a626a4;
}
.hljs-formula {
  color: #a626a4;
}
.hljs-section {
  color: #a4433a;
}
.hljs-name {
  color: #a4433a;
}
.hljs-selector-tag {
  color: #a4433a;
}
.hljs-deletion {
  color: #a4433a;
}
.hljs-subst {
  color: #a4433a;
}
.hljs-literal {
  color: #0184bb;
}
.hljs-string {
  color: #407f3f;
}
.hljs-regexp {
  color: #407f3f;
}
.hljs-addition {
  color: #407f3f;
}
.hljs-attribute {
  color: #407f3f;
}
.hljs-meta-string {
  color: #407f3f;
}
.hljs-built_in {
  color: #845a00;
}
.hljs-class .hljs-title {
  color: #845a00;
}
.hljs-attr {
  color: #986801;
}
.hljs-variable {
  color: #986801;
}
.hljs-template-variable {
  color: #986801;
}
.hljs-type {
  color: #986801;
}
.hljs-selector-class {
  color: #986801;
}
.hljs-selector-attr {
  color: #986801;
}
.hljs-selector-pseudo {
  color: #986801;
}
.hljs-number {
  color: #986801;
}
.hljs-symbol {
  color: #4078f2;
}
.hljs-bullet {
  color: #4078f2;
}
.hljs-link {
  color: #4078f2;
  text-decoration: underline;
}
.hljs-meta {
  color: #4078f2;
}
.hljs-selector-id {
  color: #4078f2;
}
.hljs-title {
  color: #4078f2;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
::selection {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #bcbcbc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #a8a8a8;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #a8a8a8;
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #a8a8a8;
}
@media screen and (max-width: 886px) {
  .page-small-menu {
    display: block;
  }
  .wrap section.list {
    max-width: 100%;
  }
  section.aside {
    display: none;
  }
  .page-wrap .pages {
    width: 100%;
  }
}
table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
table td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
}
table th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
}
.demo {
  overflow: auto;
}
.gt-container .gt-svg {
  position: relative;
  top: -2px;
}
span.deprecated {
  background-color: indianred;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 3px 5px;
  flex-shrink: 0;
}
.page-deprecated {
  display: inline-block;
  margin-bottom: 15px;
  background-color: indianred;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 3px 5px;
}
.fake_list {
  padding-top: 40px;
}
.fake_list .li {
  margin-bottom: 50px;
}
.fake_list .title {
  margin-bottom: 6px;
}
.fake_list .title span {
  background-color: #5e5e5e;
  animation: shine 2s ease infinite;
  display: inline-block;
  height: 24px;
  margin-right: 3px;
}
.fake_list .date {
  margin-bottom: 10px;
}
.fake_list .date span {
  width: 120px;
  height: 14px;
  background-color: #ddd;
  animation: shine 2s ease infinite;
  display: inline-block;
}
.fake_list .sum {
  margin-bottom: 10px;
}
.fake_list .sum span {
  height: 14px;
  background-color: #aaaaaa;
  animation: shine 2s ease infinite;
  display: inline-block;
  margin-right: 3px;
}
.fake_list .tags span {
  height: 16px;
  border-radius: 16px;
  background-color: #ddd;
  animation: shine 2s ease infinite;
  display: inline-block;
  margin-right: 5px;
}
.fake_post .title {
  margin-bottom: 10px;
}
.fake_post .title span {
  background-color: #5e5e5e;
  height: 28px;
  margin-right: 3px;
  display: inline-block;
  animation: shine 2s ease infinite;
}
.fake_post .para p {
  margin-bottom: 10px;
}
.fake_post .para span {
  background-color: #ddd;
  display: inline-block;
  height: 20px;
  margin-right: 6px;
  margin-bottom: 3px;
  animation: shine 1s ease infinite;
}
.fake_post .para span[data-dark-level="1"] {
  background-color: #d5d5d5;
}
.fake_post .para span[data-dark-level="2"] {
  background-color: #cecece;
}
.fake_post .para span[data-dark-level="3"] {
  background-color: #c6c6c6;
}
.fake_post .para span[data-dark-level="4"] {
  background-color: #bebebe;
}
.fake_post .para span[data-dark-level="5"] {
  background-color: #b7b7b7;
}
@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
