html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 100px;
}
footer svg {
  fill: #121212;
  width: 14px;
  margin: 0 3px;
  transform: translateY(1px);
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
html,
html * {
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans SC';
  transition: background-color 0s ease;
}
body.trans {
  transition-duration: 0.3s;
}
.md-shaodw {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-shaodw:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.15);
}
header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
header .logo {
  font-size: 24px;
  line-height: 45px;
}
header .slogan {
  font-size: 12px;
  font-style: italic;
}
.page-small-menu {
  display: none;
}
.page-small-menu ul {
  display: flex;
  justify-content: center;
}
.page-small-menu ul li {
  display: flex;
  border-right: 1px solid #333;
  height: 20px;
  padding: 0 20px;
  flex-shrink: 0;
  justify-content: center;
  align-self: center;
  margin-top: 40px;
  font-size: 14px;
}
.page-small-menu ul li:last-child {
  border: none;
}
.page-small-menu ul li a {
  display: flex;
  justify-content: center;
  align-self: center;
}
.app-wrap {
  opacity: 0;
  padding: 30px 20px 0;
}
.clear:after {
  clear: both;
  content: '';
  display: block;
}
.page-wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.page-wrap:after {
  clear: both;
  content: '';
  display: block;
}
.page-wrap .pages {
  width: 600px;
  float: left;
}
.page-wrap .pages .page {
  margin-bottom: 30px;
}
.page-wrap section.aside {
  max-width: 200px;
  float: right;
}
.page-wrap section.aside ul li a {
  display: flex;
  align-items: center;
  height: 45px;
  color: #333;
  font-size: 14px;
}
.page-wrap section.aside ul li a svg {
  fill: #333;
  margin-right: 5px;
}
.wrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.wrap:after {
  clear: both;
  content: '';
  display: block;
}
.wrap section.list {
  max-width: 600px;
  width: 100%;
  float: left;
}
.wrap section.list .index_post_list {
  padding: 30px 0;
  min-height: 600px;
}
.wrap section.list .index_post_list ul li {
  margin-bottom: 40px;
}
.wrap section.list .index_post_list ul li :last-child {
  margin-bottom: 0;
}
.wrap section.list .index_post_list ul li a {
  display: block;
  text-decoration: none;
}
.wrap section.list .index_post_list ul li a:hover {
  text-decoration: none;
}
.wrap section.list .index_post_list ul li a:hover .title {
  text-decoration: underline;
}
.wrap section.list .index_post_list ul li a .title {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.4;
}
.wrap section.list .index_post_list ul li a .date {
  color: #888;
  font-size: 12px;
  margin-bottom: 8px;
}
.wrap section.list .index_post_list ul li a .sum {
  font-size: 12px;
  line-height: 1.4;
  color: #555;
  margin-bottom: 10px;
}
.wrap section.list .index_post_list ul li a .tag {
  text-align: left;
}
.wrap section.list .index_post_list ul li a .tag span {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 40px;
  white-space: nowrap;
  line-height: 1.5;
  font-size: 12px;
  color: #555;
  padding: 4px 10px;
  margin-right: 5px;
}
.wrap section.friends {
  width: 100%;
  float: left;
}
.wrap section.friends .index_friends_list {
  padding: 20px 0 0;
}
.wrap section.friends .index_friends_list ul li a {
  display: block;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}
.wrap section.friends .index_friends_list ul li a span {
  font-size: 12px;
  color: #999;
  font-weight: normal;
  font-style: italic;
  display: block;
}
#disqus_thread .init_button {
  background-color: rgba(0, 0, 0, 0.03);
  height: 45px;
  width: 200px;
  color: #555;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  cursor: pointer;
}
#disqus_thread .init_button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.section_title {
  font-style: italic;
  font-size: 18px;
  color: #999;
}
.page-header {
  line-height: 1.4;
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}
.page-content {
  color: #444;
  font-size: 16px;
  line-height: 1.7;
}
.page-content video {
  width: 100%;
  margin: 10px 0;
}
.page-content b {
  font-weight: bold;
  color: #000;
}
.page-content strong {
  font-weight: bold;
  color: #000;
}
.page-content a {
  text-decoration: underline;
  color: #333;
  word-break: break-word;
  display: inline;
  font-style: italic;
}
.page-content ol {
  list-style: decimal;
  margin-bottom: 10px;
  padding-left: 25px;
}
.page-content ol li {
  list-style: decimal;
}
.page-content ul {
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 10px;
}
.page-content li {
  list-style: disc;
}
.page-content img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}
.page-content p {
  line-height: 1.7;
  margin-bottom: 10px;
}
.page-content blockquote {
  border-left: 4px solid #ddd;
  padding-left: 20px;
  margin-bottom: 10px;
}
.page-content h1 {
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-content h2 {
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-content h3 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content h4 {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content h5 {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content h6 {
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.page-content pre {
  padding: 10px;
  font-family: 'Fira Mono', 'Noto Sans SC' !important;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.03);
  overflow-x: auto;
}
.page-content pre code {
  background-color: transparent;
  font-size: 14px;
  margin: 0;
  font-family: 'Fira Mono', 'Noto Sans SC' !important;
  padding: 0;
}
.page-content code {
  padding: 4px 7px;
  background-color: #ddd;
  color: #000;
  font-size: 14px;
  font-family: 'Fira Mono', 'Noto Sans SC' !important;
  margin: 0 3px;
  display: inline;
  word-break: break-word;
}
.page-date {
  margin-bottom: 15px;
}
.page-date span {
  color: #666;
  font-style: italic;
  font-size: 12px;
}
.page-original {
  background-color: rgba(0, 0, 0, 0.03);
  font-size: 12px;
  color: #555;
  padding: 20px;
  line-height: 1.4;
}
.page-original img {
  margin-bottom: 10px;
}
.page-original a {
  color: #333;
  text-decoration: underline;
}
.hljs {
  display: block;
  overflow-x: auto;
  color: #383a42;
  background: #fafafa;
  font-family: 'Fira Mono', 'Noto Sans SC';
  font-size: 14px;
  background: 0 0;
}
.hljs-comment {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}
.hljs-doctag {
  color: #a626a4;
}
.hljs-keyword {
  color: #a626a4;
}
.hljs-formula {
  color: #a626a4;
}
.hljs-section {
  color: #a4433a;
}
.hljs-name {
  color: #a4433a;
}
.hljs-selector-tag {
  color: #a4433a;
}
.hljs-deletion {
  color: #a4433a;
}
.hljs-subst {
  color: #a4433a;
}
.hljs-literal {
  color: #0184bb;
}
.hljs-string {
  color: #407f3f;
}
.hljs-regexp {
  color: #407f3f;
}
.hljs-addition {
  color: #407f3f;
}
.hljs-attribute {
  color: #407f3f;
}
.hljs-meta-string {
  color: #407f3f;
}
.hljs-built_in {
  color: #845a00;
}
.hljs-class .hljs-title {
  color: #845a00;
}
.hljs-attr {
  color: #986801;
}
.hljs-variable {
  color: #986801;
}
.hljs-template-variable {
  color: #986801;
}
.hljs-type {
  color: #986801;
}
.hljs-selector-class {
  color: #986801;
}
.hljs-selector-attr {
  color: #986801;
}
.hljs-selector-pseudo {
  color: #986801;
}
.hljs-number {
  color: #986801;
}
.hljs-symbol {
  color: #4078f2;
}
.hljs-bullet {
  color: #4078f2;
}
.hljs-link {
  color: #4078f2;
  text-decoration: underline;
}
.hljs-meta {
  color: #4078f2;
}
.hljs-selector-id {
  color: #4078f2;
}
.hljs-title {
  color: #4078f2;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
::selection {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #bcbcbc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #a8a8a8;
}
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #a8a8a8;
}
::-webkit-scrollbar-thumb:vertical:active {
  background-color: #a8a8a8;
}
@media screen and (max-width: 886px) {
  .page-small-menu {
    display: block;
  }
  .wrap section.list {
    max-width: 100%;
  }
  section.aside {
    display: none;
  }
  .page-wrap .pages {
    width: 100%;
  }
}
table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
table td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
}
table th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 8px;
}
.demo {
  overflow: auto;
}
.gt-container .gt-svg {
  position: relative;
  top: -2px;
}
span.deprecated {
  background-color: indianred;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 1px 5px;
  line-height: 1.2;
  display: inline-block;
  transform: translateY(-2px);
  margin-left: 3px;
}
.page-deprecated {
  display: inline-block;
  margin-bottom: 15px;
  background-color: indianred;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 3px 5px;
}
.fake_list {
  padding-top: 40px;
}
.fake_list .li {
  margin-bottom: 50px;
}
.fake_list .title {
  margin-bottom: 6px;
}
.fake_list .title span {
  background-color: #5e5e5e;
  animation: shine 2s ease infinite;
  display: inline-block;
  height: 24px;
  margin-right: 3px;
}
.fake_list .date {
  margin-bottom: 10px;
}
.fake_list .date span {
  width: 120px;
  height: 14px;
  background-color: #ddd;
  animation: shine 2s ease infinite;
  display: inline-block;
}
.fake_list .sum {
  margin-bottom: 10px;
}
.fake_list .sum span {
  height: 14px;
  background-color: #aaaaaa;
  animation: shine 2s ease infinite;
  display: inline-block;
  margin-right: 3px;
}
.fake_list .tags span {
  height: 16px;
  border-radius: 16px;
  background-color: #ddd;
  animation: shine 2s ease infinite;
  display: inline-block;
  margin-right: 5px;
}
.fake_post .title {
  margin-bottom: 10px;
}
.fake_post .title span {
  background-color: #5e5e5e;
  height: 28px;
  margin-right: 3px;
  display: inline-block;
  animation: shine 2s ease infinite;
}
.fake_post .para p {
  margin-bottom: 10px;
}
.fake_post .para span {
  background-color: #ddd;
  display: inline-block;
  height: 20px;
  margin-right: 6px;
  margin-bottom: 3px;
  animation: shine 1s ease infinite;
}
.fake_post .para span[data-dark-level="1"] {
  background-color: #d5d5d5;
}
.fake_post .para span[data-dark-level="2"] {
  background-color: #cecece;
}
.fake_post .para span[data-dark-level="3"] {
  background-color: #c6c6c6;
}
.fake_post .para span[data-dark-level="4"] {
  background-color: #bebebe;
}
.fake_post .para span[data-dark-level="5"] {
  background-color: #b7b7b7;
}
widget.lighting {
  transition: opacity 0.3s ease;
  z-index: 300;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
widget.lighting.off {
  opacity: 0;
}
widget.lighting:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.15);
}
widget.lighting svg {
  fill: #121212;
}
.lighting_settings_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: -100%;
  opacity: 0;
  z-index: 400;
  transition: opacity 0.3s ease;
}
.lighting_settings_wrap.on {
  z-index: 400;
  opacity: 1;
}
.lighting_settings_wrap.top {
  top: 0;
}
.lighting_settings {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, left 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: -30;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #fff;
  position: fixed;
  right: -50px;
  bottom: 20px;
}
.lighting_settings:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.15);
}
.lighting_settings.on {
  z-index: 400;
  pointer-events: auto;
  opacity: 1;
  right: 20px;
}
.lighting_settings .item {
  cursor: pointer;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.lighting_settings .item.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
.lighting_settings .item label {
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
}
.lighting_settings .item label svg {
  width: 30px;
  fill: #121212;
}
.lighting_settings .item input {
  opacity: 0;
  height: 0;
  outline: 0;
  border: 0;
  position: absolute;
  left: -999999px;
}
@keyframes shine {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.gt-header-preview ol {
  list-style: decimal;
  margin-bottom: 10px;
  padding-left: 25px;
}
.gt-header-preview ol li {
  list-style: decimal;
}
.gt-header-preview ul {
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 10px;
}
.gt-header-preview li {
  list-style: disc;
}
.gt-header-preview {
  width: 100%;
}
.dark {
  background-color: #121212;
}
.dark a {
  color: #ddd;
}
.dark header .slogan {
  color: #999;
}
.dark .page-small-menu ul li {
  border-color: #ddd;
}
.dark .wrap section.list .index_post_list ul li a .title {
  color: #ddd;
}
.dark .wrap section.list .index_post_list ul li a .sum {
  color: #ccc;
}
.dark .wrap section.list .index_post_list ul li a .tag span {
  color: #ccc;
  background-color: rgba(255, 255, 255, 0.12);
}
.dark footer {
  color: #ddd;
}
.dark footer svg {
  fill: #ddd;
}
.dark widget.lighting {
  z-index: 300;
  background-color: #383838;
}
.dark widget.lighting svg {
  fill: #ddd;
}
.dark .lighting_settings {
  background-color: #383838;
}
.dark .lighting_settings .item label {
  color: #ddd;
}
.dark .lighting_settings .item label svg {
  fill: #ddd;
}
.dark .hljs {
  color: #abb2bf;
}
.dark .hljs-comment {
  color: #5c6370;
}
.dark .hljs-quote {
  color: #5c6370;
}
.dark .hljs-doctag {
  color: #c678dd;
}
.dark .hljs-keyword {
  color: #c678dd;
}
.dark .hljs-formula {
  color: #c678dd;
}
.dark .hljs-section {
  color: #e06c75;
}
.dark .hljs-name {
  color: #e06c75;
}
.dark .hljs-selector-tag {
  color: #e06c75;
}
.dark .hljs-deletion {
  color: #e06c75;
}
.dark .hljs-subst {
  color: #e06c75;
}
.dark .hljs-literal {
  color: #56b6c2;
}
.dark .hljs-string {
  color: #98c379;
}
.dark .hljs-regexp {
  color: #98c379;
}
.dark .hljs-addition {
  color: #98c379;
}
.dark .hljs-attribute {
  color: #98c379;
}
.dark .hljs-meta-string {
  color: #98c379;
}
.dark .hljs-built_in {
  color: #e6c07b;
}
.dark .hljs-class,
.dark .hljs-title {
  color: #e6c07b;
}
.dark .hljs-attr {
  color: #d19a66;
}
.dark .hljs-variable {
  color: #d19a66;
}
.dark .hljs-template-variable {
  color: #d19a66;
}
.dark .hljs-type {
  color: #d19a66;
}
.dark .hljs-selector-class {
  color: #d19a66;
}
.dark .hljs-selector-attr {
  color: #d19a66;
}
.dark .hljs-selector-pseudo {
  color: #d19a66;
}
.dark .hljs-number {
  color: #d19a66;
}
.dark .hljs-symbol {
  color: #61aeee;
}
.dark .hljs-bullet {
  color: #61aeee;
}
.dark .hljs-link {
  color: #61aeee;
}
.dark .hljs-meta {
  color: #61aeee;
}
.dark .hljs-selector-id {
  color: #61aeee;
}
.dark .hljs-title {
  color: #61aeee;
}
.dark .page-content {
  color: #ddd;
}
.dark .page-content p {
  color: #ddd;
}
.dark .page-content a {
  color: #ddd;
}
.dark .page-content h1 {
  color: #ddd;
}
.dark .page-content h2 {
  color: #ddd;
}
.dark .page-content h3 {
  color: #ddd;
}
.dark .page-content h4 {
  color: #ddd;
}
.dark .page-content h5 {
  color: #ddd;
}
.dark .page-content h6 {
  color: #ddd;
}
.dark .page-content code {
  background-color: #383838;
  color: #ddd;
}
.dark .page-content b {
  color: #fff;
}
.dark .page-content strong {
  color: #fff;
}
.dark .page-content blockquote {
  color: #ddd;
  border-color: #5f5f5f;
}
.dark .page-content pre {
  background-color: rgba(255, 255, 255, 0.12);
}
.dark .page-content pre code {
  background-color: transparent;
}
.dark .page-content img {
  opacity: 0.7;
}
.dark .page-header {
  color: #fff;
}
.dark .page-date span {
  color: #999;
}
.dark .page-wrap section.aside ul li svg {
  fill: #ddd;
}
.dark .page-wrap section.aside ul li a {
  color: #ddd;
}
.dark .page-original {
  background-color: rgba(255, 255, 255, 0.03);
}
.dark .gt-container {
  color: #fff;
}
.dark .gt-container .gt-btn {
  background-color: #1d58c6;
  border-color: #1d58c6;
}
.dark .gt-container .gt-btn.gt-btn-preview {
  background-color: #121212;
}
.dark .gt-container .gt-comment-admin .gt-comment-content {
  background-color: #383838;
}
.dark .gt-container .gt-svg svg {
  fill: #ddd;
}
.dark .gt-container .gt-popup {
  background-color: #2c2c2c;
}
.dark .gt-container .gt-header-textarea {
  color: #ddd;
  background-color: #383838;
}
.dark .gt-container .gt-header-textarea:hover {
  color: #ddd;
  background-color: #383838;
}
.dark .gt-container .markdown-body blockquote {
  color: #bbc0c5;
}
.dark .gt-container .gt-comment-content {
  background-color: #2c2c2c;
}
.dark .gt-container .gt-comment-body {
  color: #ddd !important;
}
.dark .gt-container .gt-comment-content:hover {
  box-shadow: 0 0.625em 3.75em 0 #383838;
}
.dark .gt-container .markdown-body .pl-smi,
.dark .gt-container .markdown-body .pl-s .pl-s1 {
  color: #bbc2c9;
}
.dark .gt-container .gt-header-preview {
  background-color: #383838;
  color: #ddd;
}
.dark .gt-container .gt-header-preview p {
  color: #ddd;
}
.dark .gt-container .gt-header-preview a {
  color: #ddd;
}
.dark .gt-container .gt-header-preview h1 {
  color: #ddd;
}
.dark .gt-container .gt-header-preview h2 {
  color: #ddd;
}
.dark .gt-container .gt-header-preview h3 {
  color: #ddd;
}
.dark .gt-container .gt-header-preview h4 {
  color: #ddd;
}
.dark .gt-container .gt-header-preview h5 {
  color: #ddd;
}
.dark .gt-container .gt-header-preview h6 {
  color: #ddd;
}
.dark .gt-container .gt-header-preview code {
  background-color: #383838;
  color: #ddd;
}
.dark .gt-container .gt-header-preview b {
  color: #fff;
}
.dark .gt-container .gt-header-preview strong {
  color: #fff;
}
.dark .gt-container .gt-header-preview blockquote {
  color: #ddd;
  border-color: #5f5f5f;
}
.dark .gt-container .gt-header-preview pre {
  background-color: rgba(255, 255, 255, 0.12);
}
.dark .gt-container .gt-header-preview pre code {
  background-color: transparent;
}
.dark .gt-container .gt-header-preview img {
  opacity: 0.7;
}
.dark .gt-container .gt-header-preview ol {
  list-style: decimal;
  margin-bottom: 10px;
  padding-left: 25px;
}
.dark .gt-container .gt-header-preview ol li {
  list-style: decimal;
}
.dark .gt-container .gt-header-preview ul {
  list-style: disc;
  padding-left: 25px;
  margin-bottom: 10px;
}
.dark .gt-container .gt-header-preview li {
  list-style: disc;
}
.dark .gt-container .markdown-body .highlight pre,
.dark .gt-container .markdown-body pre {
  transition-duration: 0s;
  background-color: transparent;
}
.dark .gt-container .markdown-body .pl-s,
.dark .gt-container .markdown-body .pl-pds,
.dark .gt-container .markdown-body .pl-s .pl-pse .pl-s1,
.dark .gt-container .markdown-body .pl-sr,
.dark .gt-container .markdown-body .pl-sr .pl-cce,
.dark .gt-container .markdown-body .pl-sr .pl-sre,
.dark .gt-container .markdown-body .pl-sr .pl-sra {
  color: #1f84f8;
}
.dark .gt-container .markdown-body .pl-c1,
.dark .gt-container .markdown-body .pl-s .pl-v {
  color: #5faaff;
}
.dark .gt-container .markdown-body .pl-e,
.dark .gt-container .markdown-body .pl-en {
  color: #c7b5e7;
}
.dark .gt-container .markdown-body .pl-k {
  color: #f1b9be;
}
.dark ::selection {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.dark ::-webkit-scrollbar-track {
  background: #525252;
}
.dark ::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #383838;
}
.dark ::-webkit-scrollbar-thumb:window-inactive {
  background: #454545;
}
.dark ::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #2c2c2c;
}
.dark ::-webkit-scrollbar-thumb:vertical:active {
  background-color: #2c2c2c;
}
