// reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    height: 100px;

    svg {
        fill: #121212;
        width: 14px;
        margin: 0 3px;
    }
}

a {
    color: #333;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

html,
html * {
    box-sizing: border-box;
}

header {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;

    .logo {
        font-size: 24px;
        line-height: 45px;
    }

    .slogan {
        font-size: 12px;
        font-style: italic;
    }
}

.page-small-menu {
    display: none;

    ul {
        display: flex;
        justify-content: center;

        li {
            display: flex;
            border-right: 1px solid #333;
            height: 20px;
            width: 80px;
            flex-shrink: 0;
            justify-content: center;
            align-self: center;
            margin-top: 40px;

            &:last-child {
                border: none;
            }

            a {
                display: flex;
                justify-content: center;
                align-self: center;
            }

            font-size: 14px;
        }
    }
}

.app-wrap {
    opacity: 0;
    padding: 30px 20px 0;
}

.clear {
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}

.page-wrap {
    .clear;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .pages {
        width: 600px;
        float: left;

        .page {
            margin-bottom: 30px;
        }
    }

    section.aside {
        max-width: 200px;
        float: right;

        ul {
            li {
                a {
                    display: flex;
                    align-items: center;
                    height: 45px;
                    color: #333;
                    font-size: 14px;

                    svg {
                        fill: #333;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

.wrap {
    .clear;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    section.list {
        max-width: 600px;
        width: 100%;
        float: left;

        .index_post_list {
            padding: 30px 0;

            ul li {
                margin-bottom: 40px;

                :last-child {
                    margin-bottom: 0;
                }

                a {
                    display: block;
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;

                        .title {
                            text-decoration: underline;
                        }
                    }

                    .title {
                        font-size: 18px;
                        color: #333;
                        font-weight: bold;
                        margin-bottom: 10px;
                        display: flex;
                        align-items: center;
                        height: 24px;
                    }

                    .date {
                        color: #888;
                        font-size: 12px;
                        margin-bottom: 8px;
                    }

                    .sum {
                        font-size: 12px;
                        line-height: 1.4;
                        color: #555;
                        margin-bottom: 10px;
                    }

                    .tag {
                        text-align: left;

                        span {
                            background-color: rgba(0, 0, 0, .05);
                            border-radius: 40px;
                            white-space: nowrap;
                            line-height: 1.5;
                            font-size: 12px;
                            color: #555;
                            padding: 4px 10px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    section.friends {
        width: 100%;
        float: left;

        .index_friends_list {
            padding: 20px 0 0;

            ul li {
                a {
                    display: block;
                    padding: 10px 0;
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 1.5;

                    span {
                        font-size: 12px;
                        color: #999;
                        font-weight: normal;
                        font-style: italic;
                        display: block;
                    }
                }
            }
        }
    }
}

#disqus_thread {
    .init_button {
        background-color: rgba(0, 0, 0, .03);
        height: 45px;
        width: 200px;
        color: #555;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #333;
        cursor: pointer;

        &:hover {
            background-color: rgba(0, 0, 0, .05);
        }
    }
}

.section_title {
    font-style: italic;
    font-size: 18px;
    color: #999;
}

.page-header {
    line-height: 1.4;
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.page-content {
    color: #444;
    font-size: 16px;

    video {
        width: 100%;
        margin: 10px 0;
    }

    a {
        text-decoration: underline;
        color: #333
    }

    ol {
        list-style: decimal;
        margin-bottom: 10px;
        padding-left: 25px;

        li {
            list-style: decimal;
        }
    }

    ul {
        list-style: disc;
        padding-left: 25px;
        margin-bottom: 10px;
    }

    li {
        list-style: disc;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 10px auto;
    }

    line-height: 1.7;

    p {
        line-height: 1.7;
        margin-bottom: 10px;
    }

    blockquote {
        border-left: 4px solid #ddd;
        padding-left: 30px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 24px;
        font-weight: bold;
        font-style: italic;
        color: #333;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 22px;
        font-weight: bold;
        font-style: italic;
        color: #333;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        color: #333;
        margin-bottom: 10px;
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        color: #333;
        margin-bottom: 10px;
    }

    h5 {
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        color: #333;
        margin-bottom: 10px;
    }

    h6 {
        font-size: 12px;
        font-weight: bold;
        font-style: italic;
        color: #333;
        margin-bottom: 10px;
    }

    pre {
        padding: 10px;
        font-family: 'Fira Mono', 'Microsoft Yahei UI';
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, .03);
        overflow-x: auto;

        code {
            background-color: transparent;
            font-size: 14px;
            margin: 0;
        }
    }

    code {
        padding: 4px 7px;
        background-color: #ddd;
        color: #000;
        font-size: 14px;
        font-family: 'Fira Mono', 'Microsoft Yahei UI';
        margin: 0 3px;
    }
}

.page-date {
    margin-bottom: 15px;

    span {
        color: #666;
        font-style: italic;
        font-size: 12px;
    }
}

.page-original {
    background-color: rgba(0, 0, 0, .03);
    font-size: 12px;
    color: #555;
    padding: 20px;
    line-height: 1.4;

    img {
        margin-bottom: 10px;
    }

    a {
        color: #333;
        text-decoration: underline;
    }
}

.hljs {
    display: block;
    overflow-x: auto;
    color: #383a42;
    background: #fafafa;
    font-family: fira mono, microsoft yahei ui;
    font-size: 14px;
    background: 0 0
}

.hljs-comment {
    color: #a0a1a7;
    font-style: italic
}

.hljs-quote {
    color: #a0a1a7;
    font-style: italic
}

.hljs-doctag {
    color: #a626a4
}

.hljs-keyword {
    color: #a626a4
}

.hljs-formula {
    color: #a626a4
}

.hljs-section {
    color: #a4433a
}

.hljs-name {
    color: #a4433a
}

.hljs-selector-tag {
    color: #a4433a
}

.hljs-deletion {
    color: #a4433a
}

.hljs-subst {
    color: #a4433a
}

.hljs-literal {
    color: #0184bb
}

.hljs-string {
    color: #407f3f
}

.hljs-regexp {
    color: #407f3f
}

.hljs-addition {
    color: #407f3f
}

.hljs-attribute {
    color: #407f3f
}

.hljs-meta-string {
    color: #407f3f
}

.hljs-built_in {
    color: #845a00
}

.hljs-class .hljs-title {
    color: #845a00
}

.hljs-attr {
    color: #986801
}

.hljs-variable {
    color: #986801
}

.hljs-template-variable {
    color: #986801
}

.hljs-type {
    color: #986801
}

.hljs-selector-class {
    color: #986801
}

.hljs-selector-attr {
    color: #986801
}

.hljs-selector-pseudo {
    color: #986801
}

.hljs-number {
    color: #986801
}

.hljs-symbol {
    color: #4078f2
}

.hljs-bullet {
    color: #4078f2
}

.hljs-link {
    color: #4078f2;
    text-decoration: underline
}

.hljs-meta {
    color: #4078f2
}

.hljs-selector-id {
    color: #4078f2
}

.hljs-title {
    color: #4078f2
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: 700
}

::selection {
    background: rgba(0, 0, 0, .1);
    color: #000
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

div::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #bcbcbc
}

::-webkit-scrollbar-thumb:window-inactive {
    background: #a8a8a8
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #a8a8a8
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: #a8a8a8
}

@media screen and (max-width: 886px) {
    .page-small-menu {
        display: block;
    }

    .wrap {
        section.list {
            max-width: 100%;
        }
    }

    section.aside {
        display: none;
    }

    .page-wrap .pages {
        width: 100%;
    }
}

table {
    width: 100%;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;

    td {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 8px;
    }

    th {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding: 8px;
    }
}

.demo {
    overflow: auto;
}

.gt-container .gt-svg {
    position: relative;
    top: -2px;
}

span.deprecated {
    background-color: indianred;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding: 3px 5px;
    flex-shrink: 0;
}

.page-deprecated {
    display: inline-block;
    margin-bottom: 15px;
    background-color: indianred;
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    padding: 3px 5px;
}

@ddd: #ddd;

.fake_post {
    .title {
        margin-bottom: 10px;

        span {
            background-color: darken(@ddd, 50%);
            height: 28px;
            margin-right: 3px;
            display: inline-block;
            animation: shine 2s ease infinite;
        }
    }

    .para {
        p {
            margin-bottom: 10px;
        }

        span {
            background-color: @ddd;
            display: inline-block;
            height: 20px;
            margin-right: 6px;
            margin-bottom: 3px;
            animation: shine 1s ease infinite;

            &[data-dark-level="1"] {
                background-color: darken(@ddd, 3%);
            }

            &[data-dark-level="2"] {
                background-color: darken(@ddd, 6%);
            }

            &[data-dark-level="3"] {
                background-color: darken(@ddd, 9%);
            }

            &[data-dark-level="4"] {
                background-color: darken(@ddd, 12%);
            }

            &[data-dark-level="5"] {
                background-color: darken(@ddd, 15%);
            }
        }
    }
}

@keyframes shine {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: 1;
    }
}