<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale=1, maximum-scale=5" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Noto+Sans+SC&display=swap" rel="stylesheet">
    <meta name="keywords" content="jw12138,一个球,前端,网页,web,技术,css3,html5,frontend,front-end,ableton,live,music,production,编曲,音乐制作,制作人,摄影" id="keywords" />
    <meta name="description" content="Front-end Developer / Music Producer" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123373343-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-123373343-1');
    </script>

</head>

<body>
    <div id="app">
        <div class="app-wrap" :style="{opacity: app_div.opacity}">
            <header>
                <div class="logo">
                    <a href="#/">
                        {{blog_title}}
                    </a>
                </div>
                <div class="slogan">
                    Front-end Developer / Music Producer
                </div>
                <div class="page-small-menu">
                    <ul>
                        <li v-for="(item, i) in blog_page_list">
                            <a :href="'#/page/' + item.hash_url" v-html="item.name"></a>
                        </li><li>
                            <a href="atom.xml" target="_blank">RSS</a>
                        </li>
                    </ul>
                </div>
            </header>
            <div class="page-wrap">
                <div class="pages">
                    <div class="page" v-show="showing_page == 'index'">
                        <div class="wrap">
                            <section class="list">
                                <div class="section_title">Posts</div>
                                <div class="fake_list" v-if="showing_fake_list">
                                    <div v-for="i in 10" class="li">
                                        <div class="title">
                                            <span v-for="j in getRandomInt(2, 6)" :style="{width: getRandomInt(100, 200) + 'px', 'animation-duration': getRandomInt(1000, 3000) + 'ms'}"></span>
                                        </div>
                                        <div class="date">
                                            <span></span>
                                        </div>
                                        <div class="sum">
                                            <span v-for="j in getRandomInt(5, 10)" :style="{width: getRandomInt(50, 200) + 'px','animation-duration': getRandomInt(1000, 3000) + 'ms'}"></span>
                                        </div>
                                        <div class="tags">
                                            <span v-for="j in getRandomInt(1, 4)" :style="{width: getRandomInt(80, 150) + 'px','animation-duration': getRandomInt(1000, 3000) + 'ms'}"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="index_post_list" v-else>
                                    <ul>
                                        <li v-for="(item, i) in blog_post_list">
                                            <a :href="'#/post/' + item.hash_url">
                                                <div class="title">
                                                    {{item.name}}<span class="deprecated" v-if="item.deprecated">Deprecated</span>
                                                </div>
                                                <div class="date" v-html="item.date"></div>
                                                <div class="sum">{{item.summary}} ...</div>
                                                <div class="tag">
                                                    <span v-for="tag in item.tags" v-html="tag"></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <section class="friends">
                                <div class="section_title">Friends</div>
                                <div class="index_friends_list">
                                    <ul>
                                        <li v-for="(item, i) in blog_friends_list">
                                            <a :href="item.url" target="_blank" rel="friend colleague">
                                                <div class="title">{{item.name}}<br><span> - {{item.slogan}}</span></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="page" data-param="post" v-if="showing_page == 'post'">
                        <div class="fake_post" v-if="show_fake_post">
                            <div class="title">
                                <span v-for="i in getRandomInt(5, 10)" :style="{width: getRandomInt(50, 200) + 'px', 'animation-duration': getRandomInt(1000, 3000) + 'ms'}"></span>
                            </div>
                            <div class="para">
                                <p>
                                    <span v-for="i in 2" :style="{width: 80 + 'px', 'animation-duration': getRandomInt(1000, 3000) + 'ms'}" :data-dark-level="getRandomInt(1, 5)"></span>
                                </p>
                            </div>
                            <div class="para" v-for="i in getRandomInt(5, 8)">
                                <p>
                                    <span v-for="i in getRandomInt(10, 20)" :style="{width: getRandomInt(50, 300) + 'px', 'animation-duration': getRandomInt(1000, 3000) + 'ms'}" :data-dark-level="getRandomInt(1, 5)"></span>
                                </p>
                            </div>
                        </div>
                        <span v-else>
                            <div class="page-header" v-html="current_page.title">
                            
                            </div>
                            <span class="page-deprecated" v-if="current_page.deprecated">
                                当前文章已被作者弃用，您正在阅读过时或者有错误的内容！
                            </span>
                            <div class="page-date">
                                <span>发布日期：{{current_page.date}}</span><span v-if="current_page.modify != ''" class="modify"><br>上次修改：{{current_page.modify}}</span>
                            </div>
                            <div class="page-content" v-html="current_page.content">
            
                            </div>
                            <div class="page-original">
                                <a class="license" rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/"><img class="ignore_js" alt="知识共享许可协议" style="border-width:0" src="../../img/cc.png"></a><br>本作品采用<a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>进行许可。
                            </div>
                        </span>
                    </div>
                    <div class="page" data-param="page" v-if="showing_page == 'page'">
                        <div class="fake_post" v-if="show_fake_post">
                            <div class="title">
                                <span v-for="i in getRandomInt(5, 10)" :style="{width: getRandomInt(50, 200) + 'px', 'animation-duration': getRandomInt(1000, 3000) + 'ms'}"></span>
                            </div>
                            <div class="para">
                                <p>
                                    <span v-for="i in 2" :style="{width: 80 + 'px', 'animation-duration': getRandomInt(1000, 3000) + 'ms'}" :data-dark-level="getRandomInt(1, 5)"></span>
                                </p>
                            </div>
                            <div class="para" v-for="i in getRandomInt(5, 8)">
                                <p>
                                    <span v-for="i in getRandomInt(10, 20)" :style="{width: getRandomInt(50, 300) + 'px', 'animation-duration': getRandomInt(1000, 3000) + 'ms'}" :data-dark-level="getRandomInt(1, 5)"></span>
                                </p>
                            </div>
                        </div>
                        <span v-else>
                            <div class="page-header" v-html="current_page.title">
                            
                            </div>
                            <div class="page-content" v-html="current_page.content">
            
                            </div>
                        </span>
                    </div>
                    <div id="gitalk-container" v-if="showing_page == 'page' || showing_page == 'post'"></div>
                </div>
                <section class="aside">
                    <ul>
                        <li v-for="(item, i) in blog_page_list">
                            <a :href="'#/page/' + item.hash_url" v-html="item.icon + ' ' + item.name"></a>
                        </li>
                        <li>
                            <a href="atom.xml" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="none" d="M0 0h24v24H0V0z"></path>
                                <circle cx="6.18" cy="17.82" r="2.18"></circle>
                                <path d="M5.59 10.23c-.84-.14-1.59.55-1.59 1.4 0 .71.53 1.28 1.23 1.4 2.92.51 5.22 2.82 5.74 5.74.12.7.69 1.23 1.4 1.23.85 0 1.54-.75 1.41-1.59-.68-4.2-3.99-7.51-8.19-8.18zm-.03-5.71C4.73 4.43 4 5.1 4 5.93c0 .73.55 1.33 1.27 1.4 6.01.6 10.79 5.38 11.39 11.39.07.73.67 1.28 1.4 1.28.84 0 1.5-.73 1.42-1.56-.73-7.34-6.57-13.19-13.92-13.92z"></path>
                                </svg> RSS</a>
                        </li>
                    </ul>
                </section>
            </div>
            <footer>
                © <span class="copy_right_year">2018 - 2020</span>&emsp;一个球的博客&emsp;<svg alt="code" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path d="M8.7 15.9L4.8 12l3.9-3.9c.39-.39.39-1.01 0-1.4-.39-.39-1.01-.39-1.4 0l-4.59 4.59c-.39.39-.39 1.02 0 1.41l4.59 4.6c.39.39 1.01.39 1.4 0 .39-.39.39-1.01 0-1.4zm6.6 0l3.9-3.9-3.9-3.9c-.39-.39-.39-1.01 0-1.4.39-.39 1.01-.39 1.4 0l4.59 4.59c.39.39.39 1.02 0 1.41l-4.59 4.6c-.39.39-1.01.39-1.4 0-.39-.39-.39-1.01 0-1.4z" />
                </svg> with <svg alt="heart" xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0V0z" />
                    <path d="M13.35 20.13c-.76.69-1.93.69-2.69-.01l-.11-.1C5.3 15.27 1.87 12.16 2 8.28c.06-1.7.93-3.33 2.34-4.29 2.64-1.8 5.9-.96 7.66 1.1 1.76-2.06 5.02-2.91 7.66-1.1 1.41.96 2.28 2.59 2.34 4.29.14 3.88-3.3 6.99-8.55 11.76l-.1.09z" />
                </svg>
            </footer>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.staticfile.org/axios/0.20.0-0/axios.min.js"></script>
    <script src="https://cdn.staticfile.org/Director/1.2.8/director.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <script src="js/highlight.min.js"></script>
    <script src="js/app.js"></script>
</body>

</html>