<header>
  <div class="logo">
    <a href="/" title="Click here to navigate homepage" id="header">
      <div class="img">
        <img src="/assets/img/logo-black.png" alt="logo" class="dark" />
        <img src="/assets/img/logo.png" alt="logo" class="light" />
      </div>
    </a>
  </div>
  <div class="slogan" ref="slogan">
    {{site.description}}
  </div>
  <div class="page-small-menu" v-if="page_small">
    <ul>
      {% for item in site.data.data.pages %}
      <li>
        <a href="{{item.url}}">{{item.name}}</a>
      </li>
      {%endfor%}
      <li>
        <a href="/atom.xml" target="_blank">RSS</a>
      </li>
    </ul>
  </div>
</header>