<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/normalize.css" />
<link rel="stylesheet" href="/assets/css/index.min.css" />
<link rel="stylesheet" href="/assets/css/rouge-syntax.css">
<meta name="keywords" content="{{site.keywords}},{{page.tags | join: ','}}" id="keywords" />
<meta name="description" content="{{site.description}}" />