<link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Nunito&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="/assets/css/index.min.css" />
<meta name="keywords" content="一个球,前端,网页,web,技术,css3,html5,frontend,front-end,ableton,live,music,production,编曲,音乐制作,制作人,摄影,{{page.tags}}" id="keywords" />
<meta name="description" content="Front-end Developer / Music Producer" />