<div class="analytics-note-box">
  <div class="icon">
    🥺
  </div>
  <div class="title">
    我想用 Google Analytics 来分析您在此网站的操作，请问可以吗？
  </div>
  <div class="btn-grp">
    <a href="javascript:" class="btn primary" id="userPermitted">可以的 🤟</a>
    <a href="javascript:" class="btn" id="userDenied">不可以 ✋</a>
  </div>
</div>