<div id="cusdis_thread"
     data-host="https://cusdis.jw1.dev"
     data-app-id="e724ea5c-1b42-4ea9-9a16-93bd90adcea9"
     data-page-id="<%- '/' + page.path.replace('.html', '') %>"
     data-page-url="<%- '/' + page.path %>"
     data-page-title="<%- page.title %>"
     data-theme="auto"
></div>