<div class="donation-box">
  <div class="img">
    <img class="light" src="/images/donate-code.png" alt="">
    <img class="dark" src="/images/donate-code-b.png" alt="">
  </div>
  <div class="text">
    觉得文章不错？<br>
    使用<b>微信扫一扫</b>，给我一个赞赏吧！
  </div>
</div>