@font-face {
  font-family: "iconfont"; /* Project id 3666545 */
  src: url('iconfont.woff2?t=1664173193739') format('woff2'),
       url('iconfont.woff?t=1664173193739') format('woff'),
       url('iconfont.ttf?t=1664173193739') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e7c1";
}

.icon-Stop:before {
  content: "\e661";
}

.icon-Play:before {
  content: "\e66b";
}

.icon-Pause:before {
  content: "\e66c";
}

.icon-Shuffle:before {
  content: "\e66d";
}

.icon-RepeatOnce:before {
  content: "\e66e";
}

