@font-face {
  font-family: "iconfont"; /* Project id 3666545 */
  src: url('iconfont.woff2?t=1699342541962') format('woff2'),
       url('iconfont.woff?t=1699342541962') format('woff'),
       url('iconfont.ttf?t=1699342541962') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close-bold:before {
  content: "\e685";
}

.icon-select-bold:before {
  content: "\e687";
}

.icon-github:before {
  content: "\e691";
}

.icon-zhankai:before {
  content: "\e60a";
}

.icon-ashbin:before {
  content: "\e665";
}

.icon-sign-out:before {
  content: "\e680";
}

.icon-external-r:before {
  content: "\e624";
}

.icon-music:before {
  content: "\e7c1";
}

.icon-Stop:before {
  content: "\e661";
}

.icon-Play:before {
  content: "\e66b";
}

.icon-Pause:before {
  content: "\e66c";
}

.icon-Shuffle:before {
  content: "\e66d";
}

.icon-RepeatOnce:before {
  content: "\e66e";
}

