---
import Meta from "../components/meta.astro"
import Og from "../components/og.astro"
import '../style/404.scss'
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="generator" content={Astro.generator}/>
  <title>一个球的...博客?</title>
  <Meta/>
  <Og title="一个球的博客" path="/"/>
</head>
<body>
<main>
  <div id="app" class="w-[40rem] max-w-full mx-auto font-mono relative text-xs md:text-sm lg:text-base min-w-[320px]">
    <div class="relative aspect-[3/4]">
      <h1 class="py-8 italic absolute comics-bg left-[15%] top-[5%] font-extrabold">
        Planet 404
      </h1>
      <div>
        <img src="https://blog-r2.jw1.dev/W4B-qL4w9JlKcfkq.webp" alt="The crew is now at Galaxy 404.">
        <div class="comics-bg absolute top-[30%] left-[5%] italic">
          Shit!!! <br>the warp engine went off again!
        </div>
        <div class="comics-bg absolute bottom-[10%] right-[10%] italic">
          Attention to all units,<br><a href="/">initiate another jump</a>!
        </div>
      </div>
    </div>
    <p class="pt-8 text-white">
      The page you're looking for seems to be missing, you can go back to the <a href="/">home page</a> now.
    </p>

  </div>
</main>
</body>
</html>
