---
import BentoArea from '../components/bento-area.astro'
import BaseLayout from '../layouts/base-layout.astro'
import '../style/base.scss'
---

<BaseLayout highlight="bento">
  <div>
    <div class="py-[3rem]"></div>

    <BentoArea/>
    <div class="py-[1rem]"></div>
  </div>
</BaseLayout>
