---
import BentoArea from '../components/bento-area.astro'
import BaseLayout from '../layouts/base-layout.astro'
---

<BaseLayout pageName="bento">
  <div>
    <div class="py-[3rem]"></div>

    <BentoArea/>
  </div>
</BaseLayout>
