.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.shadow-xl, .reactions .item {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

.user-window a[target=_blank]:after {
  content: "";
  display: none;
}

.reactions {
  margin: 2em 0;
  text-align: center;
  user-select: none;
}
.reactions .info {
  text-align: center;
  font-size: 0.8em;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 3em;
  transition: height 0.1s ease, margin 0.1s ease;
}
.reactions .info.expanded {
  height: 2em;
}
.reactions .item {
  display: inline-block;
  font-size: 1em;
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  cursor: pointer;
  margin: 0 0.5em;
  border-radius: 3em;
  padding: 0.3em 1em;
  border: 1px solid #f5f5f5;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  color: #404040;
  text-decoration: none;
}
.reactions .item:hover {
  transform: scale(1.05);
}
.reactions .item em {
  font-style: normal;
  font-size: 0.8em;
}

.comment-content blockquote {
  border-left: 3px solid #999;
  padding: 0.1em 0.3em;
}

.comments-box {
  font-size: 0.8em;
}
.comments-box a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #404040;
  border-radius: 30px;
}
.comments-box a.user-info {
  background: transparent;
  padding: 0;
  color: #262626;
}
.comments-box a.user_avatar {
  padding: 0;
  color: #262626;
}
.comments-box .actions {
  text-align: center;
}
.comments-box .actions .login_welcome a:after {
  content: "";
}
.comments-box .actions .user_avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  display: inline-block;
  padding: 0;
}
.comments-box .c-body {
  margin-top: 1em;
}
.comments-box .c-body .tabs {
  display: flex;
}
.comments-box .c-body .tabs .item {
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 1em 0 0 0;
  border: 1px solid transparent;
  border-bottom: none;
  color: #404040;
}
.comments-box .c-body .tabs .item:focus {
  z-index: 5;
}
.comments-box .c-body .tabs .item:last-child {
  border-radius: 0 1em 0 0;
}
.comments-box .c-body .tabs .item.on {
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
.comments-box .c-body .write-box {
  min-height: 100px;
}
.comments-box .c-body .write-box textarea {
  display: block;
  margin: 0;
  padding: 1em;
  resize: vertical;
  min-height: 100px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 16px 16px 0 16px;
  font-size: 0.9em;
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  color: #404040;
}
.comments-box .c-body .write-box textarea[disabled] {
  cursor: not-allowed;
}
.comments-box .c-body .preview-box {
  padding: 1em;
  min-height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 16px;
  font-size: 1em;
  word-break: break-all;
}
.comments-box .c-body .preview-box a {
  color: #3b82f6;
  padding: 0;
  background: transparent;
}
.comments-box .c-body .key-stroke-info {
  text-align: center;
  display: block;
  margin-top: 0.5em;
  font-size: 0.8em;
  margin-bottom: 3em;
}
.comments-box .c-footer {
  margin-top: 1em;
}
.comments-box .c-footer .info {
  margin-bottom: 1em;
  text-align: center;
}
.comments-box .c-footer .comments-list .item {
  margin-bottom: 3em;
  overflow: hidden;
  padding-bottom: 1em;
}
.comments-box .c-footer .comments-list .item .user {
  margin-bottom: 0.1em;
}
.comments-box .c-footer .comments-list .item .user .user-info {
  display: flex;
  align-items: center;
}
.comments-box .c-footer .comments-list .item .user .outer-box {
  height: 48px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.comments-box .c-footer .comments-list .item .user .outer-box .author-tag {
  padding: 2px 4px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.12);
  font-size: 12px;
}
.comments-box .c-footer .comments-list .item .user img {
  border-radius: 100%;
  height: 2em;
  margin-right: 0.5em;
}
.comments-box .c-footer .comments-list .item .comment-body {
  padding-bottom: 1em;
}
.comments-box .c-footer .comments-list .item .comment-body a {
  padding: 0;
  text-decoration: none;
  background: none;
  color: #3b82f6;
}
.comments-box .c-footer .comments-list .item .comment-actions {
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #737373;
  line-height: 1.8;
}
.comments-box .c-footer .comments-list .item .comment-actions a {
  color: #737373;
  display: inline-block;
  text-decoration: none;
  margin-right: 1em;
  padding: 0.3em 1em;
  background-color: #ffffff;
  border-radius: 3em;
  border: 1px solid #e5e5e5;
}
.comments-box .c-footer .comments-list .item .datetime {
  font-size: 0.8em;
  color: #a3a3a3;
  line-height: 1.5;
}

@keyframes slideUp_offset {
  0% {
    transform: translateY(50px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}
@media (prefers-color-scheme: dark) {
  .reactions .item {
    border: 1px solid #737373;
    background-color: #404040;
    color: #fff;
  }
  .comments-box .c-footer .comments-list .item .comment-body a {
    color: #60a5fa;
  }
  .comments-box a {
    color: #d4d4d4;
  }
  .comments-box a.user-info {
    background: transparent;
    padding: 0;
    color: #d4d4d4;
  }
  .comments-box a.user_avatar {
    padding: 0;
    color: #d4d4d4;
  }
  .comments-box .c-body .tabs .item {
    background-color: #262626;
    color: #e5e5e5;
    border-bottom: none;
  }
  .comments-box .c-body .tabs .item.on {
    background-color: #525252;
    border: 1px solid #525252;
    border-bottom: none;
  }
  .comments-box .c-body .write-box textarea {
    border: 1px solid #525252;
    color: #fafafa;
    background-color: transparent;
  }
  .comments-box .c-body .preview-box {
    border: 1px solid #525252;
  }
  .comments-box .c-footer .comments-list .item {
    border-bottom-color: #404040;
  }
  .comments-box .c-footer .comments-list .item .user .outer-box .author-tag {
    background: rgba(255, 255, 255, 0.12);
  }
  .comments-box .c-footer .comments-list .item .comment-actions {
    color: #737373;
  }
  .comments-box .c-footer .comments-list .item .comment-actions a {
    background-color: #262626;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
  }
  .comments-box .c-footer .comments-list .item .datetime {
    color: #e5e5e5;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22vars.scss%22,%22comments.scss%22,%22color.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;ACPA;EACE;EACA;;;AAIJ;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA,aAlCQ;EAmCR;EACA;EAEA;EACA;EACA;EACA;EACA;EACA,OCWU;EDVV;;AAEA;EACE;;AAGF;EACE;EACA;;;AAMJ;EACE;EACA;;;AAIJ;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA,OCtBQ;;ADyBV;EACE;EACA,OC3BQ;;AD+BZ;EACE;;AAII;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAIJ;EACE;;AAEA;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBCxEM;EDyEN;EACA;EACA;EACA,OCtEM;;ADwEN;EACE;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EACA;;AAKN;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,aA5JI;EA6JJ,OCvGM;;ADyGN;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE,OCtIG;EDuIH;EACA;;AAIJ;EACE;EACA;EACA;EACA;EACA;;AAIJ;EACE;;AAEA;EACE;EACA;;AAIA;EACE;EACA;EACA;;AAEA;EACE;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA;;AAIJ;EACE;;AAEA;EACE;EACA;EACA;EACA,OCxMD;;AD4MH;EACE;EACA;EACA;EACA,OCpMI;EDqMJ;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA,OCtNI;EDuNJ;;;AAQV;EACE;IACE;IACA;;EAGF;IACE;IACA;;;AAIJ;EAGI;IACE;IACA,kBC7OQ;ID8OR;;EAKF;IACE,OCnQK;;EDsQP;IACE,OC5PQ;;ED8PR;IACE;IACA;IACA,OCjQM;;EDoQR;IACE;IACA,OCtQM;;ED8QN;IACE,kBC1QI;ID2QJ,OCjRI;IDkRJ;;EAEA;IACE,kBCjRE;IDkRF;IACA;;EAMJ;IACE;IACA,OCjSG;IDkSH;;EAIJ;IACE;;EAOA;IACE,qBCxSI;;ED4SA;IACE;;EAKN;IACE,OCrTE;;EDuTF;IACE,kBCrTA;IDsTA;IACA,OC7TA;;EDiUJ;IACE,OClUE%22,%22file%22:%22comments.css%22%7D */
