@use "vars";
@use "color";

$mono-font: "Menlo", "Cascadia Code", monospace, sans-serif;

.user-window {
  a[target=_blank]:after {
    content: '';
    display: none;
  }
}

.reactions {
  margin: 2em 0;
  text-align: center;
  user-select: none;

  .info {
    text-align: center;
    font-size: .8em;
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
    transition: height .1s ease, margin .1s ease;

    &.expanded {
      height: 2em;
    }
  }

  .item {
    display: inline-block;
    font-size: 1em;
    font-family: $mono-font;
    cursor: pointer;
    margin: 0 .5em;
    @extend .shadow-xl;
    border-radius: 3em;
    padding: .3em 1em;
    border: 1px solid color.$neutral-100;
    background-color: #ffffff;
    transition: transform .3s ease;
    color: color.$neutral-700;
    text-decoration: none;

    &:hover {
      transform: scale(1.05);
    }

    em {
      font-style: normal;
      font-size: .8em;
    }
  }
}

.comment-content {
  blockquote {
    border-left: 3px solid #999;
    padding: .1em .3em;
  }
}

.comments-box {
  font-size: .8em;

  a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    background: #404040;
    border-radius: 30px;

    &.user-info {
      background: transparent;
      padding: 0;
      color: color.$neutral-800
    }

    &.user_avatar {
      padding: 0;
      color: color.$neutral-800
    }
  }

  .actions {
    text-align: center;

    .login_welcome {
      a {
        &:after {
          content: ''
        }
      }
    }

    .user_avatar {
      width: 36px;
      height: 36px;
      border-radius: 36px;
      display: inline-block;
      padding: 0;
    }
  }

  .c-body {
    margin-top: 1em;

    .tabs {
      display: flex;

      .item {
        cursor: pointer;
        text-decoration: none;
        width: 100px;
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: color.$neutral-100;
        border-radius: 1em 0 0 0;
        border: 1px solid transparent;
        border-bottom: none;
        color: color.$neutral-700;

        &:focus {
          z-index: 5;
        }

        &:last-child {
          border-radius: 0 1em 0 0;
        }

        &.on {
          font-weight: bold;
          background-color: #ffffff;
          border: 1px solid color.$neutral-200;
          border-bottom: none;
        }
      }
    }

    .write-box {
      min-height: 100px;

      textarea {
        display: block;
        margin: 0;
        padding: 1em;
        resize: vertical;
        min-height: 100px;
        width: 100%;
        border: 1px solid color.$neutral-200;
        border-radius: 16px 16px 0 16px;
        font-size: .9em;
        font-family: $mono-font;
        color: color.$neutral-700;

        &[disabled] {
          cursor: not-allowed;
        }
      }
    }

    .preview-box {
      padding: 1em;
      min-height: 100px;
      border: 1px solid color.$neutral-200;
      border-radius: 16px;
      font-size: 1em;
      word-break: break-all;

      a {
        color: color.$blue-500;
        padding: 0;
        background: transparent;
      }
    }

    .key-stroke-info {
      text-align: center;
      display: block;
      margin-top: .5em;
      font-size: .8em;
      margin-bottom: 3em;
    }
  }

  .c-footer {
    margin-top: 1em;

    .info {
      margin-bottom: 1em;
      text-align: center;
    }

    .comments-list {
      .item {
        margin-bottom: 3em;
        overflow: hidden;
        padding-bottom: 1em;

        .user {
          margin-bottom: .1em;

          .user-info {
            display: flex;
            align-items: center;
          }

          .outer-box {
            height: 48px;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;

            .author-tag {
              padding: 2px 4px;
              border-radius: 4px;
              background: rgba(0, 0, 0, .12);
              font-size: 12px;
            }
          }

          img {
            border-radius: 100%;
            height: 2em;
            margin-right: .5em;
          }
        }

        .comment-body {
          padding-bottom: 1em;

          a {
            padding: 0;
            text-decoration: none;
            background: none;
            color: color.$blue-500
          }
        }

        .comment-actions {
          padding: 1em;
          text-align: center;
          font-size: .8em;
          color: color.$neutral-500;
          line-height: 1.8;

          a {
            color: #737373;
            display: inline-block;
            text-decoration: none;
            margin-right: 1em;
            padding: .3em 1em;
            background-color: #ffffff;
            border-radius: 3em;
            border: 1px solid color.$neutral-200;
          }
        }

        .datetime {
          font-size: .8em;
          color: color.$neutral-400;
          line-height: 1.5;
        }
      }
    }
  }

}

@keyframes slideUp_offset {
  0% {
    transform: translateY(50px) translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@media (prefers-color-scheme: dark) {
  .reactions {

    .item {
      border: 1px solid color.$neutral-500;
      background-color: color.$neutral-700;
      color: #fff;
    }
  }

  .comments-box {
    .c-footer .comments-list .item .comment-body a {
      color: color.$blue-400
    }

    a {
      color: color.$neutral-300;

      &.user-info {
        background: transparent;
        padding: 0;
        color: color.$neutral-300
      }

      &.user_avatar {
        padding: 0;
        color: color.$neutral-300
      }
    }

    .c-body {

      .tabs {

        .item {
          background-color: color.$neutral-800;
          color: color.$neutral-200;
          border-bottom: none;

          &.on {
            background-color: color.$neutral-600;
            border: 1px solid color.$neutral-600;
            border-bottom: none;
          }
        }
      }

      .write-box {
        textarea {
          border: 1px solid color.$neutral-600;
          color: color.$neutral-50;
          background-color: transparent;
        }
      }

      .preview-box {
        border: 1px solid color.$neutral-600;
      }
    }

    .c-footer {

      .comments-list {
        .item {
          border-bottom-color: color.$neutral-700;

          .user {
            .outer-box {
              .author-tag {
                background: rgba(255, 255, 255, .12);
              }
            }
          }

          .comment-actions {
            color: color.$neutral-500;

            a {
              background-color: color.$neutral-800;
              border: 1px solid color.$neutral-200;
              color: color.$neutral-200
            }
          }

          .datetime {
            color: color.$neutral-200;
          }
        }
      }
    }
  }
}
