@use 'color';
@use "vars";

$radius: 0.4em;
$light-bg: rgba(#fff, .02);

@media (prefers-color-scheme: dark) {
  html, body {
    color: color.$slate-50;
    background: color.$neutral-900 !important;
  }

  header {
    .logo {
      svg {
        fill: white;
      }

      img {
        &.light {
          display: inline;
        }

        &.dark {
          display: none;
        }
      }
    }

    desc {
      color: color.$slate-100
    }

    .navigation {
      ul {

        li {

          a {
            color: #ddd;
          }
        }
      }
    }
  }

  main {

    .pagination {

      a {
        border: 1px solid #555;
        background: $light-bg;
        color: #989898;
      }

      .total {
        color: #aaa;
      }
    }

    &.index {
      ul {

        li {
          a {
            color: #d1d1d1;

            .title {
              color: #eee;
            }

            .date {
              color: #777;
            }

            .slogan {
              color: #777;
            }

            .tags {
              .item {
                color: #bbb;
                background: $light-bg;
              }

              .sep {
                color: color.$emerald-700;
              }
            }
          }
        }
      }
    }

    .page-original {
      color: color.$neutral-300;
      background: color.$neutral-700;
      border-color: #555;
      border-bottom-color: #444;
      border-right-color: #444;

      a {
        color: color.$blue-200;
      }
    }

    .page-content {
      color: color.$slate-100;

      strong, b {
        color: #fff;
      }

      a {
        color: color.$blue-400;
      }

      table {
        $border-color: #555;
        border-top: 1px solid $border-color;
        border-collapse: collapse;

        td, th {
          border-bottom: 1px solid $border-color;
        }
      }

      h1, h2, h3, h4, {
        color: #fff;
      }

      hr {
        background: $light-bg;
        border-bottom: 1px solid #555;
      }

      blockquote {
        border-left-color: #555;
      }

      code {
        background: $light-bg;
        border: 1px solid #555;
        color: #d1d1d1;
      }

      pre {

        code {
          color: inherit;
        }
      }
    }

    .page-info {
      color: #aaa;
    }
  }

  footer {
    color: #eee;

    a {
      color: #eee;
    }
  }

  .analytics-note-box {
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border: 1px solid #222;

    .btn-grp {
      .btn {
        border: 1px solid color.$gray-900;
        color: color.$gray-100;
        background: color.$gray-800;

        &.primary {
          background: color.$gray-50;
          border-color: color.$slate-100;
          color: #333;
        }
      }
    }
  }
  .donation-box {
    .img {
      img {
        &.dark {
          display: block;
        }

        &.light {
          display: none;
        }
      }
    }

    .text {
      color: #aaa;

      b {
        color: #ddd;
      }
    }
  }
}

