.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: #f8fafc;
    background: #171717 !important;
  }
  header .logo svg {
    fill: white;
  }
  header .logo img.light {
    display: inline;
  }
  header .logo img.dark {
    display: none;
  }
  header desc {
    color: #f1f5f9;
  }
  header .navigation ul li a {
    color: #ddd;
  }
  main .pagination a {
    border: 1px solid #555;
    background: rgba(255, 255, 255, 0.02);
    color: #989898;
  }
  main .pagination .total {
    color: #aaa;
  }
  main.index ul li a {
    color: #d1d1d1;
  }
  main.index ul li a .title {
    color: #eee;
  }
  main.index ul li a .date {
    color: #999;
  }
  main.index ul li a .date .highlight {
    color: #f5f5f5;
  }
  main.index ul li a .slogan {
    color: #777;
  }
  main.index ul li a .tags .item {
    color: #bbb;
    background: rgba(255, 255, 255, 0.02);
  }
  main.index ul li a .tags .sep {
    color: #047857;
  }
  main .page-original {
    color: #d4d4d4;
    background: #404040;
    border-color: #555;
    border-bottom-color: #444;
    border-right-color: #444;
  }
  main .page-original a {
    color: #bfdbfe;
  }
  main .page-content {
    color: #f1f5f9;
  }
  main .page-content strong, main .page-content b {
    color: #fff;
  }
  main .page-content a {
    color: #60a5fa;
  }
  main .page-content table {
    border-top: 1px solid #555;
    border-collapse: collapse;
  }
  main .page-content table td, main .page-content table th {
    border-bottom: 1px solid #555;
  }
  main .page-content h1, main .page-content h2, main .page-content h3, main .page-content h4 {
    color: #fff;
  }
  main .page-content hr {
    background: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid #555;
  }
  main .page-content blockquote {
    border-left-color: #555;
  }
  main .page-content code {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #555;
    color: #d1d1d1;
  }
  main .page-content pre code {
    color: inherit;
  }
  main .page-info {
    color: #aaa;
  }
  footer {
    color: #eee;
  }
  footer a {
    color: #eee;
  }
  .analytics-note-box {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #222;
  }
  .analytics-note-box .btn-grp .btn {
    border: 1px solid #111827;
    color: #f3f4f6;
    background: #1f2937;
  }
  .analytics-note-box .btn-grp .btn.primary {
    background: #f9fafb;
    border-color: #f1f5f9;
    color: #333;
  }
  .donation-box .img img.dark {
    display: block;
  }
  .donation-box .img img.light {
    display: none;
  }
  .donation-box .text {
    color: #aaa;
  }
  .donation-box .text b {
    color: #ddd;
  }
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22vars.scss%22,%22dark.scss%22,%22color.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;ACPF;EACE;IACE,OCNO;IDOP;;EAKE;IACE;;EAIA;IACE;;EAGF;IACE;;EAKN;IACE,OC3BM;;EDmCF;IACE;;EAWN;IACE;IACA,YAhDG;IAiDH;;EAGF;IACE;;EAQE;IACE;;EAEA;IACE;;EAGF;IACE;;EAEA;IACE,OCzBF;;ED6BF;IACE;;EAIA;IACE;IACA,YAnFL;;EAsFG;IACE,OCtBF;;ED8BV;IACE,OC/CQ;IDgDR,YC5CQ;ID6CR;IACA;IACA;;EAEA;IACE,OCnEG;;EDuEP;IACE,OC7GM;;ED+GN;IACE;;EAGF;IACE,OC7EG;;EDgFL;IAEE;IACA;;EAEA;IACE;;EAIJ;IACE;;EAGF;IACE,YArIG;IAsIH;;EAGF;IACE;;EAGF;IACE,YA9IG;IA+IH;IACA;;EAKA;IACE;;EAKN;IACE;;EAIJ;IACE;;EAEA;IACE;;EAIJ;IACE;IACA;IACA;;EAGE;IACE;IACA,OCrKG;IDsKH,YC/JG;;EDiKH;IACE,YC1KA;ID2KA,cCtLE;IDuLF;;EAQF;IACE;;EAGF;IACE;;EAKN;IACE;;EAEA;IACE%22,%22file%22:%22dark.css%22%7D */
