html, body {
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;
  padding: 2rem 20px 0;
  margin: 0 auto;
  display: block;
}
header .logo {
  width: 2rem;
}
header .logo img {
  width: 100%;
}
header .logo img.light {
  display: none;
}
header h1 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 1.5;
}
header desc {
  font-size: 0.8rem;
  color: #0f172a;
}
header .navigation ul {
  list-style: none;
  margin: 1rem 0 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0.5rem 0 0;
}
header .navigation ul li {
  list-style: inherit;
  padding: 0;
  display: inline-block;
  margin-right: 1rem;
  font-size: 0.8rem;
}
header .navigation ul li a {
  padding: 0.3rem 0.6rem;
  text-decoration: none;
  position: relative;
  display: block;
  color: #334155;
  background-color: #F9FAFB;
  border-radius: 2rem;
  border: 1px solid #cbd5e1;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  display: block;
}
main .pagination {
  margin: 0 0 1.5rem;
  text-align: center;
}
main .pagination a {
  border: 1px solid #e2e8f0;
  border-radius: 0.4em;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  background: #f8fafc;
  color: #334155;
  margin: 0 0.5rem;
}
main .pagination .total {
  display: block;
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #475569;
}
main.index ul {
  padding: 0;
  list-style: none;
}
main.index ul li {
  list-style: inherit;
  padding: 1.5rem 0;
}
main.index ul li:hover a .title {
  text-decoration: underline;
}
main.index ul li:hover a .title .deprecated {
  text-decoration: none;
}
main.index ul li a {
  border-radius: 0.4em;
  display: block;
  color: #334155;
  text-decoration: none;
}
main.index ul li a .title {
  font-size: 1.1rem;
  color: #0f172a;
  line-height: 1.5;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
main.index ul li a .title .deprecated {
  background: #EF4444;
  border-radius: 3rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  position: relative;
  top: -0.15em;
}
main.index ul li a .date {
  margin-top: 0.3rem;
  font-size: 0.8rem;
  color: #64748b;
}
main.index ul li a .desc {
  white-space: nowrap;
  overflow: hidden;
  line-height: 2;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  margin: 0.5rem 0;
}
main.index ul li a .slogan {
  margin-top: -0.5rem;
  display: block;
  font-size: 0.8rem;
  color: #475569;
}
main.index ul li a .tags {
  margin-top: 0.5rem;
}
main.index ul li a .tags .item {
  display: inline;
  font-size: 0.7rem;
  color: #334155;
  padding: 0.3rem 0.5rem;
  border: 1px solid #e2e8f0;
  border-radius: 3rem;
  background: #f8fafc;
}
main .page-original {
  margin: 4rem 0;
  font-size: 0.7rem;
  color: #888888;
}
main .page-original img {
  margin-bottom: 0.5rem;
}
main .page-original a {
  color: #777777;
}
main .page-content {
  line-height: 1.8;
  color: #333333;
}
main .page-content ul {
  margin: 0 0 1rem;
}
main .page-content ul li ul {
  margin-bottom: 0;
}
main .page-content h1, main .page-content h2, main .page-content h3, main .page-content h4 {
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #000000;
  position: relative;
}
main .page-content h1:after, main .page-content h2:after, main .page-content h3:after, main .page-content h4:after {
  font-size: 0.6em;
  color: #999999;
  content: "#";
  display: block;
  position: absolute;
  left: 0;
  top: 0.5em;
}
main .page-content p {
  margin-bottom: 1rem;
}
main .page-content video {
  width: 100%;
  margin: 1rem 0;
  border-radius: 5px;
}
main .page-content li p {
  margin-bottom: 0.5rem;
}
main .page-content li pre {
  margin-top: 0;
}
main .page-content a {
  color: #2563eb;
  word-break: break-all;
}
main .page-content .sugg-back {
  pointer-events: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
main .page-content .demo {
  overflow: auto;
}
main .page-content .table-wrap {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 1rem;
}
main .page-content .table-wrap table {
  margin-top: 0;
}
main .page-content .table-wrap table code {
  white-space: nowrap;
}
main .page-content .demo {
  margin: 2em 0;
}
main .page-content table {
  font-size: 0.8rem;
  margin: 1rem 0;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-collapse: collapse;
}
main .page-content table td, main .page-content table th {
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 0.8rem;
}
main .page-content table th {
  font-weight: bolder;
}
main .page-content hr {
  height: 0.3rem;
  background: #E5E7EB;
  border-radius: 0.4em;
  margin: 2rem 4rem;
  border: 1px solid #D1D5DB;
}
main .page-content blockquote {
  border-left: 0.3em solid #dddddd;
  padding-left: 1em;
  margin: 1em 0;
}
main .page-content blockquote p {
  margin: 0;
}
main .page-content img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 0.4em;
  cursor: zoom-in;
}
main .page-content code {
  background: #F3F4F6;
  padding: 0.1em 0.3em;
  border: 1px solid #E5E7EB;
  border-radius: 0.4em;
  margin: 0 0.3em;
  color: #333333;
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  font-size: 0.875em;
}
main .page-content .highlight {
  margin: 1em 0;
}
main .page-content .highlight table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border: none;
}
main .page-content .highlight table td.code {
  border: none;
  padding: 0;
}
main .page-content .highlight table td.code pre {
  overflow-x: auto;
}
main .page-content pre {
  font-size: 16px;
}
main .page-content pre code {
  font-size: 0.8125em;
  background: transparent;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}
main .page-info {
  font-size: 0.8em;
  color: #888888;
  line-height: 1.6;
  margin-bottom: 2rem;
}
main .page-info a {
  color: inherit;
}
main .page-info .deprecated {
  color: #ef4444;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 0.8em;
  color: #777777;
  display: flex;
  height: 8em;
  justify-content: center;
  align-items: center;
  align-content: center;
}
footer a {
  color: #666666;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22page.scss%22,%22color.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAQA;EACE,aAHU;EAIV;EACA;;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAEA;EACE;;AAEA;EACE;;AAKN;EACE;EACA;EACA;;AAGF;EACE;EACA,OC/BQ;;ADmCR;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA,OCxDE;EDyDF,kBCpDA;EDqDA;EACA;;;AAOV;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;EACA,eApFG;EAqFH;EACA;EACA;EACA;EACA,YC1FK;ED2FL,OCpFM;EDqFN;;AAGF;EACE;EACA;EACA;EACA,OC7FM;;ADkGR;EACE;EACA;;AAEA;EACE;EACA;;AAII;EACE;;AAEA;EACE;;AAMR;EACE,eA5HD;EA6HC;EACA,OCxHE;EDyHF;;AAEA;EACE;EACA,OC3HA;ED4HA;EACA;EACA;;AAEA;EACE,YC7GJ;ED8GI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA,OCpJA;;ADuJF;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA,OCnKA;;ADsKF;EACE;;AAEA;EACE;EACA;EACA,OC3KF;ED4KE;EACA;EACA;EACA,YCtLH;;AD8LT;EACE;EACA;EACA;;AAEA;EACE;;AAGF;EACE;;AAIJ;EACE;EACA;;AAEA;EACE;;AAGE;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;;AAGF;EACE;EACA;EACA;;AAIA;EACE;;AAGF;EACE;;AAIJ;EACE,OCvNK;EDwNL;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;;AAGF;EACE;EACA;EACA;;AAEA;EACE;;AAEA;EACE;;AAKN;EACE;;AAGF;EACE;EACA;EAEA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;;AAIJ;EACE;EACA,YCzSK;ED0SL,eAvTG;EAwTH;EACA;;AAGF;EACE;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA,eA1UG;EA2UH;;AAGF;EACE,YCnUK;EDoUL;EACA;EACA,eAlVG;EAmVH;EACA;EACA,aAlVM;EAmVN;;AAGF;EACE;;AAEA;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;;AAMR;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAKN;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE,OAtYK;EAuYL;;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE%22,%22file%22:%22page.css%22%7D */
