.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.shadow-xl, main .page-original, .analytics-note-box {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

html, body {
  font-family: "Poppins", "PingFang SC", "Microsoft YaHei", sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 1.5rem;
  display: block;
}
main .pagination {
  margin: 1.5rem 0 3.5rem;
  text-align: center;
}
main .pagination a {
  border: 1px solid #e2e8f0;
  border-radius: 0.4em;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  background: #f8fafc;
  color: #334155;
  margin: 0 0.5rem;
}
main .pagination .total {
  display: block;
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #475569;
}
main.index h2 {
  margin-bottom: 2rem;
}
main.index ul {
  padding: 0;
  list-style: none;
}
main.index ul li {
  list-style: inherit;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: transparent;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  border: 1px solid transparent;
}
main.index ul li:hover a .title {
  text-decoration: underline;
}
main.index ul li:hover a .title .deprecated {
  text-decoration: none;
}
main.index ul li a {
  padding: 1.5rem 0;
  border-radius: 0.4em;
  display: block;
  color: #334155;
  text-decoration: none;
}
main.index ul li a .title {
  font-size: 1.1rem;
  color: #0f172a;
  line-height: 1.5;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
main.index ul li a .title .deprecated {
  background: #ef4444;
  border-radius: 3rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  position: relative;
  top: -0.15em;
}
main.index ul li a .date {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  color: #64748b;
  font-style: italic;
}
main.index ul li a .date .tag-item {
  display: inline;
}
main.index ul li a .desc {
  white-space: nowrap;
  overflow: hidden;
  line-height: 2;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  margin: 0.5rem 0;
}
main.index ul li a .slogan {
  margin-top: -0.5rem;
  display: block;
  font-size: 0.8rem;
  color: #475569;
}
main.index ul li a .tags {
  margin-top: 0.5rem;
}
main.index ul li a .tags .item {
  display: inline;
  font-size: 0.7rem;
  color: #334155;
  font-style: italic;
}
main.index ul li a .tags .sep {
  font-size: 0.7rem;
  color: #fca5a5;
  padding: 0 0.3rem;
  font-style: italic;
}
main .page-original {
  border: 1px solid #f6f6f6;
  border-right-color: #e6e6e6;
  border-bottom-color: #eeeeee;
  margin: 4rem 0;
  font-size: 0.7rem;
  color: #888888;
  background: #fafafa;
  padding: 1.5rem;
  border-radius: 1rem;
}
main .page-original img {
  margin-bottom: 0.5rem;
}
main .page-original a {
  color: #777777;
}
main .page-content {
  line-height: 1.9;
  color: #333333;
}
main .page-content p + ul, main .page-content p + ol {
  margin: 0 0 1rem;
}
main .page-content h1, main .page-content h2, main .page-content h3, main .page-content h4 {
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #000000;
  position: relative;
}
main .page-content h1:after, main .page-content h2:after, main .page-content h3:after, main .page-content h4:after {
  font-size: 0.6em;
  color: #999999;
  content: "#";
  display: block;
  position: absolute;
  left: 0;
  top: 0.5em;
}
main .page-content p {
  margin-bottom: 1rem;
}
main .page-content video {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}
main .page-content li p {
  margin-bottom: 0.5rem;
}
main .page-content li pre {
  margin-top: 0;
}
main .page-content h3 a {
  padding: 0;
}
main .page-content strong, main .page-content b {
  color: #000000;
}
main .page-content a {
  color: #64748b;
  word-break: break-all;
  padding: 0 0.3rem;
  position: relative;
}
main .page-content .sugg-back {
  pointer-events: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
main .page-content .demo {
  overflow: auto;
}
main .page-content .table-wrap {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 1rem;
}
main .page-content .table-wrap table {
  margin-top: 0;
}
main .page-content .table-wrap table code {
  white-space: nowrap;
}
main .page-content .demo {
  margin: 2em 0;
}
main .page-content table {
  font-size: 0.8rem;
  margin: 1rem 0;
  border-left: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  border-collapse: collapse;
}
main .page-content table td, main .page-content table th {
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  padding: 0.8rem;
}
main .page-content table th {
  font-weight: bolder;
}
main .page-content hr {
  height: 0;
  background: #e5e7eb;
  margin: 2rem 4rem;
  border: none;
  border-bottom: 1px solid #d1d5db;
}
main .page-content blockquote {
  border-left: 0.3em solid #dddddd;
  padding-left: 1em;
  margin: 1em 0;
}
main .page-content blockquote p {
  margin: 0;
}
main .page-content img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border-radius: 0.4em;
  cursor: zoom-in;
}
main .page-content code {
  background: transparent;
  padding: 0.1em 0.3em;
  border: 1px solid #e5e7eb;
  border-radius: 0.4em;
  margin: 0 0.1em;
  position: relative;
  top: -0.05em;
  color: #333333;
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  font-size: 0.875em;
}
main .page-content .highlight {
  margin: 1em 0;
}
main .page-content .highlight table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border: none;
}
main .page-content .highlight table td.code {
  border: none;
  padding: 0;
}
main .page-content .highlight table td.code pre {
  overflow-x: auto;
}
main .page-content pre {
  font-size: 16px;
}
main .page-content pre code {
  font-size: 0.8125em;
  background: transparent;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}
main .page-info {
  font-size: 0.7em;
  color: #555;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 2rem;
}
main .page-info a {
  color: inherit;
}
main .page-info .deprecated {
  color: #ef4444;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 0.7em;
  color: #555;
  display: flex;
  height: 8em;
  justify-content: center;
  align-items: center;
  align-content: center;
}
footer a {
  color: #666666;
}

.analytics-note-box {
  width: 220px;
  height: auto;
  position: fixed;
  right: -260px;
  bottom: 20px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #eeeeee;
  line-height: 1.5;
  transition: right 0.4s ease;
}
.analytics-note-box .icon {
  font-size: 24px;
}
.analytics-note-box .title {
  margin-top: 10px;
}
.analytics-note-box .btn-grp {
  margin-top: 4px;
}
.analytics-note-box .btn-grp .btn {
  margin-top: 10px;
  border: 1px solid #e2e8f0;
  padding: 6px;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #334155;
  background: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}
.analytics-note-box .btn-grp .btn.primary {
  background: #0f172a;
  border-color: #1e293b;
  color: #ffffff;
}

.show-analytics-notification .analytics-note-box {
  right: 20px;
}

.donation-box {
  padding-top: 30px;
  padding-bottom: 60px;
}
.donation-box .img img {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.donation-box .img img.dark {
  display: none;
}
.donation-box .text {
  color: #777777;
  font-size: 12px;
  text-align: center;
}
.donation-box .text b {
  color: #333333;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22vars.scss%22,%22page.scss%22,%22color.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;ACJF;EACE;EACA;EACA;EACA;;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;EACA,eAxBG;EAyBH;EACA;EACA;EACA;EACA,YC/BK;EDgCL,OCzBM;ED0BN;;AAGF;EACE;EACA;EACA;EACA,OClCM;;ADuCR;EACE;;AAGF;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAII;EACE;;AACA;EACE;;AAMR;EACE;EACA,eAzED;EA0EC;EACA,OCtEE;EDuEF;;AAEA;EACE;EACA,OCzEA;ED0EA;EACA;EACA;;AAEA;EACE,YC3DJ;ED4DI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA,OClGA;EDmGA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA,OCtHA;;ADyHF;EACE;;AAEA;EACE;EACA;EACA,OC9HF;ED+HE;;AAEF;EACE;EACA,OC/GJ;EDgHI;EACA;;AAQZ;EACE;EACA;EACA;EACA;EACA;EACA;EACA,YC3GS;ED4GT;EACA;;AAGA;EACE;;AAGF;EACE;;AAIJ;EACE;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;;AAGF;EACE;EACA;EACA;;AAIA;EACE;;AAGF;EACE;;AAKF;EACE;;AAIJ;EACE;;AAGF;EACE,OC7NM;ED8NN;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;;AAGF;EACE;EACA;EACA;;AAEA;EACE;;AAEA;EACE;;AAKN;EACE;;AAGF;EACE;EACA;EAEA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;;AAIJ;EACE;EACA,YC5QK;ED6QL;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA,eA5SG;EA6SH;;AAGF;EACE;EACA;EACA;EACA,eApTG;EAqTH;EACA;EACA;EACA;EACA,aAtTM;EAuTN;;AAGF;EACE;;AAEA;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;;AAMR;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE,OA3WK;EA4WL;;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;;AAGF;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA,OC/ZM;EDgaN;EACA;EACA;;AAEA;EACE,YCnaI;EDoaJ,cCraI;EDsaJ;;;AAON;EACE;;;AAIJ;EACE;EACA;;AAGE;EAKE;EACA;EACA;EACA;;AAPA;EACE;;AAUN;EACE;EACA;EACA;;AAEA;EACE%22,%22file%22:%22page.css%22%7D */
