@use 'color';

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #bcbcbc;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::selection {
  background: fade-out(color.$blue-500, 0.5);
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }
  
  ::selection {
    background: fade-out(color.$blue-500, 0.8);
  }
}