@charset "UTF-8";
.shadow {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.shadow-md, .comments-box .c-body .buttons .btn {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.shadow-xl, .reactions .item, .analytics-note-box {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}

html, body {
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}

h1, h2, h3 {
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  outline: 2px solid transparent;
  border-radius: 6px;
}
a:focus {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
  background: rgba(0, 0, 0, 0.05);
}
a:active {
  outline: 2px solid #3b82f6;
  outline-offset: 2px;
  background: rgba(0, 0, 0, 0.05);
}
a[target=_blank]:after {
  content: "↗";
  margin-left: 2px;
  font-size: 0.8rem;
}

main {
  max-width: 640px;
  margin: 0 auto;
  padding: 1.5rem;
  display: block;
}
main .pagination {
  margin: 1.5rem 0 3.5rem;
  text-align: center;
}
main .pagination a {
  border: 1px solid #e2e8f0;
  border-radius: 0.4em;
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
  background: #f8fafc;
  color: #334155;
  margin: 0 0.5rem;
}
main .pagination .total {
  display: block;
  font-size: 0.8rem;
  margin-top: 1rem;
  color: #475569;
}
main.index h2 {
  margin-bottom: 2rem;
}
main.index ul {
  padding: 0;
  list-style: none;
}
main.index ul li {
  list-style: inherit;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  background: transparent;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  border: 1px solid transparent;
}
main.index ul li:hover a .title {
  text-decoration: underline;
}
main.index ul li:hover a .title .deprecated {
  text-decoration: none;
}
main.index ul li a {
  padding: 1.5rem 0;
  border-radius: 0.4em;
  display: block;
  color: #334155;
  text-decoration: none;
}
main.index ul li a:after {
  content: "";
}
main.index ul li a .title {
  font-size: 1.1rem;
  color: #0f172a;
  line-height: 1.5;
  margin-bottom: 0.8rem;
  font-weight: bold;
}
main.index ul li a .title .deprecated {
  background: #ef4444;
  border-radius: 3rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  position: relative;
  top: -0.15em;
}
main.index ul li a .date {
  margin-top: 0.3rem;
  font-size: 0.7rem;
  color: #64748b;
  font-style: italic;
}
main.index ul li a .date .tag-item {
  display: inline;
}
main.index ul li a .desc {
  white-space: nowrap;
  overflow: hidden;
  line-height: 2;
  font-size: 0.8rem;
  text-overflow: ellipsis;
  margin: 0.5rem 0;
}
main.index ul li a .slogan {
  margin-top: -0.5rem;
  display: block;
  font-size: 0.8rem;
  color: #475569;
}
main.index ul li a .tags {
  margin-top: 0.5rem;
}
main.index ul li a .tags .item {
  display: inline;
  font-size: 0.7rem;
  color: #334155;
  font-style: italic;
}
main.index ul li a .tags .sep {
  font-size: 0.7rem;
  color: #fca5a5;
  padding: 0 0.3rem;
  font-style: italic;
}
main .page-original {
  border: 1px solid #f6f6f6;
  border-right-color: #e6e6e6;
  border-bottom-color: #eeeeee;
  margin: 4rem 0;
  font-size: 0.7rem;
  color: #888888;
  background: #fafafa;
  padding: 1.5rem;
  border-radius: 1rem;
}
main .page-original img {
  margin-bottom: 0.5rem;
}
main .page-original a {
  color: #777777;
}
main .page-original a:after {
  content: "";
}
main .page-content {
  line-height: 1.9;
  color: #333333;
}
main .page-content p + ul, main .page-content p + ol {
  margin: 0 0 1rem;
}
main .page-content h1, main .page-content h2, main .page-content h3, main .page-content h4 {
  padding-left: 1em;
  margin-top: 3em;
  margin-bottom: 1em;
  color: #000000;
  position: relative;
}
main .page-content h1:after, main .page-content h2:after, main .page-content h3:after, main .page-content h4:after {
  font-size: 0.6em;
  color: #999999;
  content: "#";
  display: block;
  position: absolute;
  left: 0;
  top: 0.5em;
}
main .page-content p {
  margin-bottom: 1rem;
}
main .page-content video {
  width: 100%;
  margin: 1em auto 2em;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
main .page-content video:hover {
  transform: scale(1.05);
}
main .page-content li p {
  margin-bottom: 0.5rem;
}
main .page-content li pre {
  margin-top: 0;
}
main .page-content h3 a {
  padding: 0;
}
main .page-content strong, main .page-content b {
  color: #000000;
}
main .page-content a {
  color: #3b82f6;
  word-break: break-all;
  position: relative;
  text-decoration: none;
}
main .page-content .sugg-back {
  pointer-events: none;
  height: 0;
  opacity: 0;
  overflow: hidden;
}
main .page-content .demo {
  overflow: auto;
}
main .page-content .table-wrap {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 1rem;
}
main .page-content .table-wrap table {
  margin-top: 0;
}
main .page-content .table-wrap table code {
  white-space: nowrap;
}
main .page-content .demo {
  margin: 2em 0;
}
main .page-content table {
  font-size: 0.8rem;
  margin: 1rem 0;
  min-width: 100%;
  border-top: 1px solid #dddddd;
  border-collapse: collapse;
}
main .page-content table td, main .page-content table th {
  border-bottom: 1px solid #dddddd;
  padding: 0.8rem;
}
main .page-content table th {
  font-weight: bolder;
}
main .page-content hr {
  height: 0;
  background: #e5e7eb;
  margin: 2rem 4rem;
  border: none;
  border-bottom: 1px solid #d1d5db;
}
main .page-content blockquote {
  border-left: 0.3em solid #dddddd;
  padding-left: 1em;
  margin: 1em 0;
}
main .page-content blockquote p {
  margin: 0;
}
main .page-content img {
  display: block;
  max-width: 100%;
  margin: 1em auto 2em;
  border-radius: 0.4em;
  cursor: zoom-in;
  transition: transform 0.3s ease;
}
main .page-content img:hover {
  transform: scale(1.05);
}
main .page-content code {
  background: transparent;
  padding: 0.1em 0.3em;
  border: 1px solid #e5e7eb;
  border-radius: 0.4em;
  margin: 0 0.1em;
  position: relative;
  top: -0.05em;
  color: #333333;
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  font-size: 0.875em;
}
main .page-content .highlight {
  margin: 1em 0;
}
main .page-content .highlight table {
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border: none;
}
main .page-content .highlight table td.code {
  border: none;
  padding: 0;
}
main .page-content .highlight table td.code pre {
  overflow-x: auto;
}
main .page-content pre {
  font-size: 16px;
}
main .page-content pre code {
  font-size: 0.8125em;
  background: transparent;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}
main .page-info {
  font-size: 0.7em;
  color: #555;
  font-style: italic;
  line-height: 1.6;
  margin-bottom: 2rem;
}
main .page-info a {
  color: inherit;
}
main .page-info .deprecated {
  color: #ef4444;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 0.7em;
  color: #555;
  display: flex;
  height: 8em;
  justify-content: center;
  align-items: center;
  align-content: center;
}
footer a {
  color: #666666;
}

.analytics-note-box {
  width: 220px;
  height: auto;
  position: fixed;
  right: -260px;
  bottom: 20px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 6px;
  font-size: 14px;
  border: 1px solid #eeeeee;
  line-height: 1.5;
  transition: right 0.4s ease;
}
.analytics-note-box .icon {
  font-size: 24px;
}
.analytics-note-box .title {
  margin-top: 10px;
}
.analytics-note-box .btn-grp {
  margin-top: 4px;
}
.analytics-note-box .btn-grp .btn {
  margin-top: 10px;
  border: 1px solid #e2e8f0;
  padding: 6px;
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #334155;
  background: #ffffff;
  border-radius: 20px;
  text-decoration: none;
}
.analytics-note-box .btn-grp .btn.primary {
  background: #0f172a;
  border-color: #1e293b;
  color: #ffffff;
}

.show-analytics-notification .analytics-note-box {
  right: 20px;
}

.donation-box {
  padding-top: 30px;
  padding-bottom: 60px;
}
.donation-box .img img {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
}
.donation-box .img img.dark {
  display: none;
}
.donation-box .text {
  color: #777777;
  font-size: 12px;
  text-align: center;
}
.donation-box .text b {
  color: #333333;
}

header {
  width: 100%;
  max-width: 640px;
  box-sizing: border-box;
  padding: 2rem 1.5rem 0;
  margin: 0 auto;
  display: block;
}
header .logo {
  width: 2rem;
}
header .logo a {
  display: block;
  height: 2rem;
  width: 2rem;
}
header .logo svg {
  width: 100%;
  fill: black;
}
header .logo img {
  width: 100%;
}
header .logo img.light {
  display: none;
}
header h1 {
  margin-top: 0;
  font-size: 2rem;
  line-height: 1.5;
}
header desc {
  font-size: 0.8rem;
  color: #0f172a;
}
header .navigation ul {
  list-style: none;
  margin: 1rem 0 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
  padding: 0.5rem 0 0;
}
header .navigation ul .sep {
  margin: 0 1rem;
  font-size: 0.7rem;
}
header .navigation ul li {
  list-style: inherit;
  padding: 0;
  display: inline-block;
  font-size: 0.8rem;
  margin: 0;
}
header .navigation ul li a {
  text-decoration: none;
  position: relative;
  display: block;
  color: #334155;
}
header .navigation ul li a:hover {
  text-decoration: underline;
}

/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
}

@media (prefers-color-scheme: dark) {
  /*!
    Theme: GitHub Dark
    Description: Dark theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15
    Outdated base version: https://github.com/primer/github-syntax-dark
    Current colors taken from GitHub's CSS
  */
  .hljs {
    color: #c9d1d9;
    background: #0d1117;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
  }
  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
  }
  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
  }
  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
  }
  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
  }
  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
  }
  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
  }
  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
  }
  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
  }
  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
  }
  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #bcbcbc;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::selection {
  background: rgba(59, 130, 246, 0.5);
  color: inherit;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.5);
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
  }
  ::selection {
    background: rgba(59, 130, 246, 0.2);
  }
}
.md-shaodw, .app-audio-wrap .control .btn, .app-audio-wrap input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.md-shaodw:hover, .app-audio-wrap .control .btn:hover, .app-audio-wrap input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.15);
}

@keyframes glowing-d {
  0% {
    color: #10b981;
    text-shadow: 0 0 0 rgba(16, 185, 129, 0.5);
  }
  40% {
    color: #a7f3d0;
    text-shadow: 0 0 10px #6ee7b7;
  }
  80% {
    color: #10b981;
    text-shadow: 0 0 0 rgba(16, 185, 129, 0.5);
  }
  100% {
    color: #10b981;
    text-shadow: 0 0 0 rgba(16, 185, 129, 0.5);
  }
}
@keyframes glowing {
  0% {
    color: #f87171;
    text-shadow: 0 0 0 rgba(248, 113, 113, 0.5);
  }
  40% {
    color: #dc2626;
    text-shadow: 0 0 10px #f87171;
  }
  80% {
    color: #f87171;
    text-shadow: 0 0 0 rgba(248, 113, 113, 0.5);
  }
  100% {
    color: #f87171;
    text-shadow: 0 0 0 rgba(252, 165, 165, 0.5);
  }
}
.app-audio-wrap {
  background: #fafafa;
  padding: 0.8rem 1.2rem;
  margin: 1rem 0 2rem;
  position: relative;
  border-radius: 0.4em;
  border: 1px solid #f6f6f6;
  border-right-color: #e6e6e6;
  border-bottom-color: #eeeeee;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
}
.app-audio-wrap.playing {
  animation: playing_w 1.2s linear infinite;
}
.app-audio-wrap input[type=range] {
  width: 100%;
  margin-top: 20px;
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, 0.05);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  border-radius: 0.4em;
}
.app-audio-wrap input[type=range]:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.app-audio-wrap input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.4em;
  border: none;
}
.app-audio-wrap input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 20px;
  position: relative;
  top: -8px;
  height: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}
.app-audio-wrap .prog {
  height: 40px;
  width: 100%;
  margin-top: 0;
  overflow: hidden;
  border-radius: 0.4em;
  position: relative;
  display: block;
}
.app-audio-wrap .prog .bg {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.app-audio-wrap .prog .bg img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.app-audio-wrap audio {
  position: absolute;
  left: -99999px;
  opacity: 0;
  pointer-events: none;
}
.app-audio-wrap .time {
  color: #666666;
  font-size: 12px;
  margin-bottom: 10px;
  font-family: "JetBrains Mono", Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}
.app-audio-wrap .time .b {
  color: #333333;
}
.app-audio-wrap .name {
  color: #555555;
  font-size: 16px;
  display: flex;
  margin-bottom: 5px;
  line-height: 1.5;
  align-items: center;
  width: 80%;
}
.app-audio-wrap .name.playing .icon .iconfont {
  animation: glowing 1s ease infinite;
}
.app-audio-wrap .name .icon {
  display: inline-block;
  width: 30px;
  flex-shrink: 0;
}
.app-audio-wrap .name .icon svg {
  height: 16px;
  fill: #555555;
}
.app-audio-wrap .name.bg {
  background-color: rgba(0, 0, 0, 0.08);
  padding: 10px;
  border-radius: 0.4em;
  cursor: pointer;
}
.app-audio-wrap .name.bg:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.app-audio-wrap .control {
  position: relative;
  z-index: 3;
  line-height: 1.1;
  display: flex;
  user-select: none;
}
.app-audio-wrap .control .btn-grp {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}
.app-audio-wrap .control .btn {
  border: none;
  background-color: #ffffff;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  display: flex;
  padding: 0;
  cursor: pointer;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.app-audio-wrap .control .btn i.iconfont {
  color: #333333;
  font-size: 20px;
  transition: transform 0.3s ease;
}
.app-audio-wrap .control .btn:last-child {
  margin-right: 0;
}
.app-audio-wrap .control .btn.on {
  background-color: #6190e8;
  color: #ffffff;
}
.app-audio-wrap .control .btn.on svg {
  fill: #ffffff;
}
.app-audio-wrap .control .btn.on i.iconfont {
  color: #ffffff;
}
.app-audio-wrap .control .btn.spin i.iconfont {
  transform: rotate(-180deg);
}
.app-audio-wrap .control .btn.spin span {
  transform: rotate(-180deg);
}
.app-audio-wrap .control .btn.spin svg {
  transform: rotate(-180deg);
}
.app-audio-wrap .control span.material-symbols-rounded {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.app-audio-wrap .control svg {
  fill: #555555;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

@media (prefers-color-scheme: dark) {
  .app-audio-wrap {
    background: #404040;
    border-color: #555555;
    border-bottom-color: #444444;
    border-right-color: #444444;
  }
  .app-audio-wrap input[type=range] {
    background-color: #525252;
  }
  .app-audio-wrap input[type=range]:hover {
    background-color: #525252;
  }
  .app-audio-wrap input[type=range]::-webkit-slider-thumb {
    background-color: #ffffff;
  }
  .app-audio-wrap.playing {
    animation-name: playing_b;
  }
  .app-audio-wrap .time {
    color: #dddddd;
  }
  .app-audio-wrap .time .b {
    color: #ffffff;
  }
  .app-audio-wrap .name {
    color: #ffffff;
  }
  .app-audio-wrap .name.playing .icon .iconfont {
    animation: glowing-d 1s ease infinite;
  }
  .app-audio-wrap .name .icon {
    color: #ffffff;
  }
  .app-audio-wrap .name .icon svg {
    fill: #ffffff;
  }
  .app-audio-wrap .name.bg {
    background-color: #7c7c7c;
  }
  .app-audio-wrap .name.bg:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .app-audio-wrap .name.bg:active {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .app-audio-wrap .control {
    color: #ffffff;
  }
  .app-audio-wrap .control .btn {
    background-color: #a3a3a3;
    color: #ffffff;
  }
  .app-audio-wrap .control .btn i.iconfont {
    color: #ffffff;
  }
  .app-audio-wrap .control .btn.on {
    background-color: #ff4d4d;
    color: #ffffff;
  }
  .app-audio-wrap .control .btn.on svg {
    fill: #ffffff;
  }
  .app-audio-wrap .control svg {
    fill: #ffffff;
  }
}
.spectrum {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  height: 30px;
  max-width: 100%;
}
.spectrum .item-wrap {
  display: flex;
  align-items: center;
}
.spectrum .item-wrap .item {
  width: 4px;
  min-height: 4px;
  background: #999999;
  border-radius: 2px;
  margin-right: 2px;
  flex-shrink: 1;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: #f8fafc;
    background: #171717 !important;
  }
  header .logo svg {
    fill: white;
  }
  header .logo img.light {
    display: inline;
  }
  header .logo img.dark {
    display: none;
  }
  header desc {
    color: #f1f5f9;
  }
  header .navigation ul li a {
    color: #ddd;
  }
  main .pagination a {
    border: 1px solid #555;
    background: rgba(255, 255, 255, 0.02);
    color: #989898;
  }
  main .pagination .total {
    color: #aaa;
  }
  main.index ul li a {
    color: #d1d1d1;
  }
  main.index ul li a .title {
    color: #eee;
  }
  main.index ul li a .date {
    color: #777;
  }
  main.index ul li a .slogan {
    color: #777;
  }
  main.index ul li a .tags .item {
    color: #bbb;
    background: rgba(255, 255, 255, 0.02);
  }
  main.index ul li a .tags .sep {
    color: #047857;
  }
  main .page-original {
    color: #d4d4d4;
    background: #404040;
    border-color: #555;
    border-bottom-color: #444;
    border-right-color: #444;
  }
  main .page-original a {
    color: #bfdbfe;
  }
  main .page-content {
    color: #f1f5f9;
  }
  main .page-content strong, main .page-content b {
    color: #fff;
  }
  main .page-content a {
    color: #60a5fa;
  }
  main .page-content table {
    border-top: 1px solid #555;
    border-collapse: collapse;
  }
  main .page-content table td, main .page-content table th {
    border-bottom: 1px solid #555;
  }
  main .page-content h1, main .page-content h2, main .page-content h3, main .page-content h4 {
    color: #fff;
  }
  main .page-content hr {
    background: rgba(255, 255, 255, 0.02);
    border-bottom: 1px solid #555;
  }
  main .page-content blockquote {
    border-left-color: #555;
  }
  main .page-content code {
    background: rgba(255, 255, 255, 0.02);
    border: 1px solid #555;
    color: #d1d1d1;
  }
  main .page-content pre code {
    color: inherit;
  }
  main .page-info {
    color: #aaa;
  }
  footer {
    color: #eee;
  }
  footer a {
    color: #eee;
  }
  .analytics-note-box {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid #222;
  }
  .analytics-note-box .btn-grp .btn {
    border: 1px solid #111827;
    color: #f3f4f6;
    background: #1f2937;
  }
  .analytics-note-box .btn-grp .btn.primary {
    background: #f9fafb;
    border-color: #f1f5f9;
    color: #333;
  }
  .donation-box .img img.dark {
    display: block;
  }
  .donation-box .img img.light {
    display: none;
  }
  .donation-box .text {
    color: #aaa;
  }
  .donation-box .text b {
    color: #ddd;
  }
}
.reactions {
  margin: 2em 0;
  text-align: center;
  user-select: none;
}
.reactions .info {
  text-align: center;
  font-size: 0.8em;
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 3em;
  transition: height 0.1s ease, margin 0.1s ease;
}
.reactions .info.expanded {
  height: 2em;
}
.reactions .item {
  display: inline-block;
  font-size: 1em;
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  cursor: pointer;
  margin: 0 0.5em;
  border-radius: 3em;
  padding: 0.3em 1em;
  border: 1px solid #f5f5f5;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  color: #404040;
  text-decoration: none;
}
.reactions .item:hover {
  transform: scale(1.05);
}
.reactions .item em {
  font-style: normal;
  font-size: 0.8em;
}

.comment-content blockquote {
  border-left: 3px solid #999;
  padding: 0.1em 0.3em;
}

.comments-box {
  font-size: 0.8em;
}
.comments-box a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  background: #404040;
  border-radius: 30px;
}
.comments-box a.user-info {
  background: transparent;
  padding: 0;
  color: #262626;
}
.comments-box a.user_avatar {
  padding: 0;
  color: #262626;
}
.comments-box .actions {
  text-align: center;
}
.comments-box .actions .login_welcome a:after {
  content: "";
}
.comments-box .actions .user_avatar {
  width: 36px;
  height: 36px;
  border-radius: 36px;
  display: inline-block;
  padding: 0;
}
.comments-box .c-body {
  margin-top: 1em;
  padding: 1em 0 0;
}
.comments-box .c-body .tabs {
  display: flex;
}
.comments-box .c-body .tabs .item {
  cursor: pointer;
  text-decoration: none;
  width: 100px;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 1em 0 0 0;
  border: 1px solid transparent;
  border-bottom: none;
  color: #404040;
}
.comments-box .c-body .tabs .item:focus {
  z-index: 5;
}
.comments-box .c-body .tabs .item:last-child {
  border-radius: 0 1em 0 0;
}
.comments-box .c-body .tabs .item.on {
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-bottom: none;
}
.comments-box .c-body .write-box {
  min-height: 100px;
}
.comments-box .c-body .write-box textarea {
  margin: 0;
  padding: 1em;
  resize: vertical;
  min-height: 100px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 0 1em 0 1em;
  font-size: 0.9em;
  font-family: "Menlo", "Cascadia Code", monospace, sans-serif;
  color: #404040;
}
.comments-box .c-body .write-box textarea[disabled] {
  cursor: not-allowed;
}
.comments-box .c-body .preview-box {
  padding: 1em;
  min-height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 0 1em 1em 1em;
  font-size: 1em;
  margin-bottom: 1.4em;
}
.comments-box .c-body .buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.comments-box .c-body .buttons .login_welcome {
  display: inline-block;
  height: 34px;
}
.comments-box .c-body .buttons .login_welcome a {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;
  height: 34px;
}
.comments-box .c-body .buttons .login_welcome a:after {
  content: "";
  display: none;
}
.comments-box .c-body .buttons .login_welcome img {
  width: 34px;
  height: 34px;
  border-radius: 34px;
  display: inline-block;
}
.comments-box .c-body .buttons .btn {
  display: inline-block;
  border-radius: 3em;
  padding: 0.5em 1.5em;
  border: 1px solid #f5f5f5;
  background: #ffffff;
  color: #404040;
  text-decoration: none;
}
.comments-box .c-body .buttons .btn.send {
  color: #ffffff;
  background-color: #404040;
  border-color: #404040;
}
.comments-box .c-body .buttons .btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.comments-box .c-body .key-stroke-info {
  text-align: center;
  display: block;
  margin-top: 0.5em;
  font-size: 0.8em;
  margin-bottom: 3em;
}
.comments-box .c-footer {
  margin-top: 1em;
}
.comments-box .c-footer .info {
  margin-bottom: 1em;
  text-align: center;
}
.comments-box .c-footer .comments-list .item {
  margin-bottom: 3em;
  overflow: hidden;
  padding-bottom: 1em;
}
.comments-box .c-footer .comments-list .item .user {
  margin-bottom: 0.1em;
}
.comments-box .c-footer .comments-list .item .user .user-info {
  display: flex;
  align-items: center;
}
.comments-box .c-footer .comments-list .item .user .outer-box {
  height: 48px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.comments-box .c-footer .comments-list .item .user img {
  border-radius: 100%;
  height: 2em;
  margin-right: 0.5em;
}
.comments-box .c-footer .comments-list .item .comment-body {
  padding-bottom: 1em;
}
.comments-box .c-footer .comments-list .item .comment-body a {
  padding: 0;
  text-decoration: none;
  background: none;
  color: #3b82f6;
}
.comments-box .c-footer .comments-list .item .comment-actions {
  padding: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #737373;
  line-height: 1.8;
}
.comments-box .c-footer .comments-list .item .comment-actions a {
  color: #737373;
  display: inline-block;
  text-decoration: none;
  margin-right: 1em;
  padding: 0.3em 1em;
  background-color: #ffffff;
  border-radius: 3em;
  border: 1px solid #e5e5e5;
}
.comments-box .c-footer .comments-list .item .datetime {
  font-size: 0.8em;
  color: #a3a3a3;
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  .reactions .item {
    border: 1px solid #737373;
    background-color: #404040;
    color: #fff;
  }
  .comments-box .c-footer .comments-list .item .comment-body a {
    color: #60a5fa;
  }
  .comments-box a {
    color: #d4d4d4;
  }
  .comments-box a.user-info {
    background: transparent;
    padding: 0;
    color: #d4d4d4;
  }
  .comments-box a.user_avatar {
    padding: 0;
    color: #d4d4d4;
  }
  .comments-box .c-body .tabs .item {
    background-color: #262626;
    color: #e5e5e5;
    border-bottom: none;
  }
  .comments-box .c-body .tabs .item.on {
    background-color: #525252;
    border: 1px solid #525252;
    border-bottom: none;
  }
  .comments-box .c-body .write-box textarea {
    border: 1px solid #525252;
    color: #fafafa;
    background-color: transparent;
  }
  .comments-box .c-body .preview-box {
    border: 1px solid #525252;
  }
  .comments-box .c-body .buttons .btn {
    border: 1px solid #525252;
    background: #ffffff;
    color: #d4d4d4;
  }
  .comments-box .c-body .buttons .btn.send {
    color: #ffffff;
    background-color: #404040;
    border-color: #404040;
  }
  .comments-box .c-footer .comments-list .item {
    border-bottom-color: #404040;
  }
  .comments-box .c-footer .comments-list .item .comment-actions {
    color: #737373;
  }
  .comments-box .c-footer .comments-list .item .comment-actions a {
    background-color: #262626;
    border: 1px solid #e5e5e5;
    color: #e5e5e5;
  }
  .comments-box .c-footer .comments-list .item .datetime {
    color: #e5e5e5;
  }
}
.donate-box {
  margin: 4rem 0;
}
.donate-box .icon {
  display: flex;
  justify-content: center;
}
.donate-box .icon:after {
  content: none;
}
.donate-box .icon svg {
  width: 1.5rem;
  height: 1.5rem;
}
.donate-box code {
  margin: 1rem 0;
  display: block;
  text-align: center;
  font-size: 0.7rem;
}
.donate-box .desc {
  font-size: 0.7rem;
  text-align: center;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22vars.scss%22,%22page.scss%22,%22color.scss%22,%22header.scss%22,%22github.css%22,%22scroll-bar.scss%22,%22app-audio.scss%22,%22dark.scss%22,%22comments.scss%22,%22donate.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAA;EACE;;;AAGF;EACE;;;AAGF;EACE;;;AAGF;EACE;;;ACHF;EACE,aAHc;EAId;EACA;EACA;;;AAGF;EACE,aAVc;;;AAahB;EACE;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAIA;EACE;EACA;EACA;;;AAKN;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;EACA,eAtDG;EAuDH;EACA;EACA;EACA;EACA,YC7DK;ED8DL,OCvDM;EDwDN;;AAGF;EACE;EACA;EACA;EACA,OChEM;;ADqER;EACE;;AAGF;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAII;EACE;;AAEA;EACE;;AAMR;EACE;EACA,eAxGD;EAyGC;EACA,OCrGE;EDsGF;;AAEA;EACE;;AAGF;EACE;EACA,OC5GA;ED6GA;EACA;EACA;;AAEA;EACE,YC9FJ;ED+FI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;EACA,OCrIA;EDsIA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA,OCzJA;;AD4JF;EACE;;AAEA;EACE;EACA;EACA,OCjKF;EDkKE;;AAGF;EACE;EACA,OCnJJ;EDoJI;EACA;;AAQZ;EACE;EACA;EACA;EACA;EACA;EACA;EACA,YC/IS;EDgJT;EACA;;AAEA;EACE;;AAGF;EACE;;AACA;EACE;;AAKN;EACE;EACA;;AAEA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAKF;EACE;;AAGF;EACE;;AAKF;EACE;;AAIJ;EACE;;AAGF;EACE,OCpOK;EDqOL;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAGF;EACE;;AAGF;EACE;EACA;EACA;;AAEA;EACE;;AAEA;EACE;;AAKN;EACE;;AAGF;EACE;EACA;EACA;EAEA;EACA;;AAEA;EAEE;EACA;;AAGF;EACE;;AAIJ;EACE;EACA,YCvTK;EDwTL;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA,eAvVG;EAwVH;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA,eApWG;EAqWH;EACA;EACA;EACA;EACA,aAtWM;EAuWN;;AAGF;EACE;;AAEA;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;;AAMR;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE,OA3ZK;EA4ZL;;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;;AAEA;EACE;;AAGF;EACE;;AAGF;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA,OC/cM;EDgdN;EACA;EACA;;AAEA;EACE,YCndI;EDodJ,cCrdI;EDsdJ;;;AAON;EACE;;;AAIJ;EACE;EACA;;AAGE;EAKE;EACA;EACA;EACA;;AAPA;EACE;;AAUN;EACE;EACA;EACA;;AAEA;EACE;;;AE9fN;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;;AAGF;EACE;;AAEA;EACE;;AAKN;EACE;EACA;EACA;;AAGF;EACE;EACA,ODjCQ;;ACqCR;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA,OD9DE;;ACgEF;EACE;;;AC1EZ;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAWA;EACE;EACA;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAOE;EACA;;;AAGF;AAAA;AAAA;AAAA;AAIE;EACA;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAUE;EACA;;;AAGF;AAAA;AAAA;AAGE;EACA;;;AAGF;AAAA;AAEE;EACA;;;AAGF;AAAA;AAAA;AAGE;EACA;;;AAGF;AAAA;AAAA;AAAA;AAIE;EACA;;;AAGF;AACE;EACA;;;AAGF;AACE;EACA;EACA;;;AAGF;AACE;EACA;;;AAGF;AACE;EACA;EACA;;;AAGF;AACE;EACA;EACA;;;AAGF;AACE;EACA;EACA;;;AAGF;AACE;EACA;EACA;;;AAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAME;;;AAGF;AACE;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;EAUA;IACE;IACA;;EAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAOE;IACA;;EAGF;AAAA;AAAA;AAAA;AAIE;IACA;;EAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAUE;IACA;;EAGF;AAAA;AAAA;AAGE;IACA;;EAGF;AAAA;AAEE;IACA;;EAGF;AAAA;AAAA;AAGE;IACA;;EAGF;AAAA;AAAA;AAAA;AAIE;IACA;;EAGF;AACE;IACA;;EAGF;AACE;IACA;IACA;;EAGF;AACE;IACA;;EAGF;AACE;IACA;IACA;;EAGF;AACE;IACA;IACA;;EAGF;AACE;IACA;IACA;;EAGF;AACE;IACA;IACA;;EAGF;AAAA;AAAA;AAAA;AAAA;AAAA;AAME;;;ACvPJ;EACE;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;;;AAGF;EACE;EACA;;;AAGF;EACE;IACE;IACA;;EAGF;IACE;IACA;;EAGF;IACE;;EAGF;IACE;;;AC/BJ;EACE;EACA;;AAEA;EACE;;;AAIJ;EACE;IACE,OJkDU;IIjDV;;EAGF;IACE,OJ0CU;IIzCV;;EAGF;IACE,OJwCU;IIvCV;;EAGF;IACE,OJmCU;IIlCV;;;AAIJ;EACE;IACE,OJTM;IIUN;;EAGF;IACE,OJZM;IIaN;;EAGF;IACE,OJnBM;IIoBN;;EAGF;IACE,OJxBM;IIyBN;;;AAIJ;EACE,YJVW;EIWX;EACA;EACA;EACA,eAhEO;EAiEP;EACA;EACA;EN9CA;;AMiDA;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,eAlFK;;AAoFL;EACE;;AAGF;EACE;EACA;EACA;EACA;EACA,eA7FG;EA8FH;;AAGF;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKJ;EACE;EACA;EACA;EACA;EACA,eAnHK;EAoHL;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;;AAKN;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA;EACA;EACA;EACA;EACA;;AAII;EACE;;AAKN;EACE;EACA;EACA;;AAEA;EACE;EACA;;AAIJ;EACE;EACA;EACA,eA5LG;EA6LH;;AAEA;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA;;AAGF;EACE;;AAGF;EACE;EAUA;;AARA;EACE;;AAGF;EACE;;AAOF;EACE;;AAGF;EACE;;AAGF;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;;AAKN;EACE;IACE,YJjOU;IIkOV;IACA;IACA;;EAEA;IACE,kBJxOQ;;EI0OR;IACE,kBJ3OM;;EI8OR;IACE;;EAIJ;IACE;;EAGF;IACE;;EAEA;IACE;;EAIJ;IACE;;EAGI;IACE;;EAKN;IACE;;EAEA;IACE;;EAIJ;IACE;;EAEA;IACE;;EAGF;IACE;;EAKN;IAmBE;;EAlBA;IACE;IACA;;EAEA;IACE;;EAGF;IACE,kBA/VC;IAgWD;;EAEA;IACE;;EAON;IACE;;;AAMR;EACE;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;;;AC9XN;EACE;IACE,OLNO;IKOP;;EAKE;IACE;;EAIA;IACE;;EAGF;IACE;;EAKN;IACE,OL3BM;;EKmCF;IACE;;EAWN;IACE;IACA,YAhDG;IAiDH;;EAGF;IACE;;EAQE;IACE;;EAEA;IACE;;EAGF;IACE;;EAGF;IACE;;EAIA;IACE;IACA,YA/EL;;EAkFG;IACE,OLlBF;;EK0BV;IACE,OL3CQ;IK4CR,YLxCQ;IKyCR;IACA;IACA;;EAEA;IACE,OL/DG;;EKmEP;IACE,OLzGM;;EK2GN;IACE;;EAGF;IACE,OLzEG;;EK4EL;IAEE;IACA;;EAEA;IACE;;EAIJ;IACE;;EAGF;IACE,YAjIG;IAkIH;;EAGF;IACE;;EAGF;IACE,YA1IG;IA2IH;IACA;;EAKA;IACE;;EAKN;IACE;;EAIJ;IACE;;EAEA;IACE;;EAIJ;IACE;IACA;IACA;;EAGE;IACE;IACA,OLjKG;IKkKH,YL3JG;;EK6JH;IACE,YLtKA;IKuKA,cLlLE;IKmLF;;EAQF;IACE;;EAGF;IACE;;EAKN;IACE;;EAEA;IACE;;;ACvMR;EACE;EACA;EACA;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACE;;AAIJ;EACE;EACA;EACA,aA3BQ;EA4BR;EACA;EAEA;EACA;EACA;EACA;EACA;EACA,ONkBU;EMjBV;;AAEA;EACE;;AAGF;EACE;EACA;;;AAMJ;EACE;EACA;;;AAIJ;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;EACA,ONfQ;;AMkBV;EACE;EACA,ONpBQ;;AMwBZ;EACE;;AAII;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA;;AAEA;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,kBNlEM;EMmEN;EACA;EACA;EACA,ONhEM;;AMkEN;EACE;;AAGF;EACE;;AAGF;EACE;EACA;EACA;EACA;;AAKN;EACE;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,aArJI;EAsJJ,ONhGM;;AMkGN;EACE;;AAKN;EACE;EACA;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAEA;EACE;EACA;EACA;EACA;;AAEA;EACE;EACA;;AAIJ;EACE;EACA;EACA;EACA;;AAIJ;EAEE;EACA;EACA;EACA;EACA;EACA,ONvJM;EMwJN;;AAEA;EACE;EACA,kBN5JI;EM6JJ,cN7JI;;AMgKN;EACE;EACA;;AAKN;EACE;EACA;EACA;EACA;EACA;;AAIJ;EACE;;AAEA;EACE;EACA;;AAIA;EACE;EACA;EACA;;AAEA;EACE;;AAEA;EACE;EACA;;AAGF;EACE;EACA;EACA;EACA;EACA;;AAGF;EACE;EACA;EACA;;AAIJ;EACE;;AAEA;EACE;EACA;EACA;EACA,ON1OD;;AM8OH;EACE;EACA;EACA;EACA,ONtOI;EMuOJ;;AAEA;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACE;EACA,ONxPI;EMyPJ;;;AAQV;EAGI;IACE;IACA,kBNnQQ;IMoQR;;EAKF;IACE,ONzRK;;EM4RP;IACE,ONlRQ;;EMoRR;IACE;IACA;IACA,ONvRM;;EM0RR;IACE;IACA,ON5RM;;EMoSN;IACE,kBNhSI;IMiSJ,ONvSI;IMwSJ;;EAEA;IACE,kBNvSE;IMwSF;IACA;;EAMJ;IACE;IACA,ONvTG;IMwTH;;EAIJ;IACE;;EAKA;IACE;IACA;IACA,ONlUI;;EMoUJ;IACE;IACA,kBNlUE;IMmUF,cNnUE;;EM4UN;IACE,qBN7UI;;EM+UJ;IACE,ONlVE;;EMoVF;IACE,kBNlVA;IMmVA;IACA,ON1VA;;EM8VJ;IACE,ON/VE;;;AOpDd;EACE;;AACA;EACE;EACA;;AACA;EACE;;AAEF;EACE;EACA;;AAIJ;EACE;EACA;EACA;EACA;;AAGF;EACE;EACA%22,%22file%22:%22style.css%22%7D */
