// reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 100px;

  svg {
    fill: @dark;
    width: 14px;
    margin: 0 3px;
    transform: translateY(1px);
  }
}

a {
  color: #333;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
    font-weight: bold;
  }
}

html,
html * {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  font-family: "Nunito", "Microsoft Yahei UI";
  font-weight: 500;
  transition: background-color 0s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.trans {
    transition-duration: 0.3s;
  }
}

@dark: #121212;
@main-red: #ff4d4d;
@main-blue: #565656;
@main-gold: #cc8633;

.md-shaodw {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.13), 0 5px 5px rgba(0, 0, 0, 0.15);
  }
}

header {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;

  .logo {
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 45px;
    font-weight: bold;
    margin-bottom: 10px;

    .img {
      width: 36px;
      height: 36px;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        opacity: 1;
        transition: opaciy 0.3s ease;

        &.light {
          display: none;
        }

        &.dark {
          display: block;
        }
      }
    }
  }

  .slogan {
    font-size: 12px;
    color: #666;
    height: 12px;
    font-style: italic;
  }
}

.page-small-menu {
  display: none;

  ul {
    display: flex;
    justify-content: center;

    li {
      display: flex;
      border-right: 1px solid #333;
      height: 20px;
      padding: 0 20px;
      flex-shrink: 0;
      justify-content: center;
      align-self: center;
      margin-top: 40px;

      &:last-child {
        border: none;
      }

      a {
        display: flex;
        justify-content: center;
        align-self: center;
      }

      font-size: 15px;
    }
  }
}

.app-wrap {
  padding: 30px 100px 0;
}

.skip-link {
  position: fixed;
  top: -9999px;
  background-color: #000;
  color: #fff;
  padding: 8px;
  left: 0;

  &:focus {
    top: 0;
  }
}

.clear {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.page-wrap {
  .clear;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  .pages {
    width: 600px;
    float: left;

    .page {
      margin-bottom: 30px;
    }
  }

  section.aside {
    max-width: 200px;
    float: right;

    ul {
      list-style: none;

      li {
        list-style: none;

        a {
          display: flex;
          align-items: center;
          height: 45px;
          color: #333;
          font-size: 16px;

          svg {
            fill: #333;
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.wrap {
  .clear;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;

  section.list {
    max-width: 800px;
    width: 100%;
    float: left;

    .index_post_list {
      padding: 30px 0;
      min-height: 600px;

      ul li {
        // margin-bottom: 20px;
        list-style: none;

        :last-child {
          margin-bottom: 0;
        }

        a {
          display: block;
          text-decoration: none;
          border-radius: 5px;
          padding: 20px 0;

          &:hover {
            text-decoration: none;

            .title {
              text-decoration: underline;
            }
          }

          .title {
            font-size: 20px;
            font-weight: bold;
            color: @dark;
            margin-bottom: 10px;
            line-height: 1.4;
          }

          .date {
            color: #666;
            font-size: 0.6em;
            margin-bottom: 10px;
          }

          .sum {
            font-size: 0.75em;
            line-height: 1.4;
            color: #555;
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .tag {
            text-align: left;

            span {
              background-color: rgba(0, 0, 0, 0.05);
              border-radius: 40px;
              white-space: nowrap;
              line-height: 1.5;
              font-size: 0.65em;
              color: #555;
              padding: 4px 10px;
              margin-right: 5px;
            }
          }
        }
      }
    }
  }

  section.friends {
    width: 100%;
    float: left;

    .index_friends_list {
      padding: 20px 0;

      ul li {
        list-style: none;
        padding: 0 0 20px;

        a {
          display: block;
          padding: 10px 0 0;
          font-size: 18px;
          font-weight: bold;
          line-height: 1.5;
        }

        span {
          font-size: 13px;
          color: #666;
          font-weight: normal;
          font-style: italic;
          display: block;
        }
      }
    }
  }
}

#disqus_thread {
  .init_button {
    background-color: rgba(0, 0, 0, 0.03);
    height: 45px;
    width: 200px;
    color: #555;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }
}

.section_title {
  font-size: 18px;
  color: #666;
}

.page-header {
  line-height: 1.4;
  font-size: 32px;
  color: @dark;
  margin-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.heading-title(@text) {
  padding-left: 20px;
  position: relative;
  line-height: 1.4;

  &:before {
    content: @text;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    font-family: "Fira Mono";
    color: lighten(@main-blue, 30%);
    font-style: italic;
    display: block;
    font-weight: normal;
  }
}

.page-content {
  color: @dark;
  font-size: 16px;
  padding-top: 40px;

  &.on {
    display: block;
  }

  video {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
  }

  b {
    font-weight: bold;
    color: #000;
  }

  strong {
    font-weight: bold;
    color: #000;
  }

  hr {
    margin: 50px;
    display: block;
    height: 4px;
    border-radius: 4px;
    background-color: #ccc;
    border: none;
  }

  a {
    text-decoration: underline;
    color: #0066cc;
    word-break: break-word;
    display: inline;
    font-style: italic;
  }

  ol {
    margin-bottom: 10px;
    padding-left: 25px;
  }

  ul {
    padding-left: 25px;
    margin-bottom: 10px;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
  }

  line-height: 1.85;

  p {
    line-height: 1.85;
    margin-bottom: 10px;
  }

  blockquote {
    border-left: 4px solid #ddd;
    padding-left: 20px;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    .heading-title("h1");
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    .heading-title("h2");
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
    margin-top: 40px;
    .heading-title("h3")
  }

  h4 {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
    margin-top: 30px;
    .heading-title("h4");
  }

  h5 {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
    margin-top: 20px;
    .heading-title("h5");
  }

  h6 {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #333;
    margin-bottom: 10px;
    margin-top: 10px;
    .heading-title("h6");
  }

  pre {
    padding: 10px;
    font-family: "Fira Mono", "Nunito", "Microsoft Yahei UI" !important;
    font-weight: 500;
    margin-bottom: 10px;
    background-color: lighten(#dee1e6, 7%);
    overflow-x: auto;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    line-height: 1.4;

    code {
      background-color: transparent;
      font-size: 14px;
      margin: 0;
      font-family: "Fira Mono", "Nunito", "Microsoft Yahei UI" !important;
      font-weight: 500;
      padding: 0;
      word-break: keep-all;
      top: 0;
    }
  }

  code {
    padding: 4px 7px;
    background-color: lighten(#dee1e6, 7%);
    color: #000;
    font-size: 14px;
    font-family: "Fira Mono", "Nunito", "Microsoft Yahei UI" !important;
    font-weight: 500;
    margin: 0 3px;
    display: inline;
    word-break: break-word;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    line-height: 1.4;
    vertical-align: middle;
  }
}

.page-date {
  margin-bottom: 15px;

  span {
    color: #666;
    font-style: italic;
    font-size: 13px;
  }
}

.page-original {
  font-size: 12px;
  color: #555;
  line-height: 1.4;
  margin: 70px 0;

  img {
    margin-bottom: 10px;
  }

  a {
    color: #333;
    text-decoration: underline;
  }
}

.hljs {
  display: block;
  overflow-x: auto;
  color: #383a42;
  background: #fafafa;
  font-family: "Fira Mono", "Nunito", "Microsoft Yahei UI";
  font-weight: 500;
  font-size: 14px;
  background: 0 0;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

::selection {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #bcbcbc;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #a8a8a8;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #a8a8a8;
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #a8a8a8;
}

@media screen and (max-width: 1100px) {
  .page-wrap .pages {
    width: calc(100% - 200px);
  }

  .app-wrap {
    padding: 30px 50px 0;
  }
}

@media screen and (max-width: 686px) {
  .page-small-menu {
    display: block;
  }

  .app-wrap {
    padding: 30px 20px 0;
  }

  .wrap {
    section.list {
      max-width: 100%;
    }
  }

  section.aside {
    display: none;
  }

  .page-wrap .pages {
    width: 100%;
  }
}

table {
  width: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;

  td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
  }

  th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px;
  }
}

.demo {
  overflow: auto;
}

.gt-container .gt-svg {
  position: relative;
  top: -2px;
}

span.deprecated {
  background-color: @main-red;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  padding: 1px 5px;
  line-height: 1.2;
  display: inline-block;
  transform: translateY(-2px);
  margin-left: 3px;
  border-radius: 3px;
}

.page-deprecated {
  display: inline-block;
  margin-bottom: 15px;
  background-color: @main-red;
  color: #fff;
  font-size: 13px;
  font-weight: normal;
  font-style: italic;
  padding: 5px 8px;
  border-radius: 3px;
  line-height: 1.4;
}

@ddd: #ddd;

.fake_list {
  padding-top: 60px;

  span {
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .li {
    margin-bottom: 60px;
  }

  .title {
    margin-bottom: 6px;

    span {
      background-color: lighten(@main-blue, 50%);
      animation: shine 2s ease infinite;
      display: inline-block;
      height: 24px;
      margin-right: 3px;
    }
  }

  .date {
    margin-bottom: 10px;

    span {
      width: 120px;
      height: 14px;
      background-color: lighten(@main-blue, 40%);
      animation: shine 2s ease infinite;
      display: inline-block;
    }
  }

  .sum {
    margin-bottom: 10px;

    span {
      height: 14px;
      background-color: lighten(@main-blue, 45%);
      animation: shine 2s ease infinite;
      display: inline-block;
      margin-right: 3px;
    }
  }

  .tags {
    span {
      height: 16px;
      border-radius: 16px;
      background-color: lighten(@main-blue, 48%);
      animation: shine 2s ease infinite;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

.fake_post {
  display: block;
  span {
    border-radius: 4px;
  }

  .title {
    margin-bottom: 10px;

    span {
      background-color: lighten(@main-blue, 50%);
      height: 28px;
      margin-right: 3px;
      display: inline-block;
      animation: shine 2s ease infinite;
    }
  }

  .para {
    p {
      margin-bottom: 10px;
    }

    span {
      background-color: lighten(#ccc, 3%);
      display: inline-block;
      height: 20px;
      margin-right: 6px;
      margin-bottom: 3px;
      animation: shine 1s ease infinite;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

      &[data-dark-level="1"] {
        background-color: lighten(#ccc, 3%);
      }

      &[data-dark-level="2"] {
        background-color: lighten(#ccc, 6%);
      }

      &[data-dark-level="3"] {
        background-color: lighten(#ccc, 9%);
      }

      &[data-dark-level="4"] {
        background-color: lighten(#ccc, 12%);
      }

      &[data-dark-level="5"] {
        background-color: lighten(#ccc, 15%);
      }
    }
  }
}

button {
  &.lighting {
    transition: opacity 0.3s ease;

    &.off {
      opacity: 0;
    }

    z-index: 300;
    background-color: #fff;
    .md-shaodw;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 0;

    svg {
      fill: @dark;
    }
  }
}

.lighting_settings_wrap {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 400;
  overflow: hidden;

  &:focus {
    border: 2px solid #fff;
  }
}

.skip_link {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  padding: 20px;
  max-width: 100%;
}

.lighting_settings {
  .md-shaodw;
  z-index: 402;
  padding: 10px 10px;
  border-radius: 4px;
  background-color: #fff;
  position: fixed;
  right: -999999px;
  bottom: 20px;

  &.on {
    right: 20px;
  }

  .item {
    &.disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }

    &.mar-top-5 {
      margin-top: 5px;
    }

    height: 46px;

    input[type="checkbox"] {
      position: absolute;
      left: -9999px;

      &:focus {
        + label {
          background-color: rgba(0, 0, 0, 0.2);
          border-radius: 5px;
        }
      }
    }

    button {
      display: flex;
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 100%;
      .md-shaodw;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      line-height: 1;
      background-color: #fff;
      margin: 0 auto;

      svg {
        height: 24px;
        width: 24px;
        fill: #333;
      }
    }

    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    label {
      font-size: 14px;
      color: #333;
      display: flex;
      align-items: center;
      padding: 5px 10px;
      height: 36px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }

      &:focus {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
      }

      svg {
        width: 30px;
        height: 30px;
        fill: @dark;
      }
    }
  }
}

@keyframes shine {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

.gt-header-preview {
  ol {
    list-style: decimal;
    margin-bottom: 10px;
    padding-left: 25px;

    li {
      list-style: decimal;
    }
  }

  ul {
    list-style: disc;
    padding-left: 25px;
    margin-bottom: 10px;
  }

  li {
    list-style: disc;
  }
}

.gt-header-preview {
  width: 100%;
}

.gt-container {
  .gt-header-textarea {
    font-family: "Fira Mono", "Nunito", "Microsoft Yahei UI";
    font-weight: 500;
  }
}

.gt-container .gt-header-comment {
  width: 100%;
}

@keyframes playing_w {
  0% {
    border-color: lighten(#dee1e6, 7%);
  }

  50% {
    border-color: #333;
  }

  100% {
    border-color: lighten(#dee1e6, 7%);
  }
}

@keyframes playing_b {
  0% {
    border-color: lighten(@main-blue, 7%);
  }

  50% {
    border-color: #bbb;
  }

  100% {
    border-color: lighten(@main-blue, 7%);
  }
}

.app-audio-wrap {
  background-color: lighten(#dee1e6, 7%);
  padding: 12px 15px;
  margin: 10px 0;
  position: relative;
  border-radius: 5px;
  border: 1px solid lighten(#dee1e6, 7%);

  &.playing {
    animation: playing_w 1.2s linear infinite;
  }

  input[type="range"] {
    width: 100%;
    margin-top: 20px;
    -webkit-appearance: none;
    background-color: rgba(0, 0, 0, 0.05);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 20px;
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      border: none;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: none;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      background-color: #fff;
      .md-shaodw;
    }
  }

  .prog {
    height: 40px;
    width: 100%;
    margin-top: 0px;
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    display: block;

    .bg {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;

      img {
        pointer-events: none;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
      }
    }
  }

  audio {
    position: absolute;
    left: -99999px;
    opacity: 0;
    pointer-events: none;
  }

  .time {
    color: #666;
    font-size: 12px;
    margin-bottom: 10px;
    font-family: "Fira Mono";

    .b {
      color: #333;
    }
  }

  .name {
    color: #555;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    line-height: 1.3;
    align-items: center;

    .icon {
      display: inline-block;
      width: 30px;
      flex-shrink: 0;

      svg {
        height: 16px;
        fill: #555;
      }
    }

    &.bg {
      background-color: rgba(0, 0, 0, 0.08);
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .control {
    position: relative;
    z-index: 3;
    line-height: 1.1;
    display: flex;
    user-select: none;

    .btn-grp {
      display: flex;
      flex-shrink: 0;
      align-items: center;
    }

    .btn {
      border: none;
      background-color: #fff;
      border-radius: 100%;
      .md-shaodw;
      width: 36px;
      height: 36px;
      display: flex;
      padding: 0;
      cursor: pointer;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      &.on {
        background-color: #6190e8;

        svg {
          fill: #fff;
        }
      }

      &.spin {
        svg {
          transform: rotate(-180deg);
        }
      }
    }

    svg {
      fill: #555;
      vertical-align: middle;
      transition: transform 0.3s ease;
    }
  }
}

.sugg-back {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.footer-link {
  margin: 0 1em;
}

.text-fadein-item {
  opacity: 0;
  animation: fadein 0.6s ease forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.paginate{
  color: #999;
  font-size: 14px;
  padding: 40px 0 40px;
  text-align: center;
  ul{
    text-align: center;
    li{
      display: inline-block;
      margin: 0 20px;
    }
  }
  a{
    color: @main-gold;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: @dark;
    background-color: darken(@main-blue, 30%);
  }

  header {
    .logo {
      .img {
        img {
          &.light {
            display: block;
          }

          &.dark {
            display: none;
          }
        }
      }
    }
  }

  .section_title {
    color: #fff;
  }

  .app-audio-wrap {
    background-color: darken(@main-blue, 7%);
    border-color: darken(@main-blue, 7%);

    input[type="range"] {
      background-color: darken(@main-blue, 7%);

      &:hover {
        background-color: darken(@main-blue, 7%);
      }

      &::-webkit-slider-thumb {
        background-color: #fff;
      }
    }

    &.playing {
      animation-name: playing_b;
    }

    .time {
      color: #ddd;

      .b {
        color: #fff;
      }
    }

    .name {
      color: #fff;

      .icon {
        svg {
          fill: #fff;
        }
      }

      &.bg {
        background-color: lighten(@main-blue, 15%);

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
        }

        &:active {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .control {
      .btn {
        background-color: lighten(@main-blue, 30%);

        &.on {
          background-color: @main-red;

          svg {
            fill: #fff;
          }
        }
      }

      svg {
        fill: #fff;
      }
    }
  }

  table {
    border-top: 1px solid lighten(@main-blue, 10%);
    border-left: 1px solid lighten(@main-blue, 10%);

    td {
      border-bottom: 1px solid lighten(@main-blue, 10%);
      border-right: 1px solid lighten(@main-blue, 10%);
    }

    th {
      border-bottom: 1px solid lighten(@main-blue, 10%);
      border-right: 1px solid lighten(@main-blue, 10%);
    }
  }

  a {
    color: #fff;
  }

  .fake_list {

    .title {

      span {
        background-color: darken(@main-blue, 20%);
      }
    }

    .date {

      span {
        background-color: darken(@main-blue, 10%);
      }
    }

    .sum {

      span {
        background-color: darken(@main-blue, 15%);
      }
    }

    .tags {
      span {
        background-color: darken(@main-blue, 18%);
      }
    }
  }

  .fake_post {
    .title {
      span {
        background-color: darken(@main-blue, 30%);
      }
    }

    .para {
      span {
        background-color: darken(#ccc, 13%);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);

        &[data-dark-level="1"] {
          background-color: darken(#ccc, 13%);
        }

        &[data-dark-level="2"] {
          background-color: darken(#ccc, 16%);
        }

        &[data-dark-level="3"] {
          background-color: darken(#ccc, 19%);
        }

        &[data-dark-level="4"] {
          background-color: darken(#ccc, 22%);
        }

        &[data-dark-level="5"] {
          background-color: darken(#ccc, 25%);
        }
      }
    }
  }

  .page-original a {
    color: #fff;
  }

  header .slogan {
    color: #fff;
  }

  .page-small-menu ul li {
    border-color: #fff;
  }

  .wrap section.list .index_post_list ul li .date {
    color: #eee !important;
  }

  .wrap section.list .index_post_list ul li a .title {
    color: #fff;
  }

  .wrap section.list .index_post_list ul li a .sum {
    color: #eee;
  }

  .wrap section.list .index_post_list ul li a .tag span {
    color: #fff;
    background-color: darken(@main-blue, 5%);
  }

  .wrap section.friends .index_friends_list ul li span {
    color: #ddd;
  }

  footer {
    color: #fff;

    a {
      color: @main-gold;
    }

    svg {
      fill: #fff;
      &.heart {
        fill: @main-red;
      }
    }
  }

  button {
    &.lighting {
      z-index: 300;
      background-color: lighten(@main-blue, 15%);

      svg {
        fill: #fff;
      }
    }
  }

  .hljs {
    color: #abb2bf;
  }

  .hljs-comment,
  .hljs-quote {
    color: #ddd;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #c678dd;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e06c75;
  }

  .hljs-literal {
    color: #56b6c2;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: #98c379;
  }

  .hljs-built_in,
  .hljs-class .hljs-title {
    color: #e6c07b;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #d19a66;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #61aeee;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }

  .page-content {
    color: #fff;

    hr {
      background-color: lighten(@main-blue, 30%);
    }

    p {
      color: #fff;
    }

    a {
      color: @main-gold;
    }

    h1 {
      color: #fff;
    }

    h2 {
      color: #fff;
    }

    h3 {
      color: #fff;
    }

    h4 {
      color: #fff;
    }

    h5 {
      color: #fff;
    }

    h6 {
      color: #fff;
    }

    code {
      background-color: lighten(@main-blue, 15%);
      color: #fff;
    }

    b {
      color: #fff;
    }

    strong {
      color: #fff;
    }

    blockquote {
      color: #fff;
      border-color: lighten(@main-blue, 30%);
    }

    pre {
      background-color: darken(@main-blue, 23%);
    }

    pre code {
      background-color: transparent;
    }
  }

  .page-header {
    color: #fff;
  }

  .page-date span {
    color: #ccc;
  }

  .page-wrap section.aside ul li {

    a {
      color: #fff;
      
      svg {
        fill: #fff;
      }
    }
  }

  .page-original {
    color: lighten(@main-blue, 40%);
  }

  .gt-container {
    .gt-loader {
      border: 1px solid lighten(@main-blue, 40%);
      &:before {
        background-color: @main-red;
      }
    }
    .gt-initing-text {
      color: lighten(@main-blue, 40%);
    }

    .gt-comment-username {
      color: @main-red;

      &:hover {
        color: lighten(@main-red, 10%);
      }

      &:active {
        color: lighten(@main-red, 10%);
      }
    }

    .gt-comment-text {
      color: lighten(@main-blue, 40%);
    }

    .gt-comment-date {
      color: lighten(@main-blue, 40%);
    }

    .gt-version {
      color: #ddd;
    }

    .gt-header-controls-tip {
      color: @main-blue;
    }

    ::placeholder {
      color: lighten(@main-blue, 40%);
    }

    color: #fff;

    .gt-meta {
      border-color: lighten(@main-blue, 30%);
    }

    .gt-btn {
      background-color: @main-blue;
      border-color: @main-blue;

      &.gt-btn-preview {
        background-color: transparent;
        color: lighten(@main-blue, 10%);
        border-color: lighten(@main-blue, 30%);
      }
    }

    .gt-comment-content {
      background-color: lighten(@main-blue, 10%);
      border-radius: 5px;
    }

    .gt-comment-admin .gt-comment-content {
      background-color: darken(@main-blue, 25%);
    }

    .gt-svg svg {
      fill: lighten(@main-blue, 20%);
    }

    .gt-popup {
      background-color: lighten(@main-blue, 10%);
    }

    .gt-header-textarea {
      color: #fff;
      background-color: lighten(@main-blue, 15%);

      &:hover {
        color: #fff;
        background-color: lighten(@main-blue, 15%);
      }
    }

    .markdown-body blockquote {
      color: #fff;
    }

    .markdown-body a {
      color: @main-gold;
    }

    .markdown-body code {
      color: #fff;
      background-color: lighten(@main-blue, 10%);
    }

    .gt-comment-body {
      color: #fff !important;
    }

    .gt-comment-content:hover {
      box-shadow: none;
    }

    .markdown-body .pl-smi,
    .markdown-body .pl-s .pl-s1 {
      color: lighten(@main-blue, 30%);
    }

    .gt-header-preview {
      background-color: lighten(@main-blue, 15%);
      color: #fff;

      p {
        color: #fff;
      }

      a {
        color: #fff;
      }

      h1 {
        color: #fff;
      }

      h2 {
        color: #fff;
      }

      h3 {
        color: #fff;
      }

      h4 {
        color: #fff;
      }

      h5 {
        color: #fff;
      }

      h6 {
        color: #fff;
      }

      code {
        background-color: lighten(@main-blue, 15%);
        color: #fff;
      }

      b {
        color: #fff;
      }

      strong {
        color: #fff;
      }

      blockquote {
        color: #fff;
        border-color: lighten(@main-blue, 30%);
      }

      pre {
        background-color: rgba(255, 255, 255, 0.12);
      }

      pre code {
        background-color: transparent;
      }

      img {
        opacity: 0.7;
      }

      ol {
        margin-bottom: 10px;
        padding-left: 25px;
      }

      ul {
        padding-left: 25px;
        margin-bottom: 10px;
      }
    }

    .markdown-body .highlight pre,
    .markdown-body pre {
      transition-duration: 0s;
      background-color: transparent;
    }

    .markdown-body .pl-s,
    .markdown-body .pl-pds,
    .markdown-body .pl-s .pl-pse .pl-s1,
    .markdown-body .pl-sr,
    .markdown-body .pl-sr .pl-cce,
    .markdown-body .pl-sr .pl-sre,
    .markdown-body .pl-sr .pl-sra {
      color: lighten(#032f62, 35%);
    }

    .markdown-body .pl-c1,
    .markdown-body .pl-s .pl-v {
      color: lighten(#005cc5, 30%);
    }

    .markdown-body .pl-e,
    .markdown-body .pl-en {
      color: lighten(#6f42c1, 30%);
    }

    .markdown-body .pl-k {
      color: lighten(@main-red, 30%);
    }
  }

  ::selection {
    background: fade(@main-red, 40%);
    color: #fff;
  }

  ::-webkit-scrollbar-track {
    background: lighten(@main-blue, 25%);
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: lighten(@main-blue, 15%);
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: lighten(@main-blue, 20%);
  }

  ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: lighten(@main-blue, 10%);
  }

  ::-webkit-scrollbar-thumb:vertical:active {
    background-color: lighten(@main-blue, 10%);
  }
}
