html {
  @apply bg-[#13110D] text-black
}

a {
  @apply underline underline-offset-4
}

h1 {
  @apply md:px-0 px-4
}

p {
  @apply leading-8 pb-4 md:px-0 px-4
}

img {
  max-width: 100%;
}

.comics-bg {
  border: 3px solid #000;
  background-color: white;
  padding: 1rem;
  color: black;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23898989' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}
