html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
  tab-size: 2;
  overflow-x: hidden;
  @apply bg-[#fafaf8] text-[#141413] dark:bg-[#141413] dark:text-[#fafaf8] min-w-[320px] selection:bg-orange-400 dark:selection:bg-orange-500;
}

aside {
  @apply lg:w-[14rem] w-full lg:fixed lg:top-0 lg:left-0 lg:h-[100vh] md:px-6 px-6 overflow-auto lg:pb-[2rem] pb-0;
}

main {
  @apply lg:w-[calc(100vw-14rem)] relative lg:ml-[14rem] w-full lg:px-0 px-6 xl:translate-x-[-7rem] translate-x-0;
}

#app {
  @apply w-full max-w-[42rem] px-0 mx-auto pb-[5rem];
}

img {
  @apply max-w-full mb-6 block mx-auto rounded-xl;
}

.page-content {
  @apply pb-8 hyphens-auto;

  hr {
    @apply my-8 w-[10rem] mx-auto dark:bg-neutral-700 bg-neutral-400 border-none h-[1px];
  }

  p {
    @apply text-base leading-[1.7] mb-6;
  }

  em {
    @apply underline-offset-4 decoration-orange-400 dark:decoration-orange-500 underline;
  }

  code {
    &:before {
      content: '`';
      display: inline;
    }

    &:after {
      content: '`';
      display: inline;
    }

    @apply bg-transparent mx-0 font-extrabold text-black dark:text-white text-sm break-all sm:break-normal sm:whitespace-pre-wrap
  }

  a {
    @apply underline underline-offset-4 hover:decoration-orange-500 hover:decoration-wavy decoration-neutral-300 dark:decoration-neutral-600 dark:text-white text-black rounded-[2px];

    &[target='_blank'] {
      @apply after:content-['_↗'] after:text-xs after:text-neutral-500 dark:after:text-neutral-400;
    }
  }

  ul {
    @apply list-disc list-outside pl-6 pb-6;

    li {
      @apply mb-1 leading-7 relative marker:text-neutral-400 dark:marker:text-neutral-500;
    }
  }

  h2 {
    @apply text-[20px] leading-9 font-medium mb-4 mt-[3rem] relative font-title;
  }
}
