html,
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  tab-size: 2;
  overflow-x: hidden;
  @apply bg-[#fafaf8] text-[#141413] dark:bg-[#141413] dark:text-[#fafaf8] min-w-[320px] selection:bg-orange-400 dark:selection:bg-orange-500;
}

aside {
  @apply lg:w-[14rem] w-full lg:fixed lg:top-0 lg:left-0 lg:h-[100vh] md:px-6 px-6 overflow-auto lg:pb-[2rem] pb-0;
}

main {
  @apply lg:w-[calc(100vw-14rem)] relative lg:ml-[14rem] w-full lg:px-0 px-6 xl:translate-x-[-7rem] translate-x-0;
}

#app {
  @apply w-full max-w-[42rem] px-0 mx-auto pb-[5rem];
}

#photos {
  img {
    border-radius: 0;
  }
}

.figure {
  @apply text-center text-xs opacity-60 mt-[-1rem] pb-2 block;
}

@keyframes widthExpand {
  from {
    width: 0;
  }

  to {
    width: .6rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sugg-back {
  display: none;
}

.popup-border {
  @apply border dark:border-neutral-700 border-neutral-200 border-l-neutral-100 border-t-neutral-100 dark:border-l-neutral-600 dark:border-t-neutral-600;
}

img {
  @apply max-w-full mb-6 block mx-auto;
}

video {
  @apply max-w-full w-full mb-6 block mx-auto;
}

.page-content {
  @apply pb-8 hyphens-auto;

  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;

  em {
    @apply underline-offset-4 decoration-orange-400 dark:decoration-orange-500 underline;
  }

  .table-wrap {
    @apply overflow-auto;
  }

  blockquote {
    @apply pl-3 pt-2 mb-4 relative;

    &:before {
      content: "";
      @apply block w-[4px] rounded h-full absolute left-[-4px] top-0 dark:bg-neutral-600 bg-neutral-200;
    }

    p {
      @apply pb-2 leading-7 mb-0;
    }
  }

  table {
    @apply border-collapse w-full mb-6 border-t-[1px] border-l-[1px] border-neutral-500;

    th,
    td {
      @apply border-r-[1px] border-b-[1px] border-neutral-500 px-4 py-2;
    }
  }

  hr {
    @apply my-8 w-[4rem] mx-auto dark:bg-neutral-700/70 bg-neutral-400/70 border-none h-[4px] rounded-2xl;
  }

  ul,
  ol {
    @apply list-disc list-outside pl-6 pb-6;

    li {
      @apply mb-1 leading-7 relative;

      ul, ol {
        @apply pb-0;
      }

      p {
        @apply mb-2;
      }

      &::marker {
        @apply absolute left-0 block;
      }
    }
  }

  ol {
    @apply list-decimal;
  }

  img {
    @apply sm:max-w-full mb-6 block sm:mx-auto mx-auto sm:w-auto max-w-[calc(100%+3rem)] translate-x-[-1.5rem] sm:translate-x-0 w-[calc(100%+3rem)] rounded-none;
  }

  p {
    @apply text-base leading-[1.7] mb-6;

    img {
      @apply sm:max-w-full mb-6 block sm:mx-auto mx-auto sm:w-auto max-w-[calc(100%+3rem)] translate-x-[-1.5rem] sm:translate-x-0 w-[calc(100%+3rem)] rounded-none;
    }

    video {
      @apply sm:max-w-full mb-6 block sm:mx-auto mx-auto sm:w-auto max-w-[calc(100%+3rem)] translate-x-[-1.5rem] sm:translate-x-0 w-[calc(100%+3rem)] rounded-none;
    }
  }

  .demo {
    @apply mb-6 overflow-auto;
  }

  a {
    @apply underline underline-offset-4 hover:decoration-orange-500 hover:decoration-wavy decoration-neutral-300 dark:decoration-neutral-600 dark:text-white text-black rounded-[2px];

    &[target='_blank'] {
      @apply after:content-['_↗'] after:text-xs;
    }
  }

  h1 {
    @apply text-[20px] leading-9 font-medium mb-6 relative;
  }

  h2 {
    @apply text-[20px] leading-9 font-medium mb-4 mt-[3rem] relative;
  }

  h3 {
    @apply text-[18px] leading-8 font-medium mb-2 mt-4 relative;
  }

  h4 {
    @apply text-[16px] leading-7 font-medium mb-1 mt-2 relative;
  }

  h5 {
    @apply text-[14px] leading-6 font-medium mb-6;
  }

  h6 {
    @apply text-[14px] leading-6 font-medium mb-6;
  }

  code {
    &:before {
      content: '`';
      display: inline;
    }

    &:after {
      content: '`';
      display: inline;
    }

    @apply bg-transparent mx-0 font-extrabold text-black dark:text-white text-sm break-all sm:break-normal sm:whitespace-pre-wrap
  }

  .astro-code {
    @apply border border-neutral-200 dark:border-neutral-700 rounded-xl
  }

  pre {
    font-size: 0.875rem;
    @apply leading-6 px-3 py-2 mb-4 mx-0 bg-white dark:bg-neutral-800;

    code {
      &:before {
        content: '';
        display: none;
      }

      &:after {
        content: '';
        display: none;
      }

      @apply text-sm leading-5 px-0 py-0 rounded bg-transparent mx-0 font-normal break-normal sm:whitespace-pre;
    }
  }
}

.markdown-alert {
  @apply dark:text-white/70 text-black/70 mb-2;

  &.markdown-alert-note {
    @apply text-blue-700 dark:text-blue-400;
  }

  &.markdown-alert-tip {
    @apply text-green-700 dark:text-green-400;
  }

  &.markdown-alert-warning {
    @apply text-yellow-700 dark:text-yellow-400;
  }

  &.markdown-alert-caution {
    @apply text-red-700 dark:text-red-400;
  }

  &.markdown-alert-important {
    @apply text-purple-700 dark:text-purple-400;
  }

  .markdown-alert-title {
    @apply flex items-center text-sm font-semibold text-inherit mb-0;

    svg {
      fill: currentColor;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .astro-code-themes,
  .astro-code-themes span {
    color: var(--shiki-dark) !important;
    background-color: transparent !important;
  }

  .shiki-themes,
  .shiki-themes span {
    color: var(--shiki-dark) !important;
    background-color: transparent !important;
  }
}

@keyframes slideUp_offset {
  0% {
    transform: translateY(10px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
