@import 'github-highlight.scss';

html,
body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', serif;
  tab-size: 2;
  @apply bg-white text-neutral-700 dark:bg-neutral-900 dark:text-neutral-100 min-w-[320px];
}

aside {
  @apply lg:w-[14rem] w-full lg:fixed lg:top-0 lg:left-0 lg:h-[100vh] md:px-6 px-4 bg-gradient-to-b lg:bg-gradient-to-r dark:from-zinc-900 dark:to-neutral-900 bg-white overflow-auto lg:pb-[2rem] pb-0;
}

main {
  @apply lg:w-[calc(100vw-14rem)] lg:relative lg:ml-[14rem] w-full lg:px-0 px-4;
}

#app {
  @apply w-full max-w-[42rem] px-0 mx-auto;
}

@keyframes widthExpand {
  from {
    width: 0;
  }

  to {
    width: .6rem;
  }
}

.sugg-back {
  display: none;
}

.popup-border {
  @apply border dark:border-neutral-700 border-neutral-200 border-l-neutral-100 border-t-neutral-100 dark:border-l-neutral-600 dark:border-t-neutral-600;
}

img {
  @apply max-w-full mb-6 block mx-auto rounded;
}

video {
  @apply max-w-full w-full mb-6 block mx-auto rounded;
}

.page-content {
  @apply pb-8;

  .table-wrap {
    @apply overflow-auto;
  }

  blockquote {
    @apply border-l-4 dark:border-white/70 border-black/80 pl-4 pt-3 mb-4;

    p {
      @apply pb-4 leading-6 mb-0;
    }
  }

  table {
    @apply border-collapse w-full mb-6 border-t-[1px] border-l-[1px] border-neutral-500;

    th,
    td {
      @apply border-r-[1px] border-b-[1px] border-neutral-500 px-4 py-2;
    }
  }

  hr {
    @apply my-8 w-[10rem] mx-auto dark:bg-neutral-700 bg-neutral-400 border-none h-[1px];
  }

  ul,
  ol {
    @apply list-disc list-outside pl-6 pb-6;

    li {
      @apply mb-1 leading-7 relative;

      p {
        @apply mb-2;
      }

      &::marker {
        @apply absolute left-0 block;
      }
    }
  }

  ol {
    @apply list-decimal;
  }

  p {
    @apply text-base leading-8 mb-6 overflow-auto;
  }

  .demo {
    @apply mb-6 overflow-auto;
  }

  a {
    @apply dark:text-white text-black font-extrabold hover:underline decoration-wavy;

    &[target='_blank'] {
      @apply after:content-['↗'];
    }
  }

  h1 {
    @apply text-3xl leading-9 font-semibold mb-6;

    &::before {
      content: '#';
      @apply opacity-60 inline-block mr-2;
    }
  }

  h2 {
    @apply text-2xl leading-9 font-semibold mb-6 pt-8;

    &::before {
      content: '#';
      @apply opacity-60 inline-block mr-2;
    }
  }

  h3 {
    @apply text-xl leading-8 font-semibold mb-6 pt-6;

    &::before {
      content: '#';
      @apply opacity-60 inline-block mr-2;
    }
  }

  h4 {
    @apply text-lg leading-7 font-semibold mb-6 pt-4;

    &::before {
      content: '#';
      @apply opacity-60 inline-block mr-2;
    }
  }

  h5 {
    @apply text-base leading-6 font-semibold mb-6;
  }

  h6 {
    @apply text-base leading-6 font-semibold mb-6;
  }

  code {
    @apply text-xs dark:bg-white/20 rounded bg-black/10 px-2 mx-1 py-1;
  }

  .astro-code {
    background-color: transparent !important;
  }

  pre {
    border: none;
    background-color: transparent !important;
    font-size: 0.875rem;
    @apply leading-6 px-0 py-0 mb-6 bg-transparent mx-0;

    code {
      @apply text-sm leading-6 px-0 py-0 rounded bg-transparent mx-0;
    }
  }
}

.comment-content.page-content {
  pre {
    background-color: transparent !important;
    max-width: 100%;
    overflow: auto;
    font-size: 0.875rem;
  }
}

.markdown-alert {
  @apply dark:text-white/70 text-black/70 mb-2;

  &.markdown-alert-note {
    @apply text-blue-700 dark:text-blue-400;
  }

  &.markdown-alert-tip {
    @apply text-green-700 dark:text-green-400;
  }

  &.markdown-alert-warning {
    @apply text-yellow-700 dark:text-yellow-400;
  }

  &.markdown-alert-caution {
    @apply text-red-700 dark:text-red-400;
  }

  &.markdown-alert-important {
    @apply text-purple-700 dark:text-purple-400;
  }

  .markdown-alert-title {
    @apply flex items-center text-sm font-semibold text-inherit mb-0;

    svg {
      fill: currentColor;
    }
  }
}

footer {
  @apply text-xs py-[4rem] text-center;
}

@media (prefers-color-scheme: dark) {
  .astro-code-themes,
  .astro-code-themes span {
    color: var(--shiki-dark) !important;
    background-color: transparent !important;
  }
}

@keyframes slideUp_offset {
  0% {
    transform: translateY(10px) translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0) translateX(-50%);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
