---
import SpotifyStatus from './spotify-status.astro'
import Wakatime from './wakatime.astro'
import PSStatus from './ps-status.astro'
import Clock from './clock.astro'
---

<noscript>
  <style>
    #bento_area {
      display: none;
    }
  </style>
</noscript>

<div id="bento_area">
  <div class="md:flex justify-center flex-wrap md:mb-8 mb-0">
    <div class="w-[200px] aspect-square shrink-0 md:mb-0 mb-8 md:mx-4 mx-auto">
      <SpotifyStatus/>
    </div>
    <div class="w-[200px] aspect-square shrink-0 md:mb-0 mb-8 md:mx-4 mx-auto">
      <Wakatime/>
    </div>
  </div>
  <div class="md:flex justify-center flex-wrap">
    <div class="w-[200px] aspect-square shrink-0 md:mb-0 mb-8 md:mx-4 mx-auto">
      <Clock/>
    </div>
    <div class="w-[200px] aspect-square shrink-0 md:mb-0 mb-8 md:mx-4 mx-auto">
      <PSStatus/>
    </div>
  </div>
</div>
