---
import SpotifyStatus from './spotify-status.astro'
import Wakatime from './wakatime.astro'
import PSStatus from './ps-status.astro'
import Clock from './clock.astro'

import BentoItem from './bento-item.astro'
---

<noscript>
  <style>
    #bento_area {
      display: none;
    }
  </style>
</noscript>

<div id="bento_area">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 w-[calc(400px+2rem)] mx-auto">
    <BentoItem>
      <SpotifyStatus/>
    </BentoItem>

    <BentoItem>
      <Wakatime/>
    </BentoItem>

    <BentoItem>
      <Clock/>
    </BentoItem>

    <BentoItem>
      <PSStatus/>
    </BentoItem>
  </div>
</div>
