---
const {issue} = Astro.props
const ts = Date.now()
---

<input type="hidden" value={issue} id="issue_id">
<link rel="stylesheet" href={"https://cwgi-cli.jw1.dev/style.css?v=" + ts}>

<div id="cwgi_box" class="pt-8"></div>
<script src={`https://cwgi-cli.jw1.dev/cwgi.iife.js?v=${ts}`}></script>

<script>
  _CWGI.init(Number(document.getElementById('issue_id').value), {
    owner: 'jw-12138',
    repo: 'jw-12138.github.io',
    clientId: 'Iv1.717c117523f74671',
    proxy: 'https://cwgi.jw1.dev',
    reactions: false,
    markdownRenderingEndpoint: 'https://md.jw1.dev'
  })
</script>
