---
const {githubIssueId} = Astro.props
---

<noscript>
  <p id="comments_redirect_for_0_js" class="text-sm opacity-80 leading-8">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="mb-4" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="icon icon-tabler icons-tabler-outline icon-tabler-info-square-rounded">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M12 9h.01"/>
      <path d="M11 12h1v4h1"/>
      <path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z"/>
    </svg>
    由于无法使用 JavaScript，目前无法直接展示评论区，但是你依然可以去 GitHub 查看或发表评论：<br>
    <a
      class="font-extrabold"
      href={"https://github.com/jw-12138/jw-12138.github.io/issues/" + githubIssueId}
      target="_blank">Issue#{githubIssueId}</a>
  </p>
</noscript>

