---
const year = new Date().getFullYear()

let {aside} = Astro.props
---

<footer class="opacity-70 hover:opacity-90 transition-all duration-500 text-xs py-[4rem] text-center" class:list={{
  "lg:hidden": !aside,
  "lg:block hidden": aside
}}>
  <div class="flex" class:list={{
    "justify-center": !aside
  }}>
    <div class="" class:list={{
      "justify-center flex items-center": !aside
    }}>
      <a href="/atom.xml" class:list={{
        "mx-2 flex justify-center items-center gap-1": !aside,
        "mr-1 block mb-2 flex items-center gap-1": aside
      }} aria-label="RSS">
        <span>RSS</span>
      </a>
      <a href="https://twitter.com/jw1dev" target="_blank" class:list={{
        "mx-2 flex justify-center items-center gap-1": !aside,
        "mr-1 block mb-2 flex items-center gap-1": aside
      }} aria-label="Follow me on Twitter/X">
        <span>Twitter</span>
      </a>
      <a href="https://github.com/jw-12138" target="_blank" class:list={{
        "mx-2 flex justify-center items-center gap-1": !aside,
        "mr-1 block mb-2 flex items-center gap-1": aside
      }} aria-label="Follow me on GitHub">
        <span>GitHub</span>
      </a>
    </div>
  </div>
  <div class="items-center flex mt-4" class:list={{
    "justify-center": !aside
  }}>
    <span class="copy_right_year">© {year}</span>&nbsp;&nbsp;<a href="https://jw1.dev">一个球的博客</a>
  </div>
</footer>
