---
---

<header class="max-w-[42rem] mx-auto">
  <div class="pt-[2.8rem]">
    <a href="/" data-name="logo" aria-label="Jacky Wong,Logo" class="block w-8 h-8 dark:text-white text-black">
      <svg viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M29.2456 5.87914C29.255 5.76044 29.0831 5.73393 29.0469 5.84736C22.855 25.257 17.0058 35.1921 6.48406 42.6604C6.39222 42.7256 6.46445 42.872 6.57309 42.8424C20.3894 39.068 28.2784 38.8404 41.7772 42.9629C41.8386 42.9816 41.9033 42.936 41.9079 42.8721C42.7666 30.9331 37.5897 29.1851 27.5648 28.252C27.5103 28.2469 27.4686 28.1988 27.4729 28.1443L29.2456 5.87914Z"></path> <path d="M10.3226 5.89615C10.2895 5.78108 10.1139 5.81501 10.1202 5.9346C10.8138 19.0939 10.9965 22.346 14.8205 32.8695C14.8471 32.9426 14.9451 32.9609 14.9939 32.9003C17.1789 30.1854 18.1834 28.5081 20.766 23.8828C20.7878 23.8437 20.7812 23.7933 20.7495 23.7617C15.4394 18.4543 12.5086 13.4767 10.3226 5.89615Z"></path></svg>
    </a>
    <div class="pt-2 italic text-xs opacity-90 lg:pt-8">
      <div class="lg:block inline">Full-stack Developer</div>
      <div class="inline lg:hidden">/</div>
      <div class="lg:block inline">Music Producer</div>
    </div>
  </div>
</header>
