---
let {highlight} = Astro.props

const navs = [
  {
    name: 'Home',
    href: '/',
    highlight: 'index'
  },
  {
    name: 'Posts',
    href: '/posts',
    highlight: 'posts'
  },
  {
    name: 'Bento',
    href: '/bento',
    highlight: 'bento'
  },
  {
    name: 'Friends',
    href: '/friends',
    highlight: 'friends'
  }
]
---

<nav class="max-w-[42rem] mx-auto">
  <div>
    <div class="flex text-sm pt-2 lg:block lg:pt-[4rem] items-center">
      {
        navs.map((el, index) => {
          return (
            <>
              <div>
                <a href={el.href} style={{
                  opacity: highlight === el.highlight ? 1 : 0.6
                }}>{el.name}</a>
              </div>

              {
                index !== navs.length - 1 && <div class="px-2 lg:px-0 py-2">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled w-3 h-3 opacity-70" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"/>
                  </svg>
                </div>
              }
            </>)
        })
      }
    </div>
  </div>
</nav>
