---
let {highlight} = Astro.props
---

<nav class="max-w-[42rem] mx-auto">
  <div>
    <div class="flex text-sm pt-4 lg:block lg:pt-8">
      <div>
        <a href="/" class={highlight === 'index' ? 'opacity-100' : 'opacity-70'}>首页</a>
      </div>
      <div class="px-2 lg:px-0">/</div>
      <div>
        <a href="/friends" class={highlight === 'friends' ? 'opacity-100' : 'opacity-70'}>友链</a>
      </div>
      <div class="px-2 lg:px-0">/</div>
      <div>
        <a href="/about" class={highlight === 'about' ? 'opacity-100' : 'opacity-70'}>关于我</a>
      </div>
      <div class="px-2 lg:px-0">/</div>
      <div>
        <a href="/atom.xml" class="opacity-70">RSS</a>
      </div>
    </div>
  </div>
</nav>
