---
let { highlight } = Astro.props

const navs = [
  {
    name: 'Home',
    href: '/',
    highlight: 'index'
  },
  {
    name: 'Posts',
    href: '/posts',
    highlight: 'posts'
  },
  {
    name: 'CV',
    href: 'https://cv.jw1.dev',
    highlight: 'cv'
  },
  {
    name: 'RSS',
    href: '/atom.xml',
    highlight: 'rss'
  }
]
---

<nav class="max-w-[42rem] mx-auto">
  <div>
    <div class="flex text-sm pt-2 lg:block lg:pt-[4rem] items-center space-x-4 lg:space-x-0 space-y-0 lg:space-y-4">
      {
        navs.map((el, index) => {
          return (
            <div>
              <a
                href={el.href}
                target={el.href.startsWith('http') ? '_blank' : undefined}
                rel={el.href.startsWith('http') ? 'noopener noreferrer' : undefined}
                style={{
                  opacity: highlight === el.highlight ? 1 : 0.6
                }}
              >
                {el.name}
              </a>
            </div>
          )
        })
      }
    </div>
  </div>
</nav>
