---
import SpotifyStatus from './spotify-status.jsx'
---

<div>
  <SpotifyStatus client:only="solid-js"/>
</div>

<noscript>
  <style>
    #fake_spotify_status {
      display: none;
    }
  </style>
</noscript>

<div id="fake_spotify_status">
  <div class="rounded-[36px] shadow w-[200px] aspect-square h-[200px] bg-white dark:bg-neutral-800 mx-auto overflow-hidden relative box-border border border-white dark:border-neutral-700">

    {/* disc shadow */}
    <div class="z-20 rounded-full aspect-square w-[200px] h-[200px] absolute bottom-[-95px] left-[-1px] shadow-xl rotate-180 opacity-30">
    </div>
    <div data-name={'disc'} class="rounded-full aspect-square w-[200px] h-[200px] absolute bottom-[-95px] left-[-1px] overflow-hidden border border-neutral-300 dark:border-neutral-700 flex justify-center items-center">
      {/* glow */}
      <div class="absolute w-full h-full left-0 top-0 z-[1] rounded-full overflow-hidden blur-[36px] rotate-90">
        <div class="w-full h-full absolute left-0 top-0 z-[1]">
          <div class="h-[100px] flex justify-center">
            <div class="w-[3px] bg-red-400 h-[100px]">
            </div>
            <div class="w-[2px] bg-orange-400 h-[100px]">
            </div>
          </div>
          <div class="h-[100px] flex justify-center">
            <div class="w-[2px] bg-blue-400 h-[100px]">
            </div>
            <div class="w-[3px] bg-purple-400 h-[100px]">
            </div>
          </div>
        </div>
        <div class="opacity-25 w-full h-full scale-125" style={{
          border: '100px solid transparent',
          'border-left': '100px solid #A2A2A2',
          'border-right': '100px solid #A2A2A2'
        }}>
        </div>
      </div>
      <div class="w-[48px] h-[48px] aspect-square border border-neutral-300 dark:border-neutral-800 bg-neutral-100 dark:bg-neutral-700 z-20 flex justify-center items-center rounded-full">
        <div class="w-[26px] h-[26px] aspect-square bg-white dark:bg-neutral-800 z-20 left-[80px] top-[80px] rounded-full">
          <div class="w-full aspect-square h-full border-2 rounded-full border-neutral-300 dark:border-neutral-400 shadow-[inset_0_-2px_4px_rgba(0,0,0,0.1)]">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
