---
import Wakatime from './wakatime.jsx'

const padding = 20
const segmentWidth = (200 - (padding * 2)) / 7
const bottom = 90
---

<div>
  <Wakatime client:only="solid-js"/>
</div>

<noscript>
  <style>
    #fake_wakatime {
      display: none;
    }
  </style>
</noscript>

<div id="fake_wakatime" class="max-w-[672px] w-full">
  <div class="w-[200px] shadow aspect-square h-[200px] rounded-[36px] bg-white dark:bg-neutral-800 border border-white dark:border-neutral-700 hover:shadow-xl">
    <div class="w-full overflow-x-auto" id="waka_scroll_content">
      <div class="h-[60px] p-4">
        <div class="opacity-50 text-[10px] mb-1">
              Weekly Coding Time:
            </div>
        <div class="text-xs font-black italic">
          0hr 0min
        </div>
      </div>
      <svg class="w-full" viewBox="0 0 200 140">
        <path d="M
31.42857142857143 90 C 42.85714285714286 90, 42.857142857142854 90,
54.285714285714285 90 C 65.71428571428571 90, 65.71428571428571 90,
77.14285714285714 90 C 88.57142857142857 90, 88.57142857142857 90,
100 90 C 111.42857142857143 90, 111.42857142857143 90,
122.85714285714286 90 C 134.28571428571428 90, 134.2857142857143 90,
145.71428571428572 90 C 157.14285714285714 90, 157.14285714285714 90,
168.57142857142856 90 " stroke="currentColor" stroke-opacity="1" stroke-width={2} stroke-linecap="round" fill="transparent"/>
      </svg>
    </div>
  </div>
</div>
