---
import Wakatime from './wakatime.jsx'

const padding = 20
const segmentWidth = (200 - (padding * 2)) / 7
const bottom = 90
---

<div>
  <Wakatime client:only="solid-js"/>
</div>

<noscript>
  <style>
    #fake_wakatime {
      display: none;
    }
  </style>
</noscript>

<div id="fake_wakatime" class="max-w-[672px] w-full">
  <div class="w-[200px] shadow aspect-square h-[200px] rounded-[36px] bg-white dark:bg-gradient-to-b from-neutral-900 to-neutral-800 border border-white dark:border-neutral-700 hover:shadow-xl">
    <div class="w-full overflow-x-auto" id="waka_scroll_content">
      <div class="h-[60px] p-4">
        <div class="opacity-50 text-[10px] mb-1">
              Weekly Coding Time:
            </div>
        <div class="text-xs font-black italic">
          -hr -min
        </div>
      </div>
      <svg class="w-full" viewBox="0 0 200 140">
        <path d="M
31.42857142857143 90
168.57142857142856 90 " stroke="currentColor" stroke-opacity="1" stroke-width={2} stroke-linecap="round" fill="transparent"/>
      </svg>
    </div>
  </div>
</div>
