.demo_wrap1 {
    width: 800px;
    margin: 0 auto;
}

.demo_wrap1 input {
    width: 680px;
    height: 40px;
}

.demo_wrap1 button {
    width: 120px;
    border: none;
    height: 40px;
}

.demo_wrap2 {
    width: 100%;
    margin: 0 auto;
}

.demo_wrap2 input {
    width: calc(100% - 120px);
    height: 40px;
}

.demo_wrap2 button {
    width: 120px;
    border: none;
    height: 40px;
}

.dark .demo_wrap1 button {
    color: #fff;
    background-color: #333;
}

.dark .demo_wrap2 button {
    color: #fff;
    background-color: #333;
}