<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}}</title>
    {% include head.html %}
  </head>
  <body>
    <div class="app-wrap">
      <div class="page-wrap">
        <div class="page-content">
          
<pre>
<code>
{{site.posts[0] | jsonify}}
</code>
</pre>
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
