<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{site.title}}</title>
    {% include head.html %}
  </head>
  <body>
    <div id="app">
      <div class="app-wrap">
        {% include header.html %}
        <div class="page-wrap">
          <section class="pages" style="padding-top: 20px">
            <div class="page">
              <div class="wrap">
                <section class="list">
                  <div class="section_title">POSTS</div>
                  <div class="index_post_list">
                    <ul>
                      {% for item in paginator.posts %}
                      <li>
                        <a href="{{ item.id }}.html">
                          <div class="title">{{ item.title }} {%if item.deprecated %} <span class="deprecated">DEPRECATED</span> {% endif %}</div>
                          <div class="date">{{ item.date | date: "%Y-%m-%d" }}</div>
                          <div class="sum" title="This is blog summary">
                            {%if item.desc%}
                            {{item.desc}}
                            {%else%}
                            {{ item.excerpt | strip_html | truncatewords: 20 }}
                            {%endif%}
                          </div>
                          <div class="tag" title="These are blog tags">
                            {% for tag in item.tags %}
                            <span>{{tag}}</span>
                            {% endfor %}
                          </div>
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                    <div class="paginate">
                      {% if paginator.total_pages > 1 %}
                      <ul>
                        {% if paginator.previous_page %}
                        <li>
                          <a href="{{ paginator.previous_page_path }}">Newer</a>
                        </li>
                        {% endif %}
                        {% if paginator.next_page %}
                        <li>
                          <a href="{{ paginator.next_page_path }}">Older</a>
                        </li>
                        {% endif %}
                      </ul>
                      {% endif %}
                      {{paginator.page}} / {{paginator.total_pages}}
                    </div>
                  </div>
                </section>
                <section class="friends">
                  <div class="section_title" title="Below are my friends links">FRIENDS</div>
                  <div class="index_friends_list">
                    <ul>
                      {% for item in site.data.data.links %}
                      <li>
                        <a href="{{item.url}}" target="_blank" rel="friend colleague">
                          <div class="title">{{ item.name }}</div>
                        </a>
                        <span>- {{ item.slogan }}</span>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </section>
              </div>
            </div>
          </section>
          <section class="aside" v-if="!page_small" aria-label="aside">
            <ul>
              {% for item in site.data.data.pages %}
              <li>
                <a href="{{item.url}}" class="dontread" title="{{item.name}}">{{item.icon}} {{item.name}}</a>
              </li>
              {% endfor %}
              <li>
                <a href="/atom.xml" title="RSS feeds" class="dontread" target="_blank">🚩 RSS</a>
              </li>
            </ul>
          </section>
        </div>
        {% include footer.html %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="/assets/js/index.js"></script>
  </body>
</html>
