<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{page.title}} - {{site.title}}</title>
    {% include head.html %}
    {% if page.style %}
      {{page.style}}
    {%endif%}
  </head>
  <body>
    <div id="app">
      <div class="app-wrap">
        {% include header.html %}
        <div class="page-wrap">
          <section class="pages" style="padding-top: 20px">
            <div class="page">
              <div class="wrap">
                <h2 class="page-header">{{page.title}}</h2>
                {%if page.deprecated%}
                <span class="page-deprecated"> This article might contains outdated or misleading contents due to it is tagged as "Deprecated" by its author. </span>
                {%endif%} {%if page.show_date%}
                <div class="page-date">
                  <span>👨‍💻: {{page.date | date: "%Y-%m-%d"}}</span>
                  {% if page.modified %}
                  <span> <br />✍: {{page.modified}}</span>
                  {%endif%}
                </div>
                {%endif%}
                <div class="page-content">{{ content }}</div>
                <div class="page-original">
                  <a class="license" rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width: 0" src="/assets/img/cc.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
                </div>
                <div id="cusdis_thread"
                     data-host="https://cusdis.jw1.dev"
                     data-app-id="e724ea5c-1b42-4ea9-9a16-93bd90adcea9"
                     data-page-id="{{ page.id }}"
                     data-page-url="{{ page.url }}"
                     data-page-title="{{ page.title }}"
                     data-theme="auto"
                ></div>
              </div>
            </div>
          </section>
          <section class="aside" v-if="!page_small" aria-label="aside">
            <ul>
              {% for item in site.data.data.pages %}
              <li>
                <a href="{{item.url}}" title="{{item.name}}">{{item.icon}} {{item.name}}</a>
              </li>
              {% endfor %}
              <li>
                <a href="/atom.xml" title="RSS feeds" target="_blank">🚩 RSS</a>
              </li>
            </ul>
          </section>
        </div>
        {% include footer.html %}
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cusdis.jw1.dev/js/widget/lang/zh-cn.js"></script>
    <script defer src="https://cusdis.jw1.dev/js/cusdis.es.js"></script>
    {%if page.hasComponent%}
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
    <script src="/assets/js/base.js"></script>
    <script src="/assets/js/components/appAudio.js"></script>
    <script src="/assets/js/components/appAudioDiff.js"></script>
    {%endif%}
    <script src="/assets/js/post.js"></script>
  </body>
</html>
