---
import GlobalStyle from "../components/global-style.astro"
import Footer from "../components/footer.astro"
import Header from "../components/header.astro"
import Nav from "../components/nav.astro"
import Meta from "../components/meta.astro"
import Og from "../components/og.astro"
import '../style/main.scss'

let {pageName} = Astro.props
---

<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="generator" content={Astro.generator}/>
  <title>一个球的博客</title>
  <GlobalStyle/>
  <Meta/>
  <Og title="一个球的博客" path="/"/>
</head>
<body>
<a class="absolute left-[-9999px] focus:left-[20px] top-[20px] bg-black px-4 py-2 dark:bg-white dark:text-black" href="#app">跳转至正文区域</a>
<aside>
  <Header/>
  <Nav highlight={pageName === 'index' ? 'index' : ''}/>
  <Footer aside={true}/>
</aside>
<main>
  <div id="app">
    <slot/>
  </div>
  <Footer/>
</main>
</body>
</html>
